In [1]:
import dbcommands.inserts as ins
import dbcommands.selects as sel
import pandas as pd
import duckdb

In [5]:
con = duckdb.connect(database='test.duckdb')

In [4]:
con.close()

In [7]:
sel.monthly_report(con, 1, 1999)

,inn,type,name,snils,fio,sum,part,type_2,status,title,day
0,213123,normal school,School #1,123123,Sampe Samplovich,123,1.0,Osn,Rab,job,True

In [12]:
con.execute('delete from job where true')

In [6]:
ins.to_job(con, ['123123', 'job', '1999-01-01', 123, 213123, 'Osn', 'Rab', 1.00, True])