In [1]:
import pandas as pd
import numpy as np
from openpyxl import Workbook
from openpyxl.utils.dataframe import dataframe_to_rows as df_to_row

In [30]:
from szp_funcs import load_month, print_df, path_to_data, load_groups, get_otv, get_fio, gku_inn

In [9]:
ped, isp, aup = load_groups('input')
months = ['may']
otv = get_otv()
fio = get_fio()

In [10]:
res = load_month(months[0])

In [11]:
res

,inn,snils,sum_may,job_may,day_may,type_may,stv_may,status_may,status_pref_may,wday_may,nday_may
0,5003021368,001-171-362 75,58500.00,Помощник воспитателя,1.0,Основное место работы,1.0,Работа,Работа,18.0,18.0
1,5003021368,001-191-281 85,112184.88,Учитель,1.0,Основное место работы,1.0,Работа,Работа,18.0,18.0
2,5003021368,001-244-107 65,118681.78,Учитель,0.0,Основное место работы,1.0,Работа,Работа,15.0,18.0
3,5003021368,001-263-234 77,79619.03,Воспитатель,0.0,Основное место работы,1.0,Отпуск основной,Работа,16.0,18.0
4,5003021368,001-322-594 80,37907.50,Специалист,0.0,Основное место работы,1.0,Работа,Работа,9.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...
188387,9718071371,198-317-420 02,110851.00,Бухгалтер,1.0,Основное место работы,1.0,Работа,Работа,18.0,18.0
188388,9718071371,199-418-719 35,153851.00,Бухгалтер,1.0,Основное место работы,1.0,Работа,Работа,18.0,18.0
188389,9718071371,205-412-630 13,209199.25,Начальник группы,0.0,Основное место работы,1.0,Работа,Работа,13.0,18.0
188390,9718071371,206-135-584 35,27528.33,Бухгалтер,0.0,Основное место работы,1.0,NaN,NaN,6.0,11.0
188391,9718071371,207-424-489 53,62789.11,Бухгалтер,0.0,Основное место работы,1.0,Работа,Работа,8.0,18.0

In [32]:
min_teach = res[(res['job_' + months[0]] == 'Учитель') & (res['day_' + months[0]] == 1) & (res['status_' + months[0]] == 'Работа') & (res['status_' + months[0]] == res['status_pref_' + months[0]]) & (res['stv_' + months[0]] >= 1) & (res['inn'].isin(gku_inn) == False)]
min_teach = min_teach[min_teach['sum_' + months[0]] < 84100]

In [31]:
min_nped = res[(res['job_' + months[0]].isin(ped) == False) & (res['day_' + months[0]] == 1) & (res['status_' + months[0]] == 'Работа') & (res['status_' + months[0]] == res['status_pref_' + months[0]]) & (res['stv_' + months[0]] >= 1) & (res['inn'].isin(gku_inn) == False)]
min_nped = min_nped[min_nped['sum_' + months[0]] < 54500]

In [33]:
min_nped

,inn,snils,sum_may,job_may,day_may,type_may,stv_may,status_may,status_pref_may,wday_may,nday_may
6735,5074019220,139-146-525 69,48487.50,Помощник воспитателя,1.0,Основное место работы,1.0,Работа,Работа,36.0,18.0
6736,5074019220,139-493-677 14,48487.50,Помощник воспитателя,1.0,Основное место работы,1.0,Работа,Работа,36.0,18.0
14082,7704231631,016-699-636 96,54432.48,Уборщик служебных и производственных помещений,1.0,Основное место работы,1.0,Работа,Работа,18.0,18.0
14094,7704231631,019-260-199 42,53564.64,Помощник воспитателя,1.0,Основное место работы,1.0,Работа,Работа,18.0,18.0
18612,7707290995,155-935-057 89,27248.00,Педагог семейного детского сада,1.0,Основное место работы,1.0,Работа,Работа,18.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...
172499,7736110982,210-414-238 91,50400.00,Уборщик служебных и производственных помещений,1.0,Основное место работы,1.0,Работа,Работа,18.0,18.0
172500,7736110982,211-740-367 22,50400.00,Уборщик служебных и производственных помещений,1.0,Основное место работы,1.0,Работа,Работа,18.0,18.0
173592,7736228173,143-934-683 83,53204.44,Помощник воспитателя,1.0,Основное место работы,1.0,Работа,Работа,18.0,18.0
175525,7737027335,202-464-588 40,52130.44,Уборщик территории,1.0,Основное место работы,1.0,Работа,Работа,23.0,23.0
182372,7743085720,184-301-711 46,54000.00,Специалист,1.0,Основное место работы,1.0,Работа,Работа,18.0,18.0

In [34]:
min_teach

,inn,snils,sum_may,job_may,day_may,type_may,stv_may,status_may,status_pref_may,wday_may,nday_may
3530,5003096290,149-084-699 03,65271.69,Учитель,1.0,Основное место работы,1.000000,Работа,Работа,23.0,23.0
9587,7702058364,158-061-578 75,75256.00,Учитель,1.0,Основное место работы,1.000000,Работа,Работа,18.0,18.0
9618,7702058364,178-639-947 48,77925.76,Учитель,1.0,Основное место работы,1.000000,Работа,Работа,18.0,18.0
19261,7708155205,131-809-328 44,78289.32,Учитель,1.0,Основное место работы,1.000000,Работа,Работа,18.0,18.0
23298,7713039050,065-050-414 25,83377.33,Учитель,1.0,Основное место работы,1.000000,Работа,Работа,18.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...
180861,7743024406,155-786-904 19,82000.00,Учитель,1.0,Основное место работы,1.000000,Работа,Работа,18.0,18.0
180881,7743024406,176-436-349 95,81475.00,Учитель,1.0,Основное место работы,1.000000,Работа,Работа,18.0,18.0
184342,7743911729,025-026-813 13,81301.48,Учитель,1.0,Основное место работы,1.166667,Работа,Работа,18.0,18.0
184372,7743911729,045-759-718 00,83434.78,Учитель,1.0,Основное место работы,1.055556,Работа,Работа,18.0,18.0
186352,9715206976,002-458-533 18,80467.11,Учитель,1.0,Основное место работы,1.000000,Работа,Работа,18.0,18.0

In [35]:
min_nped_out = pd.merge(pd.merge(min_nped, fio, on='snils', how='left').drop_duplicates(['inn', 'snils']), otv, how='left', on='inn')

In [36]:
min_nped_out

,inn,snils,sum_may,job_may,day_may,type_may,stv_may,status_may,status_pref_may,wday_may,nday_may,fio,okr,otv,sch_name,ekis
0,5074019220,139-146-525 69,48487.50,Помощник воспитателя,1.0,Основное место работы,1.0,Работа,Работа,36.0,18.0,Явецкая Екатерина Сергеевна,ТиНАО,Горбанева Светлана Васильевна,ГБОУ Школа № 2073,12905.0
1,5074019220,139-493-677 14,48487.50,Помощник воспитателя,1.0,Основное место работы,1.0,Работа,Работа,36.0,18.0,Шестакова Елена Сергеевна,ТиНАО,Горбанева Светлана Васильевна,ГБОУ Школа № 2073,12905.0
2,7704231631,016-699-636 96,54432.48,Уборщик служебных и производственных помещений,1.0,Основное место работы,1.0,Работа,Работа,18.0,18.0,Исхакова Наиля Харисовна,ЦАО,Майильян Елена Александровна,ГБОУ Школа № 171,9651.0
3,7704231631,019-260-199 42,53564.64,Помощник воспитателя,1.0,Основное место работы,1.0,Работа,Работа,18.0,18.0,Никишина Юлия Анатольевна,ЦАО,Майильян Елена Александровна,ГБОУ Школа № 171,9651.0
4,7707290995,155-935-057 89,27248.00,Педагог семейного детского сада,1.0,Основное место работы,1.0,Работа,Работа,18.0,18.0,Ваганова Мария Александровна,ЦАО,Майильян Елена Александровна,ГБОУ Школа № 1501,13937.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,7736110982,210-414-238 91,50400.00,Уборщик служебных и производственных помещений,1.0,Основное место работы,1.0,Работа,Работа,18.0,18.0,Мамедова Айгул Маккамовна,ЮЗАО,Застаева Таисия Саналовна,"ГБПОУ ""Воробьевы горы""",12754.0
149,7736110982,211-740-367 22,50400.00,Уборщик служебных и производственных помещений,1.0,Основное место работы,1.0,Работа,Работа,18.0,18.0,Арзыкулова Гулзат Алимбаевна,ЮЗАО,Застаева Таисия Саналовна,"ГБПОУ ""Воробьевы горы""",12754.0
150,7736228173,143-934-683 83,53204.44,Помощник воспитателя,1.0,Основное место работы,1.0,Работа,Работа,18.0,18.0,Сагинадзе Лейла Вахтанговна,ЮЗАО,Застаева Таисия Саналовна,ГБОУ Школа № 192,12988.0
151,7737027335,202-464-588 40,52130.44,Уборщик территории,1.0,Основное место работы,1.0,Работа,Работа,23.0,23.0,Край Илья Алексеевич,ЮАО,Рагимова Виктория Олеговна,ГАОУ Школа № 548,13866.0
152,7743085720,184-301-711 46,54000.00,Специалист,1.0,Основное место работы,1.0,Работа,Работа,18.0,18.0,Дульнев Владимир Владимирович,САО,Рагимова Виктория Олеговна,ГБПОУ КАС № 7,13211.0

In [37]:
print_df(min_nped_out, '54,5-' + months[0])

In [26]:
min_teach_out = pd.merge(pd.merge(min_teach, fio, on='snils', how='left').drop_duplicates(['inn', 'snils']), otv, how='left', on='inn')

In [27]:
min_teach_out

,inn,snils,sum_may,job_may,day_may,type_may,stv_may,status_may,status_pref_may,wday_may,nday_may,fio,okr,otv,sch_name,ekis
0,5003096290,149-084-699 03,65271.69,Учитель,1.0,Основное место работы,1.000000,Работа,Работа,23.0,23.0,Трифонова Наталия Феодосьевна,ТиНАО,Горбанева Светлана Васильевна,ГБОУ Школа № 2065,12161.0
1,7702058364,158-061-578 75,75256.00,Учитель,1.0,Основное место работы,1.000000,Работа,Работа,18.0,18.0,Хитрова Александра Владиславовна,ЦАО,Майильян Елена Александровна,ГБОУ Школа № 1540,13933.0
2,7702058364,178-639-947 48,77925.76,Учитель,1.0,Основное место работы,1.000000,Работа,Работа,18.0,18.0,Илькив Андрей Ярославович,ЦАО,Майильян Елена Александровна,ГБОУ Школа № 1540,13933.0
3,7708155205,131-809-328 44,78289.32,Учитель,1.0,Основное место работы,1.000000,Работа,Работа,18.0,18.0,Андреев Антон Валерьевич,ЦАО,Майильян Елена Александровна,ГБОУ Школа № 1284,13749.0
4,7713039050,065-050-414 25,83377.33,Учитель,1.0,Основное место работы,1.000000,Работа,Работа,18.0,18.0,Некрасова Елена Викторовна,САО,Рагимова Виктория Олеговна,ГБОУ Школа № 1576,13684.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,7743024406,155-786-904 19,82000.00,Учитель,1.0,Основное место работы,1.000000,Работа,Работа,18.0,18.0,Волкова Татьяна Валерьевна,САО,Рагимова Виктория Олеговна,ГБОУ Школа № 1251 имени генерала Шарля де Голля,13651.0
105,7743024406,176-436-349 95,81475.00,Учитель,1.0,Основное место работы,1.000000,Работа,Работа,18.0,18.0,Горюнова Евгения Станиславовна,САО,Рагимова Виктория Олеговна,ГБОУ Школа № 1251 имени генерала Шарля де Голля,13651.0
106,7743911729,025-026-813 13,81301.48,Учитель,1.0,Основное место работы,1.166667,Работа,Работа,18.0,18.0,Державина Надежда Анатольевна,САО,Рагимова Виктория Олеговна,ГБОУ Школа № 1159,13371.0
107,7743911729,045-759-718 00,83434.78,Учитель,1.0,Основное место работы,1.055556,Работа,Работа,18.0,18.0,Мансурова Фяймя Адизяновна,САО,Рагимова Виктория Олеговна,ГБОУ Школа № 1159,13371.0
108,9715206976,002-458-533 18,80467.11,Учитель,1.0,Основное место работы,1.000000,Работа,Работа,18.0,18.0,Ушаков Сергей Дмитриевич,СВАО,Горбанева Светлана Васильевна,ГБОУ Школа Марьина Роща,13706.0

In [29]:
print_df(min_teach_out, '84,1-' + months[0])