In [1]:
from openpyxl import Workbook, load_workbook
import pandas as pd
from openpyxl.utils.dataframe import dataframe_to_rows as df_to_row
import numpy as np

In [2]:
from szp_funcs import load_month, re_szp, re_szp_job, load_groups, print_df, months_year, custom_create_res, re_fot, re_fot_job

In [3]:
months = months_year[:4]

In [4]:
res = custom_create_res(months, load_month)

In [5]:
ped, isp, aup = load_groups('input')

In [6]:
months

['jan', 'feb', 'mar', 'apr']

In [7]:
'sum_' + months[-1] in res.columns

True

In [8]:
fot = 0
fot += np.nan
fot += 10
fot

nan

In [9]:
res['szp'] = res.apply(lambda row: re_szp(row, months), axis=1)
res['szp_teach'] = res.apply(lambda row: re_szp_job(row, months, ['Учитель']), axis=1)
res['fot'] = res.apply(lambda row: re_fot(row, months), axis=1)
res['fot_aup'] = res.apply(lambda row: re_fot_job(row, months, aup), axis=1)
res['fot_isp'] = res.apply(lambda row: re_fot_job(row, months, isp), axis=1)

In [10]:
res

,inn,snils,sum_jan,job_jan,day_jan,type_jan,stv_jan,status_jan,status_pref_jan,sum_feb,...,stv_apr,status_apr,status_pref_apr,wday_apr,nday_apr,szp,szp_teach,fot,fot_aup,fot_isp
0,5003021368,001-171-362 75,51468.76,Помощник воспитателя,0.0,Основное место работы,1.0,Работа,Работа,41289.47,...,1.0,Работа,Работа,21.0,21.0,60000.000000,NaN,212758.23,NaN,212758.23
1,5003021368,001-191-281 85,106626.88,Учитель,1.0,Основное место работы,1.0,Работа,Работа,139753.92,...,1.0,Работа,Работа,21.0,21.0,117423.893333,117423.893333,434872.04,NaN,434872.04
2,5003021368,001-244-107 65,109394.87,Учитель,1.0,Основное место работы,1.0,Работа,Работа,109541.13,...,1.0,Работа,Работа,21.0,21.0,106633.992500,106633.992500,426535.97,NaN,426535.97
3,5003021368,001-263-234 77,74520.00,Воспитатель,1.0,Основное место работы,1.0,Работа,Работа,81178.00,...,1.0,Работа,Работа,21.0,21.0,80309.000000,NaN,321236.00,NaN,321236.00
4,5003021368,001-322-594 80,83013.52,Специалист,1.0,Основное место работы,1.0,Работа,Работа,75815.00,...,1.0,Работа,Работа,21.0,21.0,79110.425000,NaN,316441.70,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175916,9718071371,143-168-262 49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,Работа,Работа,21.0,21.0,107526.000000,NaN,107526.00,NaN,NaN
175917,9718071371,145-089-428 75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,Работа,NaN,13.0,13.0,NaN,NaN,48035.62,NaN,NaN
175918,9718071371,145-624-332 54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,Работа,Работа,21.0,21.0,299871.000000,NaN,299871.00,NaN,NaN
175919,9718071371,158-325-680 86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,Работа,Работа,NaN,NaN,NaN,NaN,60000.00,NaN,60000.00
175920,9718071371,198-317-420 02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,Работа,Работа,21.0,21.0,77596.000000,NaN,77596.00,NaN,NaN

In [11]:
print_df(res, 'new accum')