In [1]:
from openpyxl import Workbook, load_workbook
import pandas as pd
from openpyxl.utils.dataframe import dataframe_to_rows as df_to_row
import numpy as np

In [2]:
from szp_funcs import print_df, path_to_data, szp_teach, szp_vosp, create_full_res

In [3]:
months = ['jan', 'feb', 'mar', 'apr']

In [4]:
temp = create_full_res(months)

In [5]:
temp['szp_teach'] = temp.apply(lambda row: szp_teach(row, months), axis=1)

In [6]:
temp['szp_vosp'] = temp.apply(lambda row: szp_vosp(row, months), axis=1)

In [7]:
temp

,inn,snils,sum_jan,stv_jan,job_jan,status_jan,sum_feb,stv_feb,job_feb,status_feb,sum_mar,stv_mar,job_mar,status_mar,sum_apr,stv_apr,job_apr,status_apr,szp_teach,szp_vosp
0,7720258623,001-005-586 64,140968.88,1.0,Заведующий хозяйством,Работа,124968.88,1.0,Заведующий хозяйством,Работа,60434.74,1.0,Заведующий хозяйством,Работа,114968.88,1.0,Заведующий хозяйством,Работа,NaN,NaN
1,7718309983,001-005-786 70,55448.10,1.0,Учитель,Работа,61833.04,1.0,Учитель,Болезнь,85809.12,1.0,Учитель,Работа,72633.85,1.0,Учитель,Работа,68931.0275,NaN
2,7735601120,001-008-669 78,53228.87,1.0,Учитель,Работа,66928.99,1.0,Учитель,Болезнь,75124.20,1.0,Учитель,NaN,39898.73,1.0,Учитель,Болезнь,58795.1975,NaN
3,7736614860,001-010-312 25,164214.30,1.0,Учитель,Работа,146547.14,1.0,Учитель,Работа,160599.30,1.0,Учитель,Работа,147344.30,1.0,Учитель,Работа,154676.2600,NaN
4,7723169690,001-011-996 67,161441.63,1.0,Учитель,Работа,167905.34,1.0,Учитель,Работа,166752.15,1.0,Учитель,Работа,156752.15,1.0,Учитель,Работа,163212.8175,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176569,7734248978,215-303-287 19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38191.17,1.0,Уборщик служебных и производственных помещений,Работа,NaN,NaN
176570,7727191008,215-303-665 25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47243.64,1.0,Уборщик территории,Работа,NaN,NaN
176571,7734233259,215-465-719 66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50969.40,1.0,Уборщик территории,Работа,NaN,NaN
176572,7734233259,215-573-458 67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19127.26,1.0,Рабочий по комплексному обслуживанию и ремонту...,Работа,NaN,NaN
176573,7713229928,503-825-669 82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13888.80,1.0,Учитель,Работа,13888.8000,NaN

In [13]:
buckets_teach_old = [(0, 80), (80, 90), (90, 100), (100, 110), (110, 120), (120, 130), (130, 140), (140, 150), (150, 1000)]
buckets_teach_new = [(0, 90), (90, 100), (100, 110), (110, 120), (120, 130), (130, 140), (140, 150), (150, 1000)]
buckets_vosp_old = [(0, 50), (50, 60), (60, 70), (70, 80), (80, 90), (90, 100), (100, 110), (110, 120), (120, 130), (130, 140), (140, 150), (150, 1000)]
buckets_vosp_new = [(0, 60), (60, 80), (80, 100), (100, 110), (110, 120), (120, 130), (130, 140), (140, 150), (150, 1000)]
teach_szp_levels_old = {}
teach_szp_levels_new = {}
vosp_szp_levels_old = {}
vosp_szp_levels_new = {}

In [28]:
def teach_szp_grp(row):
    for bucket in buckets_teach_old:
        if (row['szp_teach'] >= (bucket[0]*1000)) and (row['szp_teach'] < (bucket[1]*1000)):
            return str(bucket[0]) + '-' + str(bucket[1])
    return np.nan

In [27]:
def vosp_szp_grp(row):
    for bucket in buckets_vosp_old:
        if row['szp_vosp'] >= bucket[0]*1000 and row['szp_vosp'] < bucket[1]*1000:
            return str(bucket[0]) + '-' + str(bucket[1])
    return np.nan

In [8]:
for bucket in buckets_teach_old:
    teach_szp_levels_old[str(bucket[0]) + '-' + str(bucket[1])] = temp[temp['szp_teach'].between(bucket[0] * 1000, bucket[1] * 1000, inclusive='left')]['snils'].count()
teach_szp_levels_old

{'0-80': 3463,
 '80-90': 5455,
 '90-100': 7019,
 '100-110': 7729,
 '110-120': 8102,
 '120-130': 7460,
 '130-140': 6155,
 '140-150': 4261,
 '150-1000': 7087}

In [14]:
teach_szp_levels_old = [[i[0], i[1]] for i in teach_szp_levels_old.items()]

In [15]:
teach_szp_levels_old

[['0-80', 3463],
 ['80-90', 5455],
 ['90-100', 7019],
 ['100-110', 7729],
 ['110-120', 8102],
 ['120-130', 7460],
 ['130-140', 6155],
 ['140-150', 4261],
 ['150-1000', 7087]]

In [16]:
df_teach = pd.DataFrame(teach_szp_levels_old)

In [18]:
print_df(df_teach, 'Уровни зп учителей ' + months[-1])

In [9]:
for bucket in buckets_vosp_old:
    vosp_szp_levels_old[str(bucket[0]) + '-' + str(bucket[1])] = temp[temp['szp_vosp'].between(bucket[0] * 1000, bucket[1] * 1000, inclusive='left')]['snils'].count()
vosp_szp_levels_old

{'0-50': 1779,
 '50-60': 4666,
 '60-70': 7538,
 '70-80': 6833,
 '80-90': 4254,
 '90-100': 2526,
 '100-110': 1452,
 '110-120': 824,
 '120-130': 522,
 '130-140': 284,
 '140-150': 142,
 '150-1000': 259}

In [19]:
vosp_szp_levels_old = [[i[0], i[1]] for i in vosp_szp_levels_old.items()]
df_vosp = pd.DataFrame(vosp_szp_levels_old)
print_df(df_vosp, 'Уровни зп воспитателей ' + months[-1])

In [30]:
temp['teach_grp'] = temp.apply(lambda row: teach_szp_grp(row), axis=1)
temp['vosp_grp'] = temp.apply(lambda row: vosp_szp_grp(row), axis=1)

In [29]:
teach_szp_grp({'szp_teach': 60000})

'0-80'

In [32]:
temp[temp.vosp_grp.isna() == False]

,inn,snils,sum_jan,stv_jan,job_jan,status_jan,sum_feb,stv_feb,job_feb,status_feb,...,job_mar,status_mar,sum_apr,stv_apr,job_apr,status_apr,szp_teach,szp_vosp,teach_grp,vosp_grp
8,7729775619,001-020-711 41,65993.00,1.0,Воспитатель,Работа,60020.00,1.0,Воспитатель,Работа,...,Воспитатель,Работа,66562.24,1.0,Воспитатель,Работа,NaN,65143.81,NaN,60-70
12,7722006029,001-022-115 35,102056.36,1.0,Воспитатель,Работа,83463.86,1.0,Воспитатель,Работа,...,Воспитатель,Работа,83463.86,1.0,Воспитатель,Работа,NaN,88633.88,NaN,80-90
30,7715303782,001-035-437 67,133642.60,1.0,Воспитатель,Работа,138642.60,1.0,Воспитатель,Работа,...,Воспитатель,Работа,133642.60,1.0,Воспитатель,Работа,NaN,134892.60,NaN,130-140
35,7729410368,001-041-816 63,53033.20,1.0,Воспитатель,Работа,73628.04,1.0,Воспитатель,Работа,...,Воспитатель,Работа,57952.30,1.0,Воспитатель,Работа,NaN,62516.46,NaN,60-70
46,7713782829,001-071-718 77,102839.34,1.0,Воспитатель,Работа,94089.34,1.0,Воспитатель,Работа,...,Воспитатель,Работа,91589.34,1.0,Воспитатель,Работа,NaN,95964.34,NaN,90-100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176500,7719872211,191-330-277 47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,74806.82,1.0,Воспитатель,Работа,NaN,74806.82,NaN,70-80
176509,7729783137,192-319-382 80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,59000.00,1.0,Воспитатель,Работа,NaN,59000.00,NaN,50-60
176533,7727844923,197-915-596 46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,24022.90,1.0,Воспитатель,Работа,NaN,24022.90,NaN,0-50
176544,7727236153,203-060-110 74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,53304.59,1.0,Воспитатель,Работа,NaN,53304.59,NaN,50-60
176562,7716771230,213-595-814 71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,38826.94,1.0,Воспитатель,Работа,NaN,38826.94,NaN,0-50

In [35]:
print_df(temp, 'Накоп + данные по уч и восп' + months[-1])