In [8]:
from openpyxl import Workbook, load_workbook
import pandas as pd
from openpyxl.utils.dataframe import dataframe_to_rows as df_to_row
import numpy as np
from pathlib import Path

In [9]:
from szp_funcs import print_df, path_to_data, szp_teach, szp_vosp, create_full_res, months_year

In [24]:
months = months_year[:5]
path_to_dir = str(Path().absolute()) + '\\Гребенки ' + months[-1] + '\\'

In [32]:
path_to_dir

'c:\\Users\\PetukhovMD\\Documents\\code\\montly reports\\counting\\Гребенки may\\'

In [12]:
temp = create_full_res(months)

In [13]:
temp['szp_teach'] = temp.apply(lambda row: szp_teach(row, months), axis=1)

In [14]:
temp['szp_vosp'] = temp.apply(lambda row: szp_vosp(row, months), axis=1)

In [15]:
temp

               inn           snils    sum_jan  ...  status_may   szp_teach   szp_vosp
0       7720258623  001-005-586 64  140968.88  ...      Работа         NaN        NaN
1       7718309983  001-005-786 70   55448.10  ...      Работа   71964.822        NaN
2       7735601120  001-008-669 78   53228.87  ...      Работа   63876.342        NaN
3       7736614860  001-010-312 25  164214.30  ...      Работа  153203.092        NaN
4       7723169690  001-011-996 67  161441.63  ...      Работа  162318.642        NaN
...            ...             ...        ...  ...         ...         ...        ...
177220  7724733647  216-130-718 19        NaN  ...      Работа         NaN        NaN
177221  7725144330  216-136-836 48        NaN  ...      Работа         NaN   85430.10
177222  7724294781  216-136-978 61        NaN  ...         NaN         NaN  147676.55
177223  7724917860  216-146-250 33        NaN  ...      Работа  129688.000        NaN
177224  7724942834  216-162-153 27        NaN  ...      Работа         NaN        NaN

[177225 rows x 24 columns]

In [16]:
buckets_teach_old = [(0, 80), (80, 90), (90, 100), (100, 110), (110, 120), (120, 130), (130, 140), (140, 150), (150, 1000)]
buckets_teach_new = [(0, 90), (90, 100), (100, 110), (110, 120), (120, 130), (130, 140), (140, 150), (150, 1000)]
buckets_vosp_old = [(0, 50), (50, 60), (60, 70), (70, 80), (80, 90), (90, 100), (100, 110), (110, 120), (120, 130), (130, 140), (140, 150), (150, 1000)]
buckets_vosp_new = [(0, 60), (60, 80), (80, 100), (100, 110), (110, 120), (120, 130), (130, 140), (140, 150), (150, 1000)]
teach_szp_levels_old = {}
teach_szp_levels_new = {}
vosp_szp_levels_old = {}
vosp_szp_levels_new = {}

In [17]:
def teach_szp_grp(row):
    for bucket in buckets_teach_old:
        if (row['szp_teach'] >= (bucket[0]*1000)) and (row['szp_teach'] < (bucket[1]*1000)):
            return str(bucket[0]) + '-' + str(bucket[1])
    return np.nan

In [18]:
def vosp_szp_grp(row):
    for bucket in buckets_vosp_old:
        if row['szp_vosp'] >= bucket[0]*1000 and row['szp_vosp'] < bucket[1]*1000:
            return str(bucket[0]) + '-' + str(bucket[1])
    return np.nan

In [19]:
for bucket in buckets_teach_old:
    teach_szp_levels_old[str(bucket[0]) + '-' + str(bucket[1])] = temp[temp['szp_teach'].between(bucket[0] * 1000, bucket[1] * 1000, inclusive='left')]['snils'].count()
teach_szp_levels_old

{'0-80': 2764,
 '80-90': 4967,
 '90-100': 6735,
 '100-110': 7661,
 '110-120': 8225,
 '120-130': 7693,
 '130-140': 6433,
 '140-150': 4672,
 '150-1000': 7587}

In [20]:
teach_szp_levels_old = [[i[0], i[1]] for i in teach_szp_levels_old.items()]

In [21]:
teach_szp_levels_old

[['0-80', 2764],
 ['80-90', 4967],
 ['90-100', 6735],
 ['100-110', 7661],
 ['110-120', 8225],
 ['120-130', 7693],
 ['130-140', 6433],
 ['140-150', 4672],
 ['150-1000', 7587]]

In [22]:
df_teach = pd.DataFrame(teach_szp_levels_old)

In [25]:
print_df(df_teach, path_to_dir + 'Уровни зп учителей ' + months[-1])

In [26]:
for bucket in buckets_vosp_old:
    vosp_szp_levels_old[str(bucket[0]) + '-' + str(bucket[1])] = temp[temp['szp_vosp'].between(bucket[0] * 1000, bucket[1] * 1000, inclusive='left')]['snils'].count()
vosp_szp_levels_old

{'0-50': 1357,
 '50-60': 4386,
 '60-70': 7701,
 '70-80': 6961,
 '80-90': 4409,
 '90-100': 2551,
 '100-110': 1469,
 '110-120': 865,
 '120-130': 546,
 '130-140': 293,
 '140-150': 157,
 '150-1000': 267}

In [27]:
vosp_szp_levels_old = [[i[0], i[1]] for i in vosp_szp_levels_old.items()]
df_vosp = pd.DataFrame(vosp_szp_levels_old)
print_df(df_vosp, path_to_dir + 'Уровни зп воспитателей ' + months[-1])

In [28]:
temp['teach_grp'] = temp.apply(lambda row: teach_szp_grp(row), axis=1)
temp['vosp_grp'] = temp.apply(lambda row: vosp_szp_grp(row), axis=1)

In [29]:
teach_szp_grp({'szp_teach': 60000})

'0-80'

In [30]:
temp[temp.vosp_grp.isna() == False]

               inn           snils    sum_jan  ...    szp_vosp teach_grp vosp_grp
8       7729775619  001-020-711 41   65993.00  ...   69735.522       NaN    60-70
12      7722006029  001-022-115 35  102056.36  ...   87599.876       NaN    80-90
30      7715303782  001-035-437 67  133642.60  ...  134642.600       NaN  130-140
35      7729410368  001-041-816 63   53033.20  ...   61603.628       NaN    60-70
46      7713782829  001-071-718 77  102839.34  ...   95589.340       NaN   90-100
...            ...             ...        ...  ...         ...       ...      ...
177156  7743021300  191-940-674 97        NaN  ...   43032.890       NaN     0-50
177165  7731185543  194-951-665 25        NaN  ...   32760.000       NaN     0-50
177207  7728007477  214-517-729 50        NaN  ...   85836.640       NaN    80-90
177221  7725144330  216-136-836 48        NaN  ...   85430.100       NaN    80-90
177222  7724294781  216-136-978 61        NaN  ...  147676.550       NaN  140-150

[30962 rows x 26 columns]

In [31]:
print_df(temp, path_to_dir + 'Накоп + данные по уч и восп' + months[-1])