In [1]:
from openpyxl import Workbook, load_workbook
import pandas as pd
from openpyxl.utils.dataframe import dataframe_to_rows as df_to_row
import numpy as np
from pathlib import Path

In [7]:
from szp_funcs import print_df, path_to_data, szp_teach, szp_vosp, months_year, custom_create_res, load_month

In [3]:
months = months_year[:6]
path_to_dir = str(Path().absolute()) + '\\Гребенки ' + months[-1] + '\\'

In [4]:
path_to_dir

'c:\\Users\\PetukhovMD\\Documents\\code\\montly reports\\counting\\Гребенки jun\\'

In [8]:
temp = custom_create_res(months, load_month)

In [9]:
temp['szp_teach'] = temp.apply(lambda row: szp_teach(row, months), axis=1)

In [64]:
def szp_vosp(row, months, vosp = ['Старший воспитатель', 'Воспитатель']):
    sum_szp = 0
    cnt = 0
    for month in months:
        if row['job_' + month] in vosp:
            cnt += 1
            sum_szp += row['sum_' + month]
    if cnt == 0:
        return np.nan
    return sum_szp / cnt

In [27]:
vosps = pd.read_excel(path_to_data + 'jun_kadr.xlsx')

In [31]:
vosp = ['Старший воспитатель', 'Воспитатель']
vosps = vosps[vosps.job.isin(vosp)]['snils'].to_list()

AttributeError: 'list' object has no attribute 'job'

In [65]:
temp['szp_vosp'] = temp.apply(lambda row: szp_vosp(row, months), axis=1)

In [33]:
temp

,inn,snils,sum_jan,sum_all_jan,type_jan,stv_jan,status_jan,status_pref_jan,wday_jan,nday_jan,...,status_pref_jun,wday_jun,nday_jun,spec_jun,day_jun,job_jun,szp_teach,szp_vosp,teach_grp,vosp_grp
0,5003021368,001-171-362 75,51468.76,51468.76,Основное место работы,1.0,Болезнь,Работа,11.0,16.0,...,Работа,3.0,21.0,NaN,0.0,Помощник воспитателя,NaN,NaN,NaN,NaN
1,5003021368,001-191-281 85,106626.88,106626.88,Основное место работы,1.0,Работа,Работа,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5003021368,001-244-107 65,109394.87,109394.87,Основное место работы,1.0,Работа,Работа,16.0,16.0,...,Отсутствие с сохранением оплаты,13.0,21.0,начальных классов,0.0,Учитель,112744.328333,NaN,110-120,NaN
3,5003021368,001-263-234 77,74520.00,74520.00,Основное место работы,1.0,Работа,Работа,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5003021368,001-322-594 80,83013.52,83013.52,Основное место работы,1.0,Работа,Работа,17.0,16.0,...,Работа,21.0,21.0,NaN,1.0,Специалист,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171488,9718071371,144-210-752 18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,17.0,17.0,NaN,1.0,Бухгалтер,NaN,NaN,NaN,NaN
171489,9718071371,145-941-023 60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Работа,NaN,NaN,NaN,0.0,Учитель,30000.000000,NaN,0-80,NaN
171490,9718071371,163-839-219 93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,17.0,17.0,NaN,1.0,Бухгалтер,NaN,NaN,NaN,NaN
171491,9718071371,168-147-261 85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Работа,NaN,NaN,NaN,0.0,Учитель,30000.000000,NaN,0-80,NaN
171492,9718071371,216-479-337 84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Работа,17.0,21.0,NaN,0.0,ведущий Бухгалтер,NaN,NaN,NaN,NaN

In [55]:
buckets_teach_old = [(0, 80), (80, 90), (90, 100), (100, 110), (110, 120), (120, 130), (130, 140), (140, 150), (150, 1000)]
buckets_teach_new = [(0, 90), (90, 100), (100, 110), (110, 120), (120, 130), (130, 140), (140, 150), (150, 1000)]
buckets_vosp_old = [(0, 50), (50, 60), (60, 70), (70, 80), (80, 90), (90, 100), (100, 110), (110, 120), (120, 130), (130, 140), (140, 150), (150, 1000)]
buckets_vosp_new = [(0, 60), (60, 80), (80, 100), (100, 110), (110, 120), (120, 130), (130, 140), (140, 150), (150, 1000)]
teach_szp_levels_old = {}
teach_szp_levels_new = {}
vosp_szp_levels_old = {}
vosp_szp_levels_new = {}

In [35]:
def teach_szp_grp(row):
    for bucket in buckets_teach_old:
        if (row['szp_teach'] >= (bucket[0]*1000)) and (row['szp_teach'] < (bucket[1]*1000)):
            return str(bucket[0]) + '-' + str(bucket[1])
    return np.nan

In [36]:
def vosp_szp_grp(row):
    for bucket in buckets_vosp_old:
        if (row['szp_vosp'] >= bucket[0]*1000) and (row['szp_vosp'] < bucket[1]*1000):
            return str(bucket[0]) + '-' + str(bucket[1])
    return np.nan

In [56]:
for bucket in buckets_teach_old:
    teach_szp_levels_old[str(bucket[0]) + '-' + str(bucket[1])] = temp[temp['szp_teach'].between(bucket[0] * 1000, bucket[1] * 1000, inclusive='left')]['snils'].count()
teach_szp_levels_old

{'0-80': 2199,
 '80-90': 4226,
 '90-100': 6103,
 '100-110': 7170,
 '110-120': 8052,
 '120-130': 7913,
 '130-140': 6648,
 '140-150': 5043,
 '150-1000': 8722}

In [38]:
teach_szp_levels_old = [[i[0], i[1]] for i in teach_szp_levels_old.items()]

In [39]:
teach_szp_levels_old

[['0-80', 2199],
 ['80-90', 4226],
 ['90-100', 6103],
 ['100-110', 7170],
 ['110-120', 8052],
 ['120-130', 7913],
 ['130-140', 6648],
 ['140-150', 5043],
 ['150-1000', 8722]]

In [40]:
df_teach = pd.DataFrame(teach_szp_levels_old)

In [41]:
print_df(df_teach, path_to_dir + 'Уровни зп учителей ' + months[-1])

In [66]:
temp.szp_vosp.describe()

count     31892.000000
mean      74750.263600
std       21943.009416
min      -52045.270000
25%       61169.564167
50%       71148.190000
75%       84441.323750
max      358447.566667
Name: szp_vosp, dtype: float64

In [50]:
temp['snils']

0         001-171-362 75
1         001-191-281 85
2         001-244-107 65
3         001-263-234 77
4         001-322-594 80
               ...
171488    144-210-752 18
171489    145-941-023 60
171490    163-839-219 93
171491    168-147-261 85
171492    216-479-337 84
Name: snils, Length: 171493, dtype: object

In [67]:
for bucket in buckets_vosp_old:
    vosp_szp_levels_old[str(bucket[0]) + '-' + str(bucket[1])] = temp[(temp['szp_vosp'].between(bucket[0] * 1000, bucket[1] * 1000, inclusive='left'))]['snils'].count()
vosp_szp_levels_old

{'0-50': 1979,
 '50-60': 5115,
 '60-70': 7944,
 '70-80': 6794,
 '80-90': 4170,
 '90-100': 2466,
 '100-110': 1325,
 '110-120': 855,
 '120-130': 503,
 '130-140': 295,
 '140-150': 150,
 '150-1000': 285}

In [68]:
vosp_szp_levels_old = [[i[0], i[1]] for i in vosp_szp_levels_old.items()]
df_vosp = pd.DataFrame(vosp_szp_levels_old)
print_df(df_vosp, path_to_dir + 'Уровни зп воспитателей ' + months[-1])

In [44]:
temp['teach_grp'] = temp.apply(lambda row: teach_szp_grp(row), axis=1)
temp['vosp_grp'] = temp.apply(lambda row: vosp_szp_grp(row), axis=1)

In [45]:
teach_szp_grp({'szp_teach': 60000})

'0-80'

In [46]:
temp[temp.vosp_grp.isna() == False]

Empty DataFrame
Columns: [inn, snils, sum_jan, sum_all_jan, type_jan, stv_jan, status_jan, status_pref_jan, wday_jan, nday_jan, spec_jan, day_jan, job_jan, sum_feb, sum_all_feb, type_feb, stv_feb, status_feb, status_pref_feb, wday_feb, nday_feb, spec_feb, day_feb, job_feb, sum_mar, sum_all_mar, type_mar, stv_mar, status_mar, status_pref_mar, wday_mar, nday_mar, spec_mar, day_mar, job_mar, sum_apr, sum_all_apr, type_apr, stv_apr, status_apr, status_pref_apr, wday_apr, nday_apr, spec_apr, day_apr, job_apr, sum_may, sum_all_may, type_may, stv_may, status_may, status_pref_may, wday_may, nday_may, spec_may, day_may, job_may, sum_jun, sum_all_jun, type_jun, stv_jun, status_jun, status_pref_jun, wday_jun, nday_jun, spec_jun, day_jun, job_jun, szp_teach, szp_vosp, teach_grp, vosp_grp]
Index: []

[0 rows x 72 columns]

In [47]:
print_df(temp, path_to_dir + 'Накоп + данные по уч и восп' + months[-1])