In [1]:
import pandas as pd
import numpy as np
from openpyxl import Workbook
from openpyxl.utils.dataframe import dataframe_to_rows as df_to_row

In [6]:
from szp_funcs import get_fio, print_df, load_groups, gku_inn, path_to_docs, to_double, path_to_data

In [3]:
months = ['mar']

In [8]:
relevant_types = ['Оклад (должностной оклад)',
'Тарифная ставка',
'Оклад(Должностной оклад)пл.ул.',
'Оклад педагога по тарификации',
'Оклад педагога по тарификации ДО',
'Должностной оклад по тарификации',
'Должностной оклад',
'Оклад при индивидуальном обучении',
'Оплата по окладу'
]

In [7]:
inns = [7734241813,
7734132109,
7733126624,
7725144330,
7723103106,
7719894832,
7718261587,
7718259267,
7715789629,
7712013764,
7704853583
]

In [17]:
def create_res(file):
    df = pd.read_excel(path_to_data + file + '.xlsx')
    sample = df[(df.inn.isin(inns)) & (df.pay_type.isin(relevant_types))]
    sums = sample.groupby(['inn', 'snils']).sum().reset_index()
    sums = pd.merge(sums, sample[sample.type == 'Основное место работы'], how='left', on=['inn', 'snils'])
    return sums

In [18]:
res = create_res('pay_type_mar')

In [20]:
res = res.drop(columns=['type', 'pay_type', 'sum_y']).rename(columns={'sum_x':'sum'})

In [21]:
res[res.snils == '019-678-392 01']

             inn           snils      sum
4434  7734241813  019-678-392 01  50400.0

In [22]:
print_df(res, 'Базовая часть 11 школ')