In [1]:
months = ['jun']

In [2]:
from openpyxl import Workbook, load_workbook
import pandas as pd
from openpyxl.utils.dataframe import dataframe_to_rows as df_to_row
from fuzzywuzzy import process, fuzz
import numpy as np
from math import ceil

In [3]:
from szp_funcs import load_month_all, custom_create_res, print_df, get_fio, get_otv, gku_inn, load_groups, day_types, path_to_data, path_to_docs

In [4]:
ppl = load_month_all(months[-1])
ped, isp, aup = load_groups('input')
ppl[ppl['type_' + months[-1]] == day_types[1]]

Empty DataFrame
Columns: [inn, snils, sum_jun, sum_all_jun, type_jun, stv_jun, status_jun, status_pref_jun, wday_jun, nday_jun, spec_jun, day_jun, job_jun]
Index: []

In [5]:
ppl[ppl.snils == '033-839-515 65']

,inn,snils,sum_jun,sum_all_jun,type_jun,stv_jun,status_jun,status_pref_jun,wday_jun,nday_jun,spec_jun,day_jun,job_jun
48262,7717043346,033-839-515 65,338917.01,474528.22,Основное место работы,1.0,Отпуск основной,Работа,12.0,21.0,NaN,0,Ведущий научный сотрудник

In [6]:
ans = ppl[(ppl['sum_' + months[-1]] > 200000) & (ppl['inn'].isin(gku_inn) == False) & (ppl['job_' + months[-1]].isin(aup + ped) == False) & (ppl['status_' + months[-1]].isin(['Увольнение']) == False) & (ppl['type_' + months[-1]] == day_types[0]) & (ppl['status_' + months[-1]].isna() == False) & (ppl['status_pref_' + months[-1]].isna() == False)]

In [7]:
ans

,inn,snils,sum_jun,sum_all_jun,type_jun,stv_jun,status_jun,status_pref_jun,wday_jun,nday_jun,spec_jun,day_jun,job_jun
47,5003021368,011-870-135 11,209603.58,295199.86,Основное место работы,1.0,Работа,Работа,22.0,21.0,NaN,1,Инженер-сметчик
60,5003021368,015-826-692 62,218670.00,218670.00,Основное место работы,1.0,Работа,Работа,21.0,21.0,NaN,1,Контрактный управляющий
632,5003021368,143-108-314 14,215450.38,215450.38,Основное место работы,1.0,Работа,Работа,11.0,21.0,NaN,0,Ведущий экономист
1469,5003021495,106-994-733 95,241270.57,241270.57,Основное место работы,1.0,Работа,Работа,17.0,21.0,NaN,0,Ведущий экономист
2428,5003021640,075-365-019 69,274728.57,274728.57,Основное место работы,1.0,Работа,Работа,21.0,21.0,NaN,1,Ведущий экономист
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173230,7743937357,026-884-480 89,280000.00,280000.00,Основное место работы,1.0,Работа,Работа,21.0,21.0,NaN,1,Начальник отдела
173402,7743937357,168-604-273 87,230789.40,559139.24,Основное место работы,1.0,Работа,Работа,24.0,25.0,NaN,0,Заведующий отделением
174543,9715206976,074-727-739 99,203924.69,203924.69,Основное место работы,1.0,Работа,Работа,16.0,21.0,NaN,0,Экономист
174579,9715206976,108-570-380 54,330327.14,519620.84,Основное место работы,1.0,Работа,Работа,21.0,21.0,NaN,1,Ведущий специалист
174698,9715206976,138-449-742 99,204080.13,204080.13,Основное место работы,1.0,Работа,Работа,20.0,21.0,NaN,0,Начальник отдела кадров

In [8]:
print_df(ans, 'ans ' + months[-1])

In [9]:
otv = get_otv()
#otv = otv.drop('ekis', axis=1)

In [10]:
otv

,inn,okr,otv,sch_name,ekis
0,7743085543,САО,Рагимова Виктория Олеговна,ГБОУ Спецшкола № 1,13964.0
1,7713229928,САО,Горбанева Светлана Васильевна,ГБОУ ПМКК,13136.0
2,7704271031,ЦАО,Майильян Елена Александровна,ГБПОУ ПТ № 2,13277.0
3,7714093099,САО,Горбанева Светлана Васильевна,ГКОУ СКОШИ № 2,13139.0
4,7709438340,ЦАО,Майильян Елена Александровна,ГБПОУ КСУ № 3,11681.0
...,...,...,...,...,...
935,7728113806,NaN,NaN,ИКИ РАН,NaN
936,7728013512,NaN,NaN,ИПУ РАН,NaN
937,7717067481,NaN,NaN,ГБОУ ШОР № 1,NaN
938,7729133548,NaN,NaN,СУНЦ МГУ,NaN
939,7734121555,NaN,NaN,ФГАУ «УИСП» Минобороны России,NaN

In [11]:
fio = get_fio()
fio

                 snils                                fio
0       001-879-913 57  Солодовникова Виктория Дмитриевна
1       001-896-420 39          Серегина Ольга Васильевна
2       002-050-383 67          Шепелева Ольга Алексеевна
3       002-065-271 85          Галицина Ольга Викторовна
4       002-845-525 25             Рубцова Ирина Ивановна
...                ...                                ...
185453  193-592-846 21        Бокова Вероника Геннадьевна
185454  161-301-903 15          Филатов Иван Владимирович
185455  057-135-721 55         Гуляева Анна Александровна
185456  190-942-402 76  Ильющенков Александр Владимирович
185457  195-979-726 70        Гололоб Геннадий Арсеньевич

[185458 rows x 2 columns]

In [12]:
pretty_ppl = pd.merge(ans, fio, how='left', on='snils')
pretty_ppl = pd.merge(pretty_ppl, otv, how='left', on='inn')
pretty_ppl = pretty_ppl.drop_duplicates(['snils'])

In [13]:
pretty_ppl

,inn,snils,sum_jun,sum_all_jun,type_jun,stv_jun,status_jun,status_pref_jun,wday_jun,nday_jun,spec_jun,day_jun,job_jun,fio,okr,otv,sch_name,ekis
0,5003021368,011-870-135 11,209603.58,295199.86,Основное место работы,1.0,Работа,Работа,22.0,21.0,NaN,1,Инженер-сметчик,Агеев Анатолий Юрьевич,ТиНАО,Горбанева Светлана Васильевна,ГБОУ Школа № 1788,12778.0
1,5003021368,015-826-692 62,218670.00,218670.00,Основное место работы,1.0,Работа,Работа,21.0,21.0,NaN,1,Контрактный управляющий,Фурсова Анна Аркадьевна,ТиНАО,Горбанева Светлана Васильевна,ГБОУ Школа № 1788,12778.0
2,5003021368,143-108-314 14,215450.38,215450.38,Основное место работы,1.0,Работа,Работа,11.0,21.0,NaN,0,Ведущий экономист,Шеламова Юлия Сергеевна,ТиНАО,Горбанева Светлана Васильевна,ГБОУ Школа № 1788,12778.0
3,5003021495,106-994-733 95,241270.57,241270.57,Основное место работы,1.0,Работа,Работа,17.0,21.0,NaN,0,Ведущий экономист,Кваснюк Анастасия Васильевна,ТиНАО,Горбанева Светлана Васильевна,ГБОУ Школа № 2070,14484.0
4,5003021640,075-365-019 69,274728.57,274728.57,Основное место работы,1.0,Работа,Работа,21.0,21.0,NaN,1,Ведущий экономист,Васина Виктория Викторовна,ТиНАО,Горбанева Светлана Васильевна,ГБОУ Школа № 1392 им. Д.В. Рябинкина,13438.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,7743937357,026-884-480 89,280000.00,280000.00,Основное место работы,1.0,Работа,Работа,21.0,21.0,NaN,1,Начальник отдела,Алексашин Александр Леонидович,САО,Рагимова Виктория Олеговна,ГБПОУ ПК им. Н.Н. Годовикова,12748.0
590,7743937357,168-604-273 87,230789.40,559139.24,Основное место работы,1.0,Работа,Работа,24.0,25.0,NaN,0,Заведующий отделением,Макаров Александр Анатольевич,САО,Рагимова Виктория Олеговна,ГБПОУ ПК им. Н.Н. Годовикова,12748.0
591,9715206976,074-727-739 99,203924.69,203924.69,Основное место работы,1.0,Работа,Работа,16.0,21.0,NaN,0,Экономист,Петрунина Лидия Сергеевна,СВАО,Горбанева Светлана Васильевна,ГБОУ Школа Марьина Роща,13706.0
592,9715206976,108-570-380 54,330327.14,519620.84,Основное место работы,1.0,Работа,Работа,21.0,21.0,NaN,1,Ведущий специалист,Валитов Адиль Халитович,СВАО,Горбанева Светлана Васильевна,ГБОУ Школа Марьина Роща,13706.0
593,9715206976,138-449-742 99,204080.13,204080.13,Основное место работы,1.0,Работа,Работа,20.0,21.0,NaN,0,Начальник отдела кадров,Смирнова Екатерина Андреевна,СВАО,Горбанева Светлана Васильевна,ГБОУ Школа Марьина Роща,13706.0

In [14]:
print_df(pretty_ppl[['sch_name', 'okr', 'inn', 'fio', 'job_' + months[-1], 'sum_' + months[-1], 'stv_' + months[-1], 'otv', 'snils']], '200+_' + months[-1] + '_cute')

In [15]:
aup

['Главный бухгалтер',
 'Директор',
 'Директор филиала',
 'Заведующий',
 'Заместитель главного бухгалтера',
 'Заместитель директора',
 'Заместитель начальника',
 'Заместитель начальника - начальник управления',
 'Заместитель руководителя',
 'Начальник',
 'Первый заместитель директора',
 'Первый заместитель начальника',
 'Первый заместитель руководителя',
 'Первый проректор',
 'Президент',
 'Проректор',
 'Ректор',
 'Руководитель']

In [16]:
full_res = pd.read_excel(path_to_data + months[-1] + '.xlsx')
nach_res = pd.read_excel(path_to_data + months[-1] + '_nach.xlsx')

In [17]:
nach_grps = pd.read_excel(path_to_docs + 'pay_type.xlsx', sheet_name='Все').rename(columns={'Вид ': 'type', 'Наименование ': 'name'})[['type', 'name']]

In [18]:
snils_of_int = ans['snils'].unique().tolist()

In [19]:
t_ans = ans.rename(columns={
    'sum_may': 'sum',
    'type_may': 'type',
    'job_may': 'job'
})[['inn', 'snils']]

In [20]:
t_ans

               inn           snils
47      5003021368  011-870-135 11
60      5003021368  015-826-692 62
632     5003021368  143-108-314 14
1469    5003021495  106-994-733 95
2428    5003021640  075-365-019 69
...            ...             ...
173230  7743937357  026-884-480 89
173402  7743937357  168-604-273 87
174543  9715206976  074-727-739 99
174579  9715206976  108-570-380 54
174698  9715206976  138-449-742 99

[593 rows x 2 columns]

In [21]:
int_full_res = full_res[full_res['snils'].isin(snils_of_int)][['inn', 'snils', 'sum', 'job', 'stv', 'type']]
int_nach_res = nach_res[nach_res['snils'].isin(snils_of_int)]

In [22]:
int_full_res

,inn,snils,sum,job,stv,type
177,7720016173,005-739-529 55,218348.26,Ведущий экономист,1.0,Основное место работы
459,7720016173,133-083-248 27,232328.60,Специалист по сетевому администрированию,1.2,Основное место работы
1461,7717043346,001-354-056 82,229338.95,Начальник отдела,1.0,Основное место работы
1463,7717043346,001-354-128 81,190297.14,Начальник отдела,1.0,Основное место работы
1464,7717043346,001-354-128 81,31091.76,Преподаватель,0.3,Внутреннее совместительство
...,...,...,...,...,...,...
171573,7743085744,121-657-172 39,201826.48,Заведующий отделением,1.0,Основное место работы
171591,7743085744,127-026-731 35,223294.08,Заведующий отделением,1.0,Основное место работы
173036,7713229928,022-576-287 47,212401.90,Дежурный по режиму,1.0,Основное место работы
173176,7713229928,128-380-296 68,205583.34,Администратор,1.0,Основное место работы
173310,7713229928,172-347-520 63,213058.69,Заведующий учебной частью,1.0,Основное место работы

In [23]:
int_nach_res

,inn,snils,type,pre_name,nach_sum,kfo,nach_type,job
1168,7720016173,005-739-529 55,Основное место работы,Выплата за результативность работы в предыдуще...,70000.00,2.0,Стимулирующие выплаты,Ведущий экономист
1169,7720016173,005-739-529 55,Основное место работы,Оклад (должностной оклад),108348.26,4.0,Базовая часть,Ведущий экономист
1170,7720016173,005-739-529 55,Основное место работы,Премия по результатам работы за месяц,40000.00,2.0,Стимулирующие выплаты,Ведущий экономист
2953,7720016173,133-083-248 27,Основное место работы,Выплата за результативность работы в предыдуще...,37000.00,2.0,Стимулирующие выплаты,Специалист по сетевому администрированию
2954,7720016173,133-083-248 27,Основное место работы,Доплата за увеличение объема работ,35000.00,4.0,Компенсационные выплаты,Специалист по сетевому администрированию
...,...,...,...,...,...,...,...,...
1026518,7713229928,128-380-296 68,Основное место работы,Премия за подготовку и проведение важных мероп...,20000.00,1.0,Стимулирующие выплаты,Администратор
1027150,7713229928,172-347-520 63,Основное место работы,Денежная компенсация за неиспользованный отпуск,57831.84,1.0,Базовая часть,Заведующий учебной частью
1027151,7713229928,172-347-520 63,Основное место работы,Доплата за руководство научными и трорческими ...,24285.71,1.0,Компенсационные выплаты,Заведующий учебной частью
1027152,7713229928,172-347-520 63,Основное место работы,Оплата по окладу,105238.10,1.0,Базовая часть,Заведующий учебной частью
1027153,7713229928,172-347-520 63,Основное место работы,Средний заработок при предоставлении ежегодног...,314862.24,1.0,Базовая часть,Заведующий учебной частью

In [24]:
def matcher(row, look_up, name):
    ans = process.extractOne(row[name], look_up, scorer=fuzz.WRatio, score_cutoff=60)
    if ans:
        return ans[0]
    return ans

In [25]:
nach_grps

,type,name
0,Базовая часть,Оклад
1,Базовая часть,Должностной оклад
2,Базовая часть,Ставка заработной платы
3,Базовая часть,Тарифная ставка
4,Компенсационные выплаты,Доплата за совмещение профессий (должностей)
5,Компенсационные выплаты,Доплата за расширение зон обслуживания
6,Компенсационные выплаты,Доплата за увеличение объема работ
7,Компенсационные выплаты,Доплата за выполнение обязанностей временно от...
8,Компенсационные выплаты,Доплата за работу в выходные и праздничные дни
9,Компенсационные выплаты,Доплата за работу в ночное время
10,Компенсационные выплаты,Доплата за работу во вредных и (или) опасных у...
11,Компенсационные выплаты,Доплата за сверхурочную работу
12,Компенсационные выплаты,Доплата работникам в возрасте до восемнадцати ...
13,Компенсационные выплаты,Доплата за работу с обучающимися с ограниченны...
14,Компенсационные выплаты,Доплата за индивидуальное обучение на дому обу...
15,Компенсационные выплаты,Доплата за проверку письменных работ
16,Компенсационные выплаты,Доплата за заведование кабинетами (лаборатория...
17,Компенсационные выплаты,Доплата за руководство научными и творческими ...
18,Компенсационные выплаты,Доплата за выполнение функций классного руково...
19,Компенсационные выплаты,Ежемесячное городское вознаграждение за выполн...
20,Компенсационные выплаты,Федеральное ежемесячное денежное вознаграждени...
21,Компенсационные выплаты,"Компенсация педагогическим работникам, участву..."
22,Стимулирующие выплаты,Выплата за наличие квалификационной категории
23,Стимулирующие выплаты,Выплата за наличие ученой степени и (или) учен...
24,Стимулирующие выплаты,Выплата молодым специалистам в течение первых ...
25,Стимулирующие выплаты,Выплата за наличие почетного звания или отрасл...
26,Стимулирующие выплаты,Выплата за стаж непрерывной работы
27,Стимулирующие выплаты,Выплата за результативность работы в предыдуще...
28,Стимулирующие выплаты,Городская надбавка за активное участие в разви...
29,Стимулирующие выплаты,Премия за выполнение особо важных и ответствен...
30,Стимулирующие выплаты,Премия за качественную и результативную работу...
31,Стимулирующие выплаты,Премия за организацию максимального удовлетвор...
32,Стимулирующие выплаты,Премия за особую структуру контингента обучающ...
33,Стимулирующие выплаты,"Премия за результаты работы, выразившиеся в ос..."
34,Стимулирующие выплаты,Премия за подготовку и проведение важных мероп...
35,Стимулирующие выплаты,Премия по результатам работы за год
36,Стимулирующие выплаты,Премия по результатам работы за квартал
37,Стимулирующие выплаты,Премия по результатам работы за месяц.
38,Стимулирующие выплаты,Премия за участие в развитии и управлении сист...
39,Социальные выплаты и гарантии,Возмещение расходов при использовании личного ...
40,Социальные выплаты и гарантии,"Выходное пособие при ликвидации учреждения, со..."
41,Социальные выплаты и гарантии,Выходное пособие в размере двухнедельного срёд...
42,Социальные выплаты и гарантии,Денежная компенсация за задержку выплаты зараб...
43,Социальные выплаты и гарантии,Денежная компенсация за неиспользованный отпуск
44,Социальные выплаты и гарантии,Материальная помощь работникам
45,Социальные выплаты и гарантии,Материальная помощь членам семьи работника
46,Социальные выплаты и гарантии,Оплата дополнительных выходных дней работникам...
47,Социальные выплаты и гарантии,Пособие на погребение
48,Социальные выплаты и гарантии,Пособие по временной нетрудоспособности (первы...
49,Социальные выплаты и гарантии,Средний заработок за дни сдачи крови и её комп...
50,Социальные выплаты и гарантии,Средний заработок при направлении в служебную ...
51,Социальные выплаты и гарантии,Средний заработок при предоставлении ежегодног...
52,Социальные выплаты и гарантии,Средний заработок при предоставлении учебного ...
53,Социальные выплаты и гарантии,Средний заработок в других случаях.

In [26]:
namer = pd.DataFrame(int_nach_res['pre_name'].unique(), columns=['pre_name'])
namer['new_name'] = namer.apply(lambda row: matcher(row, nach_grps['name'].to_list(), 'pre_name'), axis=1)
namer.fillna('Не преведено', inplace=True)
namer = pd.merge(namer, nach_grps, how='left', left_on='new_name', right_on='name').drop('name',axis=1).fillna('Не преведено')

In [27]:
namer[namer.type == 'Не преведено']

,pre_name,new_name,type
13,Контракт № ВЕМР/АF/2.5/1-2-2 от 12 ноября 2021 г.,Не преведено,Не преведено
15,Контракт № ВЕМР/АF/2.5/1-3-3 от 15 декабря 202...,Не преведено,Не преведено
18,Договор № 19-29-14146/20 от 18.01.2021,Не преведено,Не преведено
20,ВСХ Договор № Б/ТНД-31/5/22 от 31 мая 2022,Не преведено,Не преведено
21,"Соглашение № 075-15-2021-1302/3 программа ""При...",Не преведено,Не преведено
22,ВСХ Госконтракт № 7192411 от 27 июня 2019 г.,Не преведено,Не преведено
23,Договор № 19-29-14230/20 от 27.01.2021,Не преведено,Не преведено
24,"Соглашение № 075-15-2021-1302/1 программа ""При...",Не преведено,Не преведено
142,Платные услуги Московск долголетие,Не преведено,Не преведено
159,Компенсация отпуска (Ежегодный дополнительный ...,Не преведено,Не преведено
178,Дополнительный отпуск (оплачиваемый),Не преведено,Не преведено
191,дополнительный оплачиваемый отпуск,Не преведено,Не преведено
205,Персональный коэффициент Кпер,Не преведено,Не преведено
206,Персональный коэффициент Кпер внебюджет,Не преведено,Не преведено
208,Педнагрузка (бюджет),Не преведено,Не преведено
209,Педнагрузка (внебюджет),Не преведено,Не преведено
210,Перерасчет часов по ф.3 (выверка часов),Не преведено,Не преведено
226,ВКР внебюджет,Не преведено,Не преведено
246,Повышающий коэффициент,Не преведено,Не преведено
250,Программа проф.подготовки по профессии,Не преведено,Не преведено

In [28]:
t_nach = pd.merge(int_nach_res, namer, how='left').drop(['pre_name', 'new_name', 'kfo'], axis=1).groupby(['inn', 'snils', 'type', 'nach_type']).sum().unstack()
t_nach.columns = [i[1] for i in t_nach.columns]
t_nach.reset_index(inplace=True)

In [29]:
t_nach

,inn,snils,type,Базовая часть,Компенсационные выплаты,По среднему заработку,Стимулирующие выплаты
0,5003021368,011-870-135 11,Основное место работы,221896.28,14603.58,NaN,58700.00
1,5003021368,015-826-692 62,Основное место работы,158670.00,NaN,NaN,60000.00
2,5003021368,143-108-314 14,Основное место работы,215450.38,NaN,NaN,NaN
3,5003021495,106-994-733 95,Внутреннее совместительство,33987.21,31420.45,NaN,NaN
4,5003021495,106-994-733 95,Основное место работы,91316.92,82522.18,NaN,2023.81
...,...,...,...,...,...,...,...
720,9715206976,074-727-739 99,Внутреннее совместительство,24506.94,NaN,NaN,NaN
721,9715206976,074-727-739 99,Основное место работы,136667.27,42750.48,NaN,NaN
722,9715206976,108-570-380 54,Внутреннее совместительство,56299.66,NaN,NaN,NaN
723,9715206976,108-570-380 54,Основное место работы,463321.18,NaN,NaN,NaN
724,9715206976,138-449-742 99,Основное место работы,134082.27,57142.86,NaN,12855.00

In [30]:
big_ans = pd.merge(int_full_res, t_nach, right_on=['inn', 'snils', 'type'], left_on=['inn', 'snils', 'type'], how='left')

In [31]:
big_ans

,inn,snils,sum,job,stv,type,Базовая часть,Компенсационные выплаты,По среднему заработку,Стимулирующие выплаты
0,7720016173,005-739-529 55,218348.26,Ведущий экономист,1.0,Основное место работы,108348.26,NaN,NaN,110000.00
1,7720016173,133-083-248 27,232328.60,Специалист по сетевому администрированию,1.2,Основное место работы,253745.92,57050.00,NaN,88600.00
2,7717043346,001-354-056 82,229338.95,Начальник отдела,1.0,Основное место работы,151338.95,NaN,NaN,78000.00
3,7717043346,001-354-128 81,190297.14,Начальник отдела,1.0,Основное место работы,38868.57,NaN,NaN,151428.57
4,7717043346,001-354-128 81,31091.76,Преподаватель,0.3,Внутреннее совместительство,31091.76,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
726,7743085744,121-657-172 39,201826.48,Заведующий отделением,1.0,Основное место работы,518979.04,47250.00,NaN,3000.00
727,7743085744,127-026-731 35,223294.08,Заведующий отделением,1.0,Основное место работы,97982.08,54272.00,NaN,71040.00
728,7713229928,022-576-287 47,212401.90,Дежурный по режиму,1.0,Основное место работы,265614.68,66641.90,NaN,20000.00
729,7713229928,128-380-296 68,205583.34,Администратор,1.0,Основное место работы,157200.00,28383.34,NaN,20000.00
730,7713229928,172-347-520 63,213058.69,Заведующий учебной частью,1.0,Основное место работы,477932.18,24285.71,NaN,NaN

In [32]:
pretty_big_ans = pd.merge(big_ans, fio, how='left', on='snils')

In [33]:
pretty_big_ans = pd.merge(pretty_big_ans, otv, how='left', on='inn')

In [34]:
pretty_big_ans

,inn,snils,sum,job,stv,type,Базовая часть,Компенсационные выплаты,По среднему заработку,Стимулирующие выплаты,fio,okr,otv,sch_name,ekis
0,7720016173,005-739-529 55,218348.26,Ведущий экономист,1.0,Основное место работы,108348.26,NaN,NaN,110000.00,Панина Елена Игоревна,ВАО,Шехмуратова Евгения Евгеньевна,ГБОУ Школа № 1502,14262.0
1,7720016173,133-083-248 27,232328.60,Специалист по сетевому администрированию,1.2,Основное место работы,253745.92,57050.00,NaN,88600.00,Тикунов Алексей Анатольевич,ВАО,Шехмуратова Евгения Евгеньевна,ГБОУ Школа № 1502,14262.0
2,7717043346,001-354-056 82,229338.95,Начальник отдела,1.0,Основное место работы,151338.95,NaN,NaN,78000.00,Журбенко Константин Юрьевич,СВАО,Горбанева Светлана Васильевна,ГАОУ ВО МГПУ,13270.0
3,7717043346,001-354-128 81,190297.14,Начальник отдела,1.0,Основное место работы,38868.57,NaN,NaN,151428.57,Крюкова Наталья Юрьевна,СВАО,Горбанева Светлана Васильевна,ГАОУ ВО МГПУ,13270.0
4,7717043346,001-354-128 81,31091.76,Преподаватель,0.3,Внутреннее совместительство,31091.76,NaN,NaN,NaN,Крюкова Наталья Юрьевна,СВАО,Горбанева Светлана Васильевна,ГАОУ ВО МГПУ,13270.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
728,7743085744,121-657-172 39,201826.48,Заведующий отделением,1.0,Основное место работы,518979.04,47250.00,NaN,3000.00,Дроздов Сергей Александрович,САО,Рагимова Виктория Олеговна,ГБПОУ ТПСК им. В. М. Максимчука,13443.0
729,7743085744,127-026-731 35,223294.08,Заведующий отделением,1.0,Основное место работы,97982.08,54272.00,NaN,71040.00,Стебунов Сергей Викторович,САО,Рагимова Виктория Олеговна,ГБПОУ ТПСК им. В. М. Максимчука,13443.0
730,7713229928,022-576-287 47,212401.90,Дежурный по режиму,1.0,Основное место работы,265614.68,66641.90,NaN,20000.00,Ибрагимова Галия Зинатулловна,САО,Горбанева Светлана Васильевна,ГБОУ ПМКК,13136.0
731,7713229928,128-380-296 68,205583.34,Администратор,1.0,Основное место работы,157200.00,28383.34,NaN,20000.00,Воронина Надежда Евгеньевна,САО,Горбанева Светлана Васильевна,ГБОУ ПМКК,13136.0
732,7713229928,172-347-520 63,213058.69,Заведующий учебной частью,1.0,Основное место работы,477932.18,24285.71,NaN,NaN,Турсунов Жахонгир Кутлугбекович,САО,Горбанева Светлана Васильевна,ГБОУ ПМКК,13136.0

In [35]:
pd.merge(t_ans, pretty_big_ans, how='left')

,inn,snils,sum,job,stv,type,Базовая часть,Компенсационные выплаты,По среднему заработку,Стимулирующие выплаты,fio,okr,otv,sch_name,ekis
0,5003021368,011-870-135 11,209603.58,Инженер-сметчик,1.00,Основное место работы,221896.28,14603.58,NaN,58700.00,Агеев Анатолий Юрьевич,ТиНАО,Горбанева Светлана Васильевна,ГБОУ Школа № 1788,12778.0
1,5003021368,015-826-692 62,218670.00,Контрактный управляющий,1.00,Основное место работы,158670.00,NaN,NaN,60000.00,Фурсова Анна Аркадьевна,ТиНАО,Горбанева Светлана Васильевна,ГБОУ Школа № 1788,12778.0
2,5003021368,143-108-314 14,215450.38,Ведущий экономист,1.00,Основное место работы,215450.38,NaN,NaN,NaN,Шеламова Юлия Сергеевна,ТиНАО,Горбанева Светлана Васильевна,ГБОУ Школа № 1788,12778.0
3,5003021495,106-994-733 95,175862.91,Ведущий экономист,1.00,Основное место работы,91316.92,82522.18,NaN,2023.81,Кваснюк Анастасия Васильевна,ТиНАО,Горбанева Светлана Васильевна,ГБОУ Школа № 2070,14484.0
4,5003021495,106-994-733 95,65407.66,Экономист,0.50,Внутреннее совместительство,33987.21,31420.45,NaN,NaN,Кваснюк Анастасия Васильевна,ТиНАО,Горбанева Светлана Васильевна,ГБОУ Школа № 2070,14484.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713,9715206976,074-727-739 99,179417.75,Экономист,1.00,Основное место работы,136667.27,42750.48,NaN,NaN,Петрунина Лидия Сергеевна,СВАО,Горбанева Светлана Васильевна,ГБОУ Школа Марьина Роща,13706.0
714,9715206976,074-727-739 99,24506.94,Специалист по кадрам,0.25,Внутреннее совместительство,24506.94,NaN,NaN,NaN,Петрунина Лидия Сергеевна,СВАО,Горбанева Светлана Васильевна,ГБОУ Школа Марьина Роща,13706.0
715,9715206976,108-570-380 54,297714.64,Ведущий специалист,1.00,Основное место работы,463321.18,NaN,NaN,NaN,Валитов Адиль Халитович,СВАО,Горбанева Светлана Васильевна,ГБОУ Школа Марьина Роща,13706.0
716,9715206976,108-570-380 54,32612.50,Специалист административно-хозяйственной деяте...,0.25,Внутреннее совместительство,56299.66,NaN,NaN,NaN,Валитов Адиль Халитович,СВАО,Горбанева Светлана Васильевна,ГБОУ Школа Марьина Роща,13706.0
717,9715206976,138-449-742 99,204080.13,Начальник отдела кадров,1.00,Основное место работы,134082.27,57142.86,NaN,12855.00,Смирнова Екатерина Андреевна,СВАО,Горбанева Светлана Васильевна,ГБОУ Школа Марьина Роща,13706.0

In [37]:
print_df(pd.merge(t_ans, pretty_big_ans, how='left'), '200+ с начилениями ' + months[-1])