In [1]:
import pandas as pd
import numpy as np
from openpyxl import Workbook
from openpyxl.utils.dataframe import dataframe_to_rows as df_to_row
import pathlib

In [2]:
from szp_funcs import print_df, path_to_docs

In [4]:
res = pd.read_excel(path_to_docs + 'ppl_with_status.xlsx')

In [5]:
res

,inn,snils,type,status
0,7734408766,170-535-764 66,Основное место работы,Работа
1,7734408766,170-535-764 66,Основное место работы,Работа
2,7734408766,159-429-243 98,Основное место работы,Работа
3,7734408766,054-243-407 30,Основное место работы,Работа
4,7734408766,016-429-807 50,Основное место работы,Работа
...,...,...,...,...
216518,7722069597,016-022-613 91,Основное место работы,Работа
216519,7722069597,176-492-809 15,Основное место работы,Работа
216520,7722069597,151-620-104 08,Основное место работы,Работа
216521,7722069597,113-021-844 88,Основное место работы,Отсутствие с сохранением оплаты
216522,7722069597,114-954-354 62,Основное место работы,Работа

In [17]:
res[(res.inn == 7709438340) & (res.type == 'Основное место работы')].nunique()

inn        1
snils     90
type       1
status     4
dtype: int64

In [9]:
res[res.type == 'Основное место работы'].groupby('inn')['snils'].nunique().reset_index().rename(columns= {'snils': 'Общая'})

            inn  Общая
0    5003021368   1032
1    5003021495   1131
2    5003021640    838
3    5003096290    561
4    5030032182    308
..          ...    ...
595  7743940590    318
596  9705101759    405
597  9715206976    509
598  9715217689    263
599  9718071371   4390

[600 rows x 2 columns]

In [10]:
res[(res.type == 'Основное место работы') & (res.status == 'Отпуск по уходу за ребенком')].groupby('inn')['snils'].nunique().reset_index().rename(columns= {'snils': 'Отпуск по уходу'})

            inn  Отпуск по уходу
0    5003021368               63
1    5003021495               63
2    5003021640               37
3    5003096290               20
4    5030032182               19
..          ...              ...
575  7743940590                9
576  9705101759               14
577  9715206976               17
578  9715217689               13
579  9718071371               41

[580 rows x 2 columns]

In [18]:
ans = pd.merge(res[res.type == 'Основное место работы'].groupby('inn')['snils'].nunique().reset_index().rename(columns= {'snils': 'Общая'}), res[(res.type == 'Основное место работы') & (res.status == 'Отпуск по уходу за ребенком')].groupby('inn')['snils'].nunique().reset_index().rename(columns= {'snils': 'Отпуск по уходу'}), how='outer')

In [13]:
ans.sum()

inn                4452816790055
Общая                     175708
Отпуск по уходу             6934
dtype: int64

In [19]:
print_df(ans, 'Численность на май')