In [1]:
import pandas as pd
import numpy as np
from openpyxl import Workbook
from openpyxl.utils.dataframe import dataframe_to_rows as df_to_row

In [10]:
from szp_funcs import get_fio, print_df, load_groups, gku_inn, path_to_docs, to_double, path_to_data, create_full_res

In [3]:
inns = [7734241813,
7734132109,
7733126624,
7725144330,
7723103106,
7719894832,
7718261587,
7718259267,
7715789629,
7712013764,
7704853583
]

In [11]:
res = create_full_res(['mar'])

In [12]:
ans = res[res.inn.isin(inns)]

In [13]:
ans

,inn,snils,sum_mar,stv_mar,job_mar
38,7725144330,001-056-485 89,98104.49,1.0,Учитель
53,7725144330,001-076-189 94,100696.97,1.0,Учитель-логопед
94,7719894832,001-125-534 68,123936.11,1.0,Учитель
117,7715789629,001-133-899 91,141785.85,1.0,Учитель
299,7719894832,001-179-030 90,55086.51,1.0,Тьютор
...,...,...,...,...,...
166212,7734241813,210-780-350 26,85348.48,1.0,Воспитатель
166323,7733126624,212-350-814 12,66452.31,1.3,Педагог-психолог
166391,7733126624,213-022-403 80,167734.51,1.0,Учитель
166396,7719894832,213-081-636 20,61076.07,1.0,Рабочий по комплексному обслуживанию и ремонту...
166489,7719894832,214-029-839 38,54500.00,1.0,Помощник воспитателя

In [ ]:
print_df(ans, 'Сумма 11 школ')