In [31]:
import pandas as pd
import numpy as np
import string

In [8]:
from szp_funcs import print_df, load_jobs, load_pay_types, get_otv

In [79]:
jobs = load_jobs()['job_106'].unique().tolist()
pay_types = load_pay_types()['name'].unique().tolist()

In [80]:
rm = string.punctuation + ''.join(chr(char) for char in range(1, 32)) + ' '

In [81]:
jobs = [i.strip().lower().translate(str.maketrans('', '', rm)) for i in jobs]
pay_types = [i.strip().lower().translate(str.maketrans('', '', rm)) for i in pay_types]

In [82]:
nach_name = 'ДОНМ_Начисления работников_V2.xlsx'
pay_name = 'ДОНМ_Начисления работников по категориямv2.xlsx'

In [83]:
path_to_dirt = r'C:\Users\PetukhovMD\Desktop\2022_new\Июль 2022' + '\\'
path_to_print = r'C:\Users\PetukhovMD\Desktop\Должности и начисления' + '\\'

In [84]:
nach = pd.read_excel(path_to_dirt + nach_name)
pay = pd.read_excel(path_to_dirt + pay_name)

In [76]:
def to_format(row, name):
    return row[name].strip().lower().translate(str.maketrans('', '', rm))

In [58]:
nach_out = nach.iloc[:, [2, 5, 8]].dropna()
nach_out.columns = ['inn', 'fio', 'job']
nach_out['clean_job'] = nach_out.apply(lambda row: to_format(row, 'job'), axis=1)
nach_out

               inn  ...                       clean_job
0       7734408766  ...                   преподаватель
1       7734408766  ...                   преподаватель
2       7734408766  ...                    библиотекарь
3       7734408766  ...                      специалист
4       7734408766  ...                        методист
...            ...  ...                             ...
131207  7722069597  ...             помощниквоспитателя
131208  7722069597  ...  специалистпоинтернетмаркетингу
131209  7722069597  ...                     воспитатель
131210  7722069597  ...                     воспитатель
131211  7722069597  ...                         учитель

[131212 rows x 4 columns]

In [68]:
print_df(nach_out[nach_out.clean_job.isin(jobs) == False].drop_duplicates(), path_to_print + 'bad_jobs')

In [85]:
pay_out = pay.iloc[:, [2, 4, 13]].dropna()
pay_out.columns = ['inn', 'fio', 'pay_name']
pay_out['clean_pay_name'] = pay_out.apply(lambda row: to_format(row, 'pay_name'), axis=1)
pay_out

               inn  ...                                     clean_pay_name
0       7734408766  ...  доплатазазаведованиекабинетамилабораториямиотд...
1       7734408766  ...                     доплатазаувеличениеобъемаработ
2       7734408766  ...                              окладдолжностнойоклад
3       7734408766  ...                              окладдолжностнойоклад
4       7734408766  ...  доплатазавыполнениеобязанностейвременноотсутст...
...            ...  ...                                                ...
473160  7722069597  ...          выплатазаналичиеквалификационнойкатегории
473161  7722069597  ...                              окладдолжностнойоклад
473162  7722069597  ...                                     отпускосновной
473163  7722069597  ...                                     отпускосновной
473164  7722069597  ...                     сохранениесреднегозаработкагиа

[473165 rows x 4 columns]

In [86]:
print_df(pay_out[pay_out.clean_pay_name.isin(pay_types) == False].drop_duplicates(), path_to_print + 'bad_pay')

In [90]:
job_direc = pd.read_excel(r'C:\Users\PetukhovMD\Desktop\справочники' + '\\job_direc.xlsx')

In [93]:
jobs_with_direc = job_direc['job'].unique().tolist()
job_direc_grps = {i: [] for i in jobs_with_direc}
for job, spec in [(i, j) for i,j in zip(job_direc['job'].to_list(), job_direc['spec'].to_list())]:
    job_direc_grps[job].append(spec)

In [94]:
job_direc_grps

{'Заместитель директора': ['по контролю качества образования',
  'по содержанию образования, конвергенции образовательных программ',
  'по социализации, воспитанию и безопасности обучающихся',
  'по управлению ресурсами'],
 'Заместитель начальника - начальник управления': ['в сфере ИКТ',
  'по административно-хозяйственной работе',
  'по закупочной деятельности',
  'по материально-техническому обеспечению',
  'по организации учебно-воспитательной деятельности',
  'правового сопровождения',
  'по техническому обслуживанию',
  'по финансово-экономической деятельности',
  '-'],
 'Проректор': ['по организационно-правовым и экономическим вопросам',
  'по развитию',
  'по учебной работе'],
 'Воспитатель': ['группы кратковременного пребывания',
  'группы ОВЗ',
  'группы продленного дня',
  'офицер кадетского класса',
  'семейного детского сада',
  '-'],
 'Мастер производственного обучения': ['по вождению',
  'учебно-производственной мастерской',
  '-'],
 'Учитель': ['алгебры',
  'английского языка',
  'арабского языка',
  'астрономии',
  'биологии',
  'всеобщей истории',
  'географии',
  'геометрии',
  'естествознания',
  'изобразительного искусства',
  'информатики',
  'испанского языка',
  'истории',
  'истории России',
  'итальянского языка',
  'китайского языка',
  'латинского языка',
  'литературного чтения',
  'литературного чтения на родном языке',
  'литературы',
  'математики',
  'математики и информатики',
  'музыки',
  'начальных классов',
  'немецкого языка',
  'обществознания',
  'обществознания и естествознания (окружающий мир)',
  'основ безопасности жизнедеятельности',
  'основ духовно-нравственной культуры народов России',
  'основ религиозных культур и светской этики',
  'права',
  'родного языка',
  'родной литературы',
  'русского языка',
  'технологии',
  'физики',
  'физической культуры',
  'французского языка',
  'химии',
  'экологии',
  'экономики'],
 'Помощник воспитателя': ['группы ОВЗ', 'семейного детского сада', '-'],
 'Младший воспитатель': ['группы ОВЗ', 'семейного детского сада', '-'],
 'Ведущий специалист': ['в сфере закупок',
  'в сфере ИКТ',
  'по административно-хозяйственному обеспечению',
  'по здоровьесбережению и профилактике травматизма',
  'по инклюзивному образованию',
  'по комплексной безопасности',
  'по материально-техническому обеспечению',
  'по музейной работе',
  'по обслуживанию инженерных систем',
  'по питанию',
  'по пожарной безопасности',
  'по профилактике детского травматизма',
  'по профессиональной подготовке',
  'по профориентации',
  'приёмной комиссии',
  'учебной части',
  'по учету контингента',
  'по финансово-экономической деятельности',
  '-'],
 'Заведующий практикой': ['производственной ',
  'учебной',
  'учебно-производственной'],
 'Заместитель начальника отдела': ['в сфере ИКТ',
  'кадров',
  'по административно-хозяйственной работе',
  'по закупочной деятельности',
  'по материально-техническому обеспечению',
  'по организации учебно-воспитательной деятельности',
  'правового сопровождения',
  'по техническому обслуживанию',
  'по финансово-экономической деятельности',
  '-'],
 'Заместитель начальника службы': ['в сфере ИКТ',
  'по административно-хозяйственной работе',
  'по закупочной деятельности',
  'по материально-техническому обеспечению',
  'по организации учебно-воспитательной деятельности',
  'правового сопровождения',
  'по техническому обслуживанию',
  'по финансово-экономической деятельности',
  '-'],
 'Начальник группы': ['в сфере ИКТ',
  'по административно-хозяйственной работе',
  'по закупочной деятельности',
  'по материально-техническому обеспечению',
  'по организации учебно-воспитательной деятельности',
  'правового сопровождения',
  'по техническому обслуживанию',
  'по финансово-экономической деятельности',
  '-'],
 'Начальник отдела': ['в сфере ИКТ',
  'по административно-хозяйственной работе',
  'по закупочной деятельности',
  'по материально-техническому обеспечению',
  'по организации учебно-воспитательной деятельности',
  'правового сопровождения',
  'по техническому обслуживанию',
  'по финансово-экономической деятельности',
  '-'],
 'Начальник сектора': ['в сфере ИКТ',
  'по административно-хозяйственной работе',
  'по закупочной деятельности',
  'по материально-техническому обеспечению',
  'по организации учебно-воспитательной деятельности',
  'правового сопровождения',
  'по техническому обслуживанию',
  'по финансово-экономической деятельности',
  '-'],
 'Начальник службы': ['в сфере ИКТ',
  'по административно-хозяйственной работе',
  'по закупочной деятельности',
  'по материально-техническому обеспечению',
  'по организации учебно-воспитательной деятельности',
  'правового сопровождения',
  'по техническому обслуживанию',
  'по финансово-экономической деятельности',
  '-'],
 'Начальник управления': ['в сфере ИКТ',
  'по административно-хозяйственной работе',
  'по закупочной деятельности',
  'по материально-техническому обеспечению',
  'по организации учебно-воспитательной деятельности',
  'правового сопровождения',
  'по техническому обслуживанию',
  'по финансово-экономической деятельности',
  '-'],
 'Специалист': ['в сфере ИКТ',
  'по здоровьесбережению и профилактике травматизма',
  'по инклюзивному образованию',
  'по комплексной безопасности',
  'по материально-техническому обеспечению',
  'по музейной работе',
  'по обслуживанию инженерных систем',
  'по питанию',
  'по пожарной безопасности',
  'по профессиональной подготовке',
  'по  профилактике детского травматизма',
  'по профориентации',
  'по социальной работе',
  'по учету контингента',
  'приёмной комиссии',
  'учебной части',
  'по финансово-экономической деятельности',
  '-']}

In [95]:
from szp_funcs import path_to_data
jul = pd.read_excel(path_to_data + 'jul.xlsx')

In [101]:
working = jul[jul.job.isin(jobs_with_direc)][['inn', 'snils', 'job', 'spec']].fillna('-')

In [114]:
b = working[working.spec == '-'].drop(columns=['spec']).groupby(['inn', 'job']).count().unstack()
b.columns = [i[1] + ' без напр' for i in b.columns]
b

            Ведущий специалист без напр  ...  Учитель без напр
inn                                      ...
5003021368                          1.0  ...               NaN
5003021495                          NaN  ...               NaN
5003021640                          NaN  ...               NaN
5003096290                          3.0  ...               NaN
5030032182                          NaN  ...               NaN
...                                 ...  ...               ...
7743940590                          1.0  ...             114.0
9705101759                          4.0  ...               NaN
9715206976                          NaN  ...               2.0
9715217689                          1.0  ...              60.0
9718071371                         11.0  ...              17.0

[569 rows x 17 columns]

In [121]:
print_df(working[working.spec == '-'], r'C:\Users\PetukhovMD\Desktop\Должности и начисления' + '\\empty spec')

In [115]:
a = working.drop(columns=['spec']).groupby(['inn', 'job']).count().unstack()
a.columns = [i[1] + ' все' for i in a.columns]
a

            Ведущий специалист все  ...  Учитель все
inn                                 ...
5003021368                     1.0  ...        248.0
5003021495                     1.0  ...        310.0
5003021640                     2.0  ...        270.0
5003096290                     4.0  ...         71.0
5030032182                     NaN  ...         79.0
...                            ...  ...          ...
7743940590                     1.0  ...        139.0
9705101759                    59.0  ...          NaN
9715206976                     2.0  ...        142.0
9715217689                     1.0  ...         60.0
9718071371                    43.0  ...         17.0

[594 rows x 17 columns]

In [119]:
c = pd.merge(a, b, how='left', on='inn')
c = c[sorted(c.columns)]
c.reset_index()

            inn  Ведущий специалист без напр  ...  Учитель без напр  Учитель все
0    5003021368                          1.0  ...               NaN        248.0
1    5003021495                          NaN  ...               NaN        310.0
2    5003021640                          NaN  ...               NaN        270.0
3    5003096290                          3.0  ...               NaN         71.0
4    5030032182                          NaN  ...               NaN         79.0
..          ...                          ...  ...               ...          ...
589  7743940590                          1.0  ...             114.0        139.0
590  9705101759                          4.0  ...               NaN          NaN
591  9715206976                          NaN  ...               2.0        142.0
592  9715217689                          1.0  ...              60.0         60.0
593  9718071371                         11.0  ...              17.0         17.0

[594 rows x 35 columns]

In [122]:
print_df(c.reset_index(), r'C:\Users\PetukhovMD\Desktop\Должности и начисления' + '\\accum by job')

In [13]:
pay.columns

Index(['КодЕКИС', 'Организация', 'ОрганизацияИНН', 'СНИЛС', 'ФИО',
       'ДатаРождения', 'Должность', 'ДатаПриема', 'ДатаУвольнения',
       'Состояние', 'ВидЗанятости', 'Период', 'КатегорияРасчета',
       'ВидНачисления', 'ВсегоНачислено', 'КФО', 'КатегорияНачисления',
       'NumerRegion', 'NameBase', 'Abonent'],
      dtype='object')