In [19]:
from openpyxl import Workbook, load_workbook
import pandas as pd
from openpyxl.utils.dataframe import dataframe_to_rows as df_to_row
import numpy as np

In [20]:
from szp_funcs import print_df, load_month, custom_create_res, months_year, get_otv, re_szp_job, re_fot_job

In [21]:
otv = get_otv()

In [22]:
otv[['inn', 'sch_name']]

            inn                       sch_name
0    7743085543             ГБОУ Спецшкола № 1
1    7713229928                      ГБОУ ПМКК
2    7704271031                   ГБПОУ ПТ № 2
3    7714093099                 ГКОУ СКОШИ № 2
4    7709438340                  ГБПОУ КСУ № 3
..          ...                            ...
935  7728113806                        ИКИ РАН
936  7728013512                        ИПУ РАН
937  7717067481                   ГБОУ ШОР № 1
938  7729133548                       СУНЦ МГУ
939  7734121555  ФГАУ «УИСП» Минобороны России

[940 rows x 2 columns]

In [23]:
months = months_year[:6]
job = ['Юрисконсульт']

In [24]:
#full = pd.read_excel(path_to_data + 'may.xlsx')

In [25]:
#full['stv'] = full.apply(lambda row: to_double(row, 'stv'), axis=1)

In [26]:
#print_df(pd.merge(full[full.job.isin(job)][['inn', 'snils', 'job', 'type', 'stv', 'status']], otv[['inn', 'sch_name']], how='left'), job[0] + ' за ' + months[-1])

In [27]:
res = custom_create_res(months, load_month)

In [28]:
res['fot_job'] = res.apply(lambda row: re_fot_job(row, months, job), axis=1)
res['szp_job'] = res.apply(lambda row: re_szp_job(row, months, job), axis=1)

In [29]:
res

               inn           snils  ...  fot_job  szp_job
0       5003021368  001-171-362 75  ...      NaN      NaN
1       5003021368  001-191-281 85  ...      NaN      NaN
2       5003021368  001-244-107 65  ...      NaN      NaN
3       5003021368  001-263-234 77  ...      NaN      NaN
4       5003021368  001-322-594 80  ...      NaN      NaN
...            ...             ...  ...      ...      ...
171488  9718071371  144-210-752 18  ...      NaN      NaN
171489  9718071371  145-941-023 60  ...      NaN      NaN
171490  9718071371  163-839-219 93  ...      NaN      NaN
171491  9718071371  168-147-261 85  ...      NaN      NaN
171492  9718071371  216-479-337 84  ...      NaN      NaN

[171493 rows x 70 columns]

In [30]:
ans = res[['inn', 'snils', 'job_' + months[-1], 'fot_job', 'szp_job', 'stv_' + months[-1], 'status_' + months[-1], 'type_' + months[-1]]][res['job_' + months[-1]].isin(job)].groupby('inn').agg({
    'fot_job': 'sum',
    'szp_job': 'mean',
    'stv_' + months[-1]: 'sum',
    'snils': 'nunique'
})

In [31]:
ans.reset_index()

           inn     fot_job        szp_job  stv_jun  snils
0   5003021495  1664735.23  149857.046250      2.0      2
1   5003021640   588715.13   95395.237500      1.0      1
2   5030032376   471271.43   87100.000000      1.0      1
3   5074045703  1109129.96  177177.740000      1.0      1
4   7703021039   537319.44   89553.240000      1.0      1
..         ...         ...            ...      ...    ...
91  7743023522   670882.62  114320.000000      1.0      1
92  7743085712  1259921.09   99935.166667      2.0      2
93  7743085744   946993.60  166250.000000      1.0      1
94  7743904344   419524.81            NaN      1.0      1
95  9705101759  2531660.19  103343.660972      6.0      6

[96 rows x 5 columns]

In [32]:
#pd.merge(ans, otv[['inn', 'sch_name']], how='left')

In [33]:
#print_df(pd.merge(ans, otv[['inn', 'sch_name']], how='left'), job[0] + ' за ' + months[-1])

In [34]:
#res[(res['job_' + months[-1]].isin(job)) & (res.inn == 7737078033)]#[['job_' + month for month in months]]

In [35]:
print_df(ans.reset_index(), job[0] + ' за ' + months[-1])