In [1]:
import pandas as pd
import numpy as np
from openpyxl import Workbook
from openpyxl.utils.dataframe import dataframe_to_rows as df_to_row

In [2]:
from szp_funcs import get_fio, print_df, load_groups, gku_inn, path_to_docs, to_double, path_to_data, szp, create_full_res, create_res

In [107]:
months = ['jan', 'feb', 'mar']

In [4]:
grp_res = pd.read_excel(path_to_docs + 'school_type_grp.xlsx')

In [10]:
grouped_inns = grp_res.groupby('grp')

In [13]:
groups = list(grouped_inns.groups.keys())

In [14]:
groups

['ГПЦЦ', 'ДОУ', 'Колледжи', 'Школы']

In [28]:
list(grouped_inns['inn'].get_group(groups[1]))

[7731108147, 7713283643]

In [108]:
res = create_res(months)

In [123]:
res['szp'] = res.apply(lambda row: szp(row, months), axis=1)

In [19]:
res

,inn,snils,sum_mar,stv_mar,job_mar,szp
1,7718309983,001-005-786 70,85809.12,1.0,Учитель,85809.12
3,7736614860,001-010-312 25,160599.30,1.0,Учитель,160599.30
4,7723169690,001-011-996 67,166752.15,1.0,Учитель,166752.15
5,7727123537,001-017-453 65,86627.92,1.0,Секретарь руководителя,86627.92
6,7733088746,001-017-484 72,86787.10,1.0,Учитель,86787.10
...,...,...,...,...,...,...
166538,7734408766,215-089-180 55,25039.34,1.0,Специалист,25039.34
166539,7736614860,215-093-175 39,38178.00,1.0,Уборщик территории,38178.00
166540,7743020747,215-094-406 39,10015.73,1.0,Рабочий по комплексному обслуживанию и ремонту...,10015.73
166541,7736050780,215-120-882 18,13916.40,1.0,Рабочий по комплексному обслуживанию и ремонту...,13916.40
166542,7733113047,215-317-586 48,4868.66,1.0,Уборщик служебных и производственных помещений,4868.66

In [110]:
full_res = create_full_res(['mar'])

In [66]:
jobs = ['Учитель-логопед', 'Учитель-дефектолог', 'Сурдопедагог', 'Педагог-психолог ', 'Тьютор', 'Ассистент']

In [22]:
res_by_jobs = res[res.job_mar.isin(jobs)][['job_mar', 'szp', 'inn']].groupby('job_mar')

In [111]:
ans_szp = []
ans_stv_sum = []
ans_ppl_sum = []
ans_sums = []

In [67]:
full_res[full_res.job_mar == jobs[3]]

               inn           snils    sum_mar  stv_mar            job_mar
75      7715992532  001-102-475 52   42719.99      1.0  Педагог-психолог
129     7735062750  001-141-396 70   50380.00      1.0  Педагог-психолог
225     7736228173  001-170-048 64  118857.04      1.0  Педагог-психолог
322     7728900803  001-181-440 77   59627.20      1.0  Педагог-психолог
520     7726032196  001-199-304 06   85263.18      1.0  Педагог-психолог
...            ...             ...        ...      ...                ...
166348  7734686844  212-494-290 48   96153.18      1.0  Педагог-психолог
166378  7713780268  212-904-986 58   69519.95      1.0  Педагог-психолог
166390  7733820977  213-022-377 95  107493.06      1.0  Педагог-психолог
166460  7705480398  213-716-972 60   48772.73      1.0  Педагог-психолог
166482  7733857776  214-009-561 17   17118.20      1.0  Педагог-психолог

[3117 rows x 5 columns]

In [112]:
ans_szp.append(res[(res.job_mar.isin(jobs))][['job_mar', 'szp']].groupby('job_mar').mean())
ans_stv_sum.append(full_res[full_res.job_mar.isin(jobs)][['job_mar', 'stv_mar']].groupby('job_mar').sum())
ans_ppl_sum.append(full_res[full_res.job_mar.isin(jobs)][['job_mar', 'snils']].groupby('job_mar').count())

In [113]:
for group in groups:
    inns = list(grouped_inns['inn'].get_group(group))
    ans_szp.append(res[(res.inn.isin(inns)) & (res.job_mar.isin(jobs))][['job_mar', 'szp']].groupby('job_mar').mean())
    ans_stv_sum.append(full_res[(full_res.inn.isin(inns)) & (full_res.job_mar.isin(jobs))][['job_mar', 'stv_mar']].groupby('job_mar').sum())
    ans_ppl_sum.append(full_res[(full_res.inn.isin(inns)) & (full_res.job_mar.isin(jobs))][['job_mar', 'snils']].groupby('job_mar').count())

In [114]:
ans_szp[0]

                              szp
job_mar
Ассистент            69007.968851
Педагог-психолог     91894.418072
Сурдопедагог        110606.528333
Тьютор               88130.805595
Учитель-дефектолог   95330.496812
Учитель-логопед      89038.713251

In [115]:
ans_stv_sum[2]

                   stv_mar
job_mar
Педагог-психолог       1.0
Тьютор                 1.0
Учитель-логопед        1.0

In [116]:
ans_ppl_sum[4]

                    snils
job_mar
Ассистент             168
Педагог-психолог     2685
Тьютор               1614
Учитель-дефектолог   1068
Учитель-логопед      3179

In [117]:
full_ans = pd.DataFrame()

In [118]:
for i in range(5):
    if i == 0:
        full_ans = pd.concat([full_ans, ans_szp[0]]).rename(columns={'szp':'szp_all'})
        full_ans = pd.merge(full_ans, ans_stv_sum[0], how='left', on='job_mar').rename(columns={'stv_mar':'stv_all'})
        full_ans = pd.merge(full_ans, ans_ppl_sum[0], how='left', on='job_mar').rename(columns={'snils':'ppl_all'})
        continue
    full_ans = pd.merge(full_ans, ans_stv_sum[i], how='left', on='job_mar').rename(columns={'stv_mar':'stv_' + str(i)})
    full_ans = pd.merge(full_ans, ans_ppl_sum[i], how='left', on='job_mar').rename(columns={'snils':'ppl_' + str(i)})
    full_ans = pd.merge(full_ans, ans_szp[i], how='left', on='job_mar').rename(columns={'szp':'szp_' + str(i)})

In [119]:
full_ans

,szp_all,stv_all,ppl_all,stv_1,ppl_1,szp_1,stv_2,ppl_2,szp_2,stv_3,ppl_3,szp_3,stv_4,ppl_4,szp_4
job_mar,,,,,,,,,,,,,,,
Ассистент,69007.968851,208.460000,256,NaN,NaN,NaN,NaN,NaN,NaN,47.0,88,84789.443889,161.460000,168.0,66022.284384
Педагог-психолог,91894.418072,3150.975000,3117,229.50,232.0,97890.792974,1.0,1.0,90641.00,162.0,162,104400.580351,2729.475000,2685.0,90418.199924
Сурдопедагог,110606.528333,3.000000,3,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3,110606.528333,NaN,NaN,NaN
Тьютор,88130.805595,1752.466667,1803,NaN,NaN,NaN,1.0,1.0,82379.08,184.2,186,114883.085971,1565.266667,1614.0,84656.421197
Учитель-дефектолог,95330.496812,1254.883000,1216,99.50,98.0,97902.481564,NaN,NaN,NaN,33.0,33,102851.880278,1105.853000,1068.0,94378.611002
Учитель-логопед,89038.713251,3539.596000,3416,177.75,175.0,95003.846655,1.0,1.0,NaN,51.0,51,93172.650631,3299.846000,3179.0,88518.757758

In [124]:
res[res.snils == '020-808-065 12']

,inn,snils,sum_jan,stv_jan,job_jan,sum_feb,stv_feb,job_feb,sum_mar,stv_mar,job_mar,szp
24011,7713283643,020-808-065 12,131299.51,1.0,Учитель-логопед,131523.19,1.0,Учитель-логопед,NaN,NaN,NaN,131411.35

In [125]:
print_df(full_ans, 'Учереждения с ОВЗ')

In [126]:
pg = full_res.copy()

In [127]:
pg = pg[(pg.inn.isin(list(grp_res['inn']))) & (pg.job_mar.isin(jobs))]

In [104]:
pg

               inn           snils    sum_mar  stv_mar             job_mar
43      7724731696  001-070-338 65   90870.00      1.0     Учитель-логопед
53      7725144330  001-076-189 94  100696.97      1.0     Учитель-логопед
75      7715992532  001-102-475 52   42719.99      1.0   Педагог-психолог
129     7735062750  001-141-396 70   50380.00      1.0   Педагог-психолог
133     7735002230  001-142-160 56  124080.00      1.5  Учитель-дефектолог
...            ...             ...        ...      ...                 ...
166384  7723398058  212-971-553 60   77900.00      1.0     Учитель-логопед
166390  7733820977  213-022-377 95  107493.06      1.0   Педагог-психолог
166460  7705480398  213-716-972 60   48772.73      1.0   Педагог-психолог
166482  7733857776  214-009-561 17   17118.20      1.0   Педагог-психолог
166515  7717043346  214-524-974 54   65200.00      1.0           Ассистент

[9745 rows x 5 columns]

In [128]:
print_df(pd.merge(pg, res[['snils', 'szp']], how='left', on='snils'), 'Люди для учреждения с ОВЗ')