In [1]:
import pandas as pd
import numpy as np
from openpyxl import Workbook
from openpyxl.utils.dataframe import dataframe_to_rows as df_to_row

In [2]:
from szp_funcs import get_fio, create_full_res, print_df, load_groups, gku_inn, path_to_docs, to_double, path_to_data, szp

In [3]:
def create_res(months):
    res = 0
    for i in range(len(months)):
        if i == 0:
            res = load_data(months[i])
        else:
            res = pd.merge(res, load_data(months[i]), how='outer', on=['inn', 'snils'])
    return res

In [4]:
def load_data(file):
    df = pd.read_excel(path_to_data + file + '.xlsx')
    df.stv = df.apply(lambda row: to_double(row, 'stv'), axis=1)
    sample = df[(df.type == 'Основное место работы') | (df.type == 'Внутреннее совместительство')]
    sums = sample.iloc[:, [0,1,2,3]].groupby(['inn', 'snils']).sum().reset_index().groupby('snils').max().reset_index()
    sums = pd.merge(sums, sample[sample.type == 'Основное место работы'], how='left', on=['inn', 'snils'])
    sums = sums[(sums.stv >= 1.0) & (sums.status == 'Работа') & (sums.day == 1) & (sums.status_pref == 'Работа')]
    sums = sums[['inn', 'snils', 'sum_x', 'stv', 'job']].drop_duplicates(['inn', 'snils', 'sum_x'])
    sums = sums.rename(columns = {'inn_y': 'inn', 'sum_x': 'sum_' + file, 'job':'job_' + file, 'stv': 'stv_' + file})
    return sums

In [18]:
inn_of_int = 7729775619#7725031305#9705101759#7731484984#7736668110#7729775619
months = ['jan', 'feb', 'mar']

In [6]:
res = create_res(months)

In [19]:
res[res.inn == inn_of_int]

,inn,snils,sum_jan,stv_jan,job_jan,sum_feb,stv_feb,job_feb,sum_mar,stv_mar,job_mar,szp
5,7729775619,001-020-711 41,65993.00,1.0,Воспитатель,60020.00,1.0,Воспитатель,68000.00,1.0,Воспитатель,64671.000000
171,7729775619,001-170-318 67,471700.00,1.0,Заместитель директора,NaN,NaN,NaN,471700.00,1.0,Заместитель директора,471700.000000
728,7729775619,001-266-726 03,154880.40,1.0,Учитель,153002.26,1.0,Учитель,152352.36,1.0,Учитель,153411.673333
1295,7729775619,001-374-498 13,131319.25,1.0,Учитель,133769.25,1.0,Учитель,140306.38,1.0,Учитель,135131.626667
1682,7729775619,001-458-966 32,108000.00,1.0,Педагог-организатор,108000.00,1.0,Педагог-организатор,111200.00,1.0,Педагог-организатор,109066.666667
...,...,...,...,...,...,...,...,...,...,...,...,...
151240,7729775619,189-093-864 31,NaN,NaN,NaN,NaN,NaN,NaN,69900.00,1.0,Педагог-психолог,69900.000000
151317,7729775619,190-560-138 57,NaN,NaN,NaN,NaN,NaN,NaN,68000.00,1.0,Педагог-организатор,68000.000000
151555,7729775619,197-820-396 19,NaN,NaN,NaN,NaN,NaN,NaN,86605.74,1.0,Учитель,86605.740000
151557,7729775619,197-893-551 59,NaN,NaN,NaN,NaN,NaN,NaN,145940.02,1.0,Учитель,145940.020000
151672,7729775619,204-413-894 32,NaN,NaN,NaN,NaN,NaN,NaN,94861.94,1.0,Учитель,94861.940000

In [8]:
res['szp'] = res.apply(lambda row: szp(row, months), axis=1)

In [9]:
cut_off = res[['inn', 'snils', 'szp']].groupby('inn').count().rename(columns={'snils': 'cnt'})
cut_off.cnt = np.ceil(cut_off.cnt / 10)
cut_off = cut_off.to_dict()['cnt']
cut_off

{5003021368: 91.0,
 5003021495: 98.0,
 5003021640: 69.0,
 5003096290: 52.0,
 5030032182: 26.0,
 5030032376: 52.0,
 5051005503: 33.0,
 5051005623: 20.0,
 5051005670: 88.0,
 5074019220: 30.0,
 5074019252: 40.0,
 5074045703: 54.0,
 7701032028: 4.0,
 7701050524: 15.0,
 7701113894: 5.0,
 7701293580: 10.0,
 7701375995: 6.0,
 7701377657: 21.0,
 7701384943: 5.0,
 7701406844: 7.0,
 7701905508: 27.0,
 7702058364: 16.0,
 7702061938: 4.0,
 7702764296: 16.0,
 7702797527: 27.0,
 7702833359: 29.0,
 7703021039: 7.0,
 7703112310: 9.0,
 7703261626: 15.0,
 7703363890: 23.0,
 7703379868: 3.0,
 7703611221: 18.0,
 7703738796: 21.0,
 7703742922: 37.0,
 7703776689: 10.0,
 7703808740: 12.0,
 7704040242: 13.0,
 7704118121: 6.0,
 7704118139: 12.0,
 7704178709: 18.0,
 7704191153: 9.0,
 7704222919: 17.0,
 7704222926: 41.0,
 7704231631: 32.0,
 7704234760: 23.0,
 7704271031: 1.0,
 7704853583: 19.0,
 7705020295: 16.0,
 7705041520: 4.0,
 7705052410: 7.0,
 7705399348: 33.0,
 7705480398: 29.0,
 7705513678: 28.0,
 7705513734: 44.0,
 7705552557: 16.0,
 7705694400: 28.0,
 7705871955: 15.0,
 7706807720: 24.0,
 7707090925: 16.0,
 7707094937: 26.0,
 7707290995: 35.0,
 7707329480: 5.0,
 7708044657: 8.0,
 7708057984: 7.0,
 7708071876: 23.0,
 7708155205: 9.0,
 7708235066: 22.0,
 7709157090: 32.0,
 7709330442: 9.0,
 7709344237: 14.0,
 7709366858: 2.0,
 7709387946: 18.0,
 7709438340: 9.0,
 7709439048: 5.0,
 7709833051: 4.0,
 7709944805: 51.0,
 7710640209: 43.0,
 7710929858: 7.0,
 7710961153: 30.0,
 7712013764: 24.0,
 7712019300: 10.0,
 7712022159: 6.0,
 7712022550: 19.0,
 7713039050: 53.0,
 7713070211: 10.0,
 7713229928: 36.0,
 7713283604: 33.0,
 7713283643: 2.0,
 7713286725: 14.0,
 7713288793: 22.0,
 7713288810: 13.0,
 7713338324: 17.0,
 7713385719: 22.0,
 7713385726: 13.0,
 7713401544: 21.0,
 7713757043: 38.0,
 7713780268: 32.0,
 7713781783: 26.0,
 7713781889: 21.0,
 7713782829: 39.0,
 7713784953: 18.0,
 7713785435: 16.0,
 7713794503: 20.0,
 7713795923: 25.0,
 7713799237: 14.0,
 7714031656: 12.0,
 7714048508: 15.0,
 7714079640: 12.0,
 7714081706: 14.0,
 7714093099: 10.0,
 7714196778: 13.0,
 7714199190: 8.0,
 7714204845: 15.0,
 7714239823: 26.0,
 7714283124: 21.0,
 7714805691: 12.0,
 7714890087: 40.0,
 7714909450: 34.0,
 7714923649: 9.0,
 7714926801: 16.0,
 7715018947: 18.0,
 7715037562: 11.0,
 7715106872: 7.0,
 7715107749: 61.0,
 7715152967: 22.0,
 7715303091: 49.0,
 7715303454: 31.0,
 7715303782: 49.0,
 7715303983: 46.0,
 7715304578: 32.0,
 7715310719: 21.0,
 7715398103: 11.0,
 7715422010: 28.0,
 7715441479: 11.0,
 7715446501: 31.0,
 7715446854: 17.0,
 7715446974: 35.0,
 7715468897: 29.0,
 7715616552: 27.0,
 7715731322: 43.0,
 7715789629: 24.0,
 7715894310: 45.0,
 7715969269: 44.0,
 7715969660: 39.0,
 7715975304: 17.0,
 7715979161: 35.0,
 7715982037: 12.0,
 7715992532: 22.0,
 7716079082: 15.0,
 7716081388: 21.0,
 7716199407: 30.0,
 7716199414: 25.0,
 7716199492: 18.0,
 7716199502: 32.0,
 7716199950: 29.0,
 7716200170: 24.0,
 7716201078: 7.0,
 7716202057: 18.0,
 7716209782: 19.0,
 7716237684: 78.0,
 7716237691: 22.0,
 7716530474: 61.0,
 7716585000: 5.0,
 7716696769: 27.0,
 7716771230: 28.0,
 7716783901: 28.0,
 7716789580: 28.0,
 7717023163: 11.0,
 7717024086: 21.0,
 7717025259: 10.0,
 7717043346: 202.0,
 7717053947: 20.0,
 7717082680: 21.0,
 7717082867: 13.0,
 7717666051: 14.0,
 7718083895: 25.0,
 7718084112: 18.0,
 7718084659: 37.0,
 7718106920: 13.0,
 7718191202: 7.0,
 7718193658: 51.0,
 7718197885: 29.0,
 7718198423: 15.0,
 7718200721: 16.0,
 7718220326: 29.0,
 7718228237: 17.0,
 7718232530: 13.0,
 7718259267: 48.0,
 7718261509: 25.0,
 7718261587: 33.0,
 7718309983: 29.0,
 7718792108: 14.0,
 7718901205: 13.0,
 7718924940: 17.0,
 7718987403: 27.0,
 7718997948: 38.0,
 7719025840: 35.0,
 7719031995: 8.0,
 7719033470: 29.0,
 7719035132: 25.0,
 7719106841: 10.0,
 7719210793: 35.0,
 7719217125: 32.0,
 7719247881: 14.0,
 7719259326: 12.0,
 7719260829: 7.0,
 7719285936: 8.0,
 7719286023: 14.0,
 7719286104: 24.0,
 7719418720: 33.0,
 7719825934: 50.0,
 7719866056: 34.0,
 7719867099: 41.0,
 7719872211: 30.0,
 7719882717: 18.0,
 7719894832: 56.0,
 7720008045: 50.0,
 7720016173: 41.0,
 7720029197: 31.0,
 7720086251: 28.0,
 7720257933: 21.0,
 7720258550: 1.0,
 7720258623: 52.0,
 7720260365: 12.0,
 7720260372: 15.0,
 7720261048: 30.0,
 7720291042: 42.0,
 7720307694: 17.0,
 7720325492: 37.0,
 7720573400: 10.0,
 7720584916: 32.0,
 7720596679: 43.0,
 7720602851: 43.0,
 7720675962: 27.0,
 7720792271: 24.0,
 7720807143: 17.0,
 7720824692: 13.0,
 7720830590: 27.0,
 7721146930: 16.0,
 7721151200: 54.0,
 7721179357: 17.0,
 7721219881: 54.0,
 7721222323: 11.0,
 7721223373: 44.0,
 7721227770: 62.0,
 7721237506: 42.0,
 7721267765: 43.0,
 7721692544: 36.0,
 7721749335: 19.0,
 7721804748: 28.0,
 7721805149: 48.0,
 7721805879: 14.0,
 7721809746: 41.0,
 7721816006: 46.0,
 7721816905: 34.0,
 7721817899: 14.0,
 7721854629: 36.0,
 7722006029: 34.0,
 7722069597: 20.0,
 7722266186: 31.0,
 7722306978: 12.0,
 7722307322: 1.0,
 7722820326: 19.0,
 7723103106: 30.0,
 7723138571: 30.0,
 7723162479: 27.0,
 7723163200: 24.0,
 7723169690: 59.0,
 7723186335: 5.0,
 7723187113: 58.0,
 7723196358: 27.0,
 7723305800: 21.0,
 7723320252: 39.0,
 7723324289: 18.0,
 7723327297: 48.0,
 7723329921: 20.0,
 7723356160: 80.0,
 7723374949: 24.0,
 7723398058: 36.0,
 7723864492: 30.0,
 7723881258: 27.0,
 7723881890: 48.0,
 7723882999: 44.0,
 7723918412: 29.0,
 7723920242: 34.0,
 7723927537: 55.0,
 7723929012: 28.0,
 7724030771: 4.0,
 7724035635: 13.0,
 7724184475: 35.0,
 7724189378: 31.0,
 7724189385: 39.0,
 7724191176: 21.0,
 7724191296: 24.0,
 7724204756: 36.0,
 7724224992: 21.0,
 7724240899: 23.0,
 7724294781: 51.0,
 7724295383: 17.0,
 7724304045: 30.0,
 7724731696: 40.0,
 7724731858: 46.0,
 7724732065: 10.0,
 7724733647: 46.0,
 7724848380: 37.0,
 7724851400: 45.0,
 7724857843: 49.0,
 7724859424: 24.0,
 7724886210: 35.0,
 7724912276: 36.0,
 7724914410: 19.0,
 7724916062: 2.0,
 7724917860: 12.0,
 7724942834: 26.0,
 7724947818: 32.0,
 7725031305: 19.0,
 7725034137: 6.0,
 7725056395: 26.0,
 7725143915: 17.0,
 7725144330: 45.0,
 7725200031: 7.0,
 7725247640: 12.0,
 7725247657: 60.0,
 7725247752: 13.0,
 7725259204: 40.0,
 7725281915: 16.0,
 7725539709: 55.0,
 7725618950: 41.0,
 7725663400: 6.0,
 7725684400: 24.0,
 7725687263: 35.0,
 7725766797: 20.0,
 7726008644: 46.0,
 7726032196: 28.0,
 7726073957: 20.0,
 7726076612: 36.0,
 7726180596: 25.0,
 7726269678: 42.0,
 7726287412: 15.0,
 7726308486: 30.0,
 7726316374: 13.0,
 7726317748: 80.0,
 7726510766: 7.0,
 7726548174: 28.0,
 7726643460: 34.0,
 7726643607: 8.0,
 7726643910: 16.0,
 7726644294: 11.0,
 7726705564: 52.0,
 7726711536: 26.0,
 7726726998: 17.0,
 7726737848: 32.0,
 7727028555: 19.0,
 7727047597: 16.0,
 7727063221: 11.0,
 7727123537: 36.0,
 7727177370: 40.0,
 7727190237: 21.0,
 7727190251: 35.0,
 7727190396: 25.0,
 7727190406: 5.0,
 7727190597: 8.0,
 7727190607: 12.0,
 7727190727: 18.0,
 7727191008: 25.0,
 7727203790: 25.0,
 7727209223: 33.0,
 7727213822: 44.0,
 7727233787: 8.0,
 7727236153: 34.0,
 7727270740: 35.0,
 7727506272: 10.0,
 7727506385: 52.0,
 7727633880: 23.0,
 7727670699: 8.0,
 7727763713: 12.0,
 7727801020: 34.0,
 7727801856: 36.0,
 7727809855: 24.0,
 7727824902: 16.0,
 7727824998: 33.0,
 7727840510: 65.0,
 7727842676: 23.0,
 7727844401: 18.0,
 7727844458: 21.0,
 7727844923: 57.0,
 7727846487: 29.0,
 7727847191: 11.0,
 7728006064: 24.0,
 7728007477: 32.0,
 7728007484: 27.0,
 7728013054: 24.0,
 7728021866: 10.0,
 7728122631: 32.0,
 7728173731: 25.0,
 7728229430: 36.0,
 7728229720: 24.0,
 7728231302: 26.0,
 7728231581: 9.0,
 7728232708: 32.0,
 7728237583: 33.0,
 7728246980: 19.0,
 7728261353: 22.0,
 7728261681: 13.0,
 7728291206: 16.0,
 7728849434: 24.0,
 7728858365: 27.0,
 7728860815: 16.0,
 7728873109: 14.0,
 7728887366: 34.0,
 7728900440: 23.0,
 7728900803: 27.0,
 7729173011: 25.0,
 7729400426: 23.0,
 7729402381: 7.0,
 7729402889: 8.0,
 7729409041: 17.0,
 7729410230: 32.0,
 7729410368: 43.0,
 7729413009: 19.0,
 7729415535: 12.0,
 7729417973: 23.0,
 7729421592: 22.0,
 7729423286: 5.0,
 7729423688: 17.0,
 7729433767: 14.0,
 7729434070: 21.0,
 7729530457: 25.0,
 7729531411: 50.0,
 7729759977: 13.0,
 7729775619: 38.0,
 7729776838: 25.0,
 7729780048: 30.0,
 7729783137: 43.0,
 7729784388: 39.0,
 7729784613: 18.0,
 7729788505: 13.0,
 7730026170: 18.0,
 7730027030: 24.0,
 7730029051: 17.0,
 7730160480: 45.0,
 7730712331: 23.0,
 7731099453: 49.0,
 7731108147: 3.0,
 7731173259: 23.0,
 7731173523: 23.0,
 7731173700: 36.0,
 7731173812: 44.0,
 7731173820: 26.0,
 7731174051: 49.0,
 7731180591: 7.0,
 7731185543: 31.0,
 7731243019: 35.0,
 7731263128: 3.0,
 7731270005: 4.0,
 7731281039: 41.0,
 7731281046: 24.0,
 7731435497: 24.0,
 7731462620: 22.0,
 7731479261: 23.0,
 7731482850: 29.0,
 7731484984: 2.0,
 7731582090: 22.0,
 7732004550: 59.0,
 7732111054: 38.0,
 7732111858: 18.0,
 7732111865: 31.0,
 7732112259: 34.0,
 7732117313: 37.0,
 7732120595: 6.0,
 7732507722: 40.0,
 7733020995: 22.0,
 7733023121: 41.0,
 7733088746: 35.0,
 7733109058: 19.0,
 7733113047: 20.0,
 7733114266: 10.0,
 7733121993: 11.0,
 7733123920: 19.0,
 7733126624: 40.0,
 7733127762: 14.0,
 7733131543: 24.0,
 7733132610: 21.0,
 7733146243: 13.0,
 7733147247: 31.0,
 7733148875: 50.0,
 7733168737: 17.0,
 7733181336: 14.0,
 7733181390: 26.0,
 7733536758: 10.0,
 7733558487: 28.0,
 7733672292: 30.0,
 7733813218: 37.0,
 7733814148: 32.0,
 7733820977: 25.0,
 7733826016: 26.0,
 7733834994: 44.0,
 7733853690: 22.0,
 7733857776: 40.0,
 7734039741: 17.0,
 7734052005: 14.0,
 7734077088: 10.0,
 7734132109: 56.0,
 7734229661: 13.0,
 7734230995: 11.0,
 7734232015: 18.0,
 7734233259: 28.0,
 7734233770: 21.0,
 7734236901: 5.0,
 7734241813: 34.0,
 7734247614: 13.0,
 7734248978: 31.0,
 7734249770: 42.0,
 7734408766: 13.0,
 7734570529: 8.0,
 7734626387: 9.0,
 7734686844: 36.0,
 7734687492: 45.0,
 7734689877: 24.0,
 7734690061: 18.0,
 7735002230: 49.0,
 7735030808: 19.0,
 7735043162: 14.0,
 7735062655: 38.0,
 7735062743: 56.0,
 7735062750: 43.0,
 7735071709: 8.0,
 7735083380: 18.0,
 7735093928: 27.0,
 7735096823: 16.0,
 7735096830: 34.0,
 7735099084: 22.0,
 7735103742: 6.0,
 7735128049: 12.0,
 7735589106: 41.0,
 7735601120: 36.0,
 7736000370: 6.0,
 7736004960: 9.0,
 7736050780: 20.0,
 7736076587: 63.0,
 7736110982: 114.0,
 7736132129: 8.0,
 7736133845: 11.0,
 7736210850: 5.0,
 7736210899: 11.0,
 7736212529: 9.0,
 7736221097: 29.0,
 7736228173: 15.0,
 7736614860: 41.0,
 7736668110: 20.0,
 7736682034: 22.0,
 7737014368: 4.0,
 7737027335: 56.0,
 7737057354: 26.0,
 7737066359: 12.0,
 7737078033: 19.0,
 7737078410: 30.0,
 7737106756: 23.0,
 7737119057: 44.0,
 7737119096: 22.0,
 7737124402: 42.0,
 7737132026: 11.0,
 7743018882: 13.0,
 7743018900: 22.0,
 7743020747: 14.0,
 7743021236: 15.0,
 7743021300: 19.0,
 7743022631: 15.0,
 7743023522: 61.0,
 7743024068: 29.0,
 7743024357: 19.0,
 7743024406: 22.0,
 7743024928: 32.0,
 7743026202: 23.0,
 7743027693: 4.0,
 7743043649: 13.0,
 7743084684: 11.0,
 7743085543: 4.0,
 7743085712: 19.0,
 7743085720: 19.0,
 7743085744: 26.0,
 7743619481: 11.0,
 7743868110: 18.0,
 7743904344: 21.0,
 7743905443: 55.0,
 7743911729: 20.0,
 7743917311: 24.0,
 7743928539: 9.0,
 7743935328: 22.0,
 7743937357: 25.0,
 7743939315: 9.0,
 7743940590: 30.0,
 9705101759: 38.0,
 9715206976: 43.0,
 9715217689: 24.0,
 9718071371: 97.0}

In [10]:
res[res.inn == inn_of_int][['inn', 'snils', 'szp']].groupby('inn').count().rename(columns={'snils': 'cnt'})

            cnt  szp
inn
7725031305  184  184

In [20]:
cut_off[inn_of_int]

38.0

In [12]:
ppl = res[['inn', 'szp', 'snils']].dropna().sort_values('szp').groupby('inn')
keys = ppl.groups.keys()
val_1_7 = pd.DataFrame({'inn': [], 'val': []})

In [13]:
ppl.get_group(inn_of_int)

               inn            szp           snils
37130   7725031305   54910.666667  032-214-769 12
147375  7725031305   56056.000000  145-192-347 58
132455  7725031305   57344.000000  016-441-548 28
8330    7725031305   57344.000000  007-097-379 53
6965    7725031305   59010.666667  004-841-024 07
...            ...            ...             ...
114070  7725031305  252344.000000  020-683-947 45
6480    7725031305  273021.333333  004-675-393 48
143587  7725031305  274688.000000  118-291-260 51
121198  7725031305  318129.710000  114-656-488 65
127261  7725031305  375004.000000  168-066-225 81

[184 rows x 3 columns]

In [14]:
for key in keys:
    top = ppl.get_group(key).tail(int(cut_off[key]))['szp'].mean()
    bot = ppl.get_group(key).head(int(cut_off[key]))['szp'].mean()
    t_df = pd.DataFrame({'inn': [key], 'val': [top / bot]})
    val_1_7 = pd.concat([val_1_7, t_df])

In [21]:
ppl.get_group(inn_of_int).tail(int(cut_off[inn_of_int]))['szp'].mean()

229024.4645614035

In [22]:
ppl.get_group(inn_of_int).head(int(cut_off[inn_of_int]))['szp'].mean()

62004.51078947369

In [ ]:
print_df(ppl.get_group(inn_of_int), 'redezil мтк')

In [23]:
val_1_7[val_1_7.inn == inn_of_int]

            inn       val
0  7.729776e+09  3.693674

In [25]:
print_df(val_1_7, 'redezil all')