In [256]:
from openpyxl import Workbook, load_workbook
import pandas as pd
from openpyxl.utils.dataframe import dataframe_to_rows as df_to_row
import numpy as np
from math import ceil

In [312]:
path_to_data = 'C:/Users/PetukhovMD/Desktop/szp_2022/'
path_to_docs = 'C:/Users/PetukhovMD/Desktop/справочники/'
months = ['feb', 'jan', 'mar']
sheet = 'Sheet'

In [4]:
def to_double(row, f_name):
    if type(row[f_name]) is float:
        return row[f_name] 
    t = str(row[f_name]).split(',')
    if t[0] == 'nan':
        return 0.0
    return float(t[0]+'.'+t[1])

In [282]:
df = pd.read_excel(path_to_data + 'jan.xlsx')
df.stv = df.apply(lambda row: to_double(row, 'stv'), axis=1)
sample = df[(df.stv >= 1.0) & (df.status == 'Работа') & (df.day == 1) & ((df.type == 'Основное место работы') | (df.type == 'Внутреннее совместительство'))]
sums = sample.iloc[:, [0,1,2,3]].groupby(['inn', 'snils']).sum().reset_index()
sums = pd.merge(sums, sample[sample.type == 'Основное место работы'], how='left', on='snils')
sums = sums[['inn_x', 'snils', 'sum_x', 'job']].drop_duplicates(['inn_x', 'snils', 'sum_x'])
sums = sums.rename(columns = {'inn_x': 'inn', 'sum_x': 'sum_jan', 'job':'job_jan'})
sums

               inn           snils    sum_jan           job_jan
0       5003021368  001-191-281 85  106626.88           Учитель
1       5003021368  001-244-107 65  109394.87           Учитель
2       5003021368  001-263-234 77   74520.00       Воспитатель
3       5003021368  001-322-594 80   83013.52        Специалист
4       5003021368  001-519-663 10  142589.38           Учитель
...            ...             ...        ...               ...
113367  9718071371  196-882-391 45   77596.00         Бухгалтер
113368  9718071371  198-036-430 93  110851.00         Бухгалтер
113369  9718071371  199-418-719 35  131067.00         Бухгалтер
113370  9718071371  205-412-630 13  189077.50  Начальник группы
113371  9718071371  207-424-489 53  110851.00         Бухгалтер

[113372 rows x 4 columns]

In [284]:
df = pd.read_excel(path_to_data + 'feb.xlsx')
df.stv = df.apply(lambda row: to_double(row, 'stv'), axis=1)
sample = df[(df.stv >= 1.0) & (df.status == 'Работа') & (df.day == 1) & ((df.type == 'Основное место работы') | (df.type == 'Внутреннее совместительство'))]
sums = sample.iloc[:, [0,1,2,3]].groupby(['inn', 'snils']).sum().reset_index()
sums = pd.merge(sums, sample[sample.type == 'Основное место работы'], how='left', on='snils')
sums = sums[['inn_x', 'snils', 'sum_x', 'job']].drop_duplicates(['inn_x', 'snils', 'sum_x'])
sums = sums.rename(columns = {'inn_x': 'inn', 'sum_x': 'sum_feb', 'job':'job_feb'})

In [283]:
res = sums

In [286]:
res

,inn,snils,sum_jan,job_jan,sum_feb,job_feb
0,5003021368,001-191-281 85,106626.88,Учитель,139753.92,Учитель
1,5003021368,001-244-107 65,109394.87,Учитель,109541.13,Учитель
2,5003021368,001-263-234 77,74520.00,Воспитатель,81178.00,Воспитатель
3,5003021368,001-322-594 80,83013.52,Специалист,75815.00,Специалист
4,5003021368,001-519-663 10,142589.38,Учитель,163810.32,Учитель
...,...,...,...,...,...,...
131871,9718071371,166-448-762 08,NaN,NaN,110851.00,Бухгалтер
131872,9718071371,173-386-417 88,NaN,NaN,101079.63,Бухгалтер
131873,9718071371,175-876-580 36,NaN,NaN,110851.00,Бухгалтер
131874,9718071371,176-772-921 22,NaN,NaN,110851.00,Инженер-сметчик
131875,9718071371,183-806-415 84,NaN,NaN,110885.11,Экономист

In [285]:
res = res.merge(sums, how= 'outer', on=['inn', 'snils'])

In [309]:
def load_data(file):
    df = pd.read_excel(path_to_data + file + '.xlsx')
    df.stv = df.apply(lambda row: to_double(row, 'stv'), axis=1)
    sample = df[(df.stv >= 1.0) & (df.status == 'Работа') & (df.day == 1) & ((df.type == 'Основное место работы') | (df.type == 'Внутреннее совместительство'))]
    sums = sample.iloc[:, [0,1,2,3]].groupby(['inn', 'snils']).sum().reset_index()
    sums = pd.merge(sums, sample[sample.type == 'Основное место работы'], how='left', on='snils')
    sums = sums[['inn_x', 'snils', 'sum_x', 'stv', 'job']].drop_duplicates(['inn_x', 'snils', 'sum_x'])
    sums = sums.rename(columns = {'inn_x': 'inn', 'sum_x': 'sum_' + file, 'job':'job_' + file, 'stv': 'stv_' + file})
    return sums

In [310]:
def create_res(months):
    res = 0
    for i in range(len(months)):
        if i == 0:
            res = load_data(months[i])
        else:
            res = pd.merge(res, load_data(months[i]), how='outer', on=['inn', 'snils'])
    return res

In [313]:
res = create_res(months)

In [141]:
def print_df(df, name):
    wb = Workbook()
    ws = wb.active
    for  i in df_to_row(df, header=True):
        ws.append(i)
    wb.save(name + '.xlsx')

In [142]:
print_df(res[(res.inn == 5003021368) & (res.job_feb == 'Учитель')], 'teach_check')

In [287]:
res[(res.inn == 9718071371)]

,inn,snils,sum_jan,job_jan,sum_feb,job_feb
112515,9718071371,001-102-623 46,147930.0,ведущий Бухгалтер,157930.00,ведущий Бухгалтер
112516,9718071371,001-184-402 83,177930.0,ведущий Бухгалтер,177930.00,ведущий Бухгалтер
112517,9718071371,001-200-216 33,115851.0,Бухгалтер,142896.32,Бухгалтер
112518,9718071371,001-208-598 92,96078.0,Бухгалтер,117705.00,Бухгалтер
112519,9718071371,001-257-058 90,114851.0,Бухгалтер,110851.00,Бухгалтер
...,...,...,...,...,...,...
131871,9718071371,166-448-762 08,NaN,NaN,110851.00,Бухгалтер
131872,9718071371,173-386-417 88,NaN,NaN,101079.63,Бухгалтер
131873,9718071371,175-876-580 36,NaN,NaN,110851.00,Бухгалтер
131874,9718071371,176-772-921 22,NaN,NaN,110851.00,Инженер-сметчик
131875,9718071371,183-806-415 84,NaN,NaN,110885.11,Экономист

In [48]:
def szp(row, months):
    if pd.isna(row['job_' + months[-1]]):
        return np.nan
    cnt = 0
    sum_szp = 0
    for month in months:
        if pd.isna(row['sum_' + month]):
            continue
        cnt += 1
        sum_szp += row['sum_' + month]
    # if row['inn'] == 9715217689 and row['snils'] == '173-260-871 66':
    #     print(cnt, sum_szp)
    return sum_szp / cnt

In [315]:
res['szp'] = res.apply(lambda row: szp(row, months), axis= 1)

In [55]:
depr_month_inc = 84100.0

In [20]:
df = pd.read_excel(path_to_docs + 'input.xlsx', sheet_name='УГД')

In [24]:
df

,Должность,УГД,Педагогический,Работники непосредственно осуществляющие и обеспечивающие основной учебно-вспомогательный процесс во взаимодействии с детьми
0,Главный бухгалтер,Административно-управленческий персонал,0,0
1,Директор,Административно-управленческий персонал,0,0
2,Директор филиала,Административно-управленческий персонал,0,0
3,Заведующий,Административно-управленческий персонал,0,0
4,Заместитель главного бухгалтера,Административно-управленческий персонал,0,0
...,...,...,...,...
291,Эксперт,Прочий персонал (включая иной административный...,0,0
292,Электромеханик,Прочий персонал (включая иной административный...,0,0
293,Старший юрисконсульт,Прочий персонал (включая иной административный...,0,0
294,Ведущий юрисконсульт,Прочий персонал (включая иной административный...,0,0
295,Юрисконсульт,Прочий персонал (включая иной административный...,0,0

In [23]:
ped = df[df['Педагогический'] == 1]['Должность'].tolist()
ped

['Ассистент',
 'Декан факультета',
 'Директор института',
 'Доцент',
 'Заведующий кафедрой',
 'Профессор',
 'Преподаватель',
 'Старший преподаватель',
 'Воспитатель',
 'Инструктор-методист',
 'Инструктор по труду',
 'Инструктор по физической культуре',
 'Концертмейстер',
 'Мастер производственного обучения',
 'Методист',
 'Музыкальный руководитель',
 'Педагог дополнительного образования',
 'Педагог-библиотекарь',
 'Педагог-организатор',
 'Педагог-психолог ',
 'Преподаватель ',
 'Преподаватель-организатор основ безопасности жизнедеятельности',
 'Руководитель физического воспитания',
 'Социальный педагог',
 'Старший вожатый',
 'Старший воспитатель',
 'Старший инструктор-методист',
 'Старший методист',
 'Старший педагог дополнительного образования',
 'Старший педагог-психолог',
 'Старший тренер-преподаватель',
 'Тренер-преподаватель',
 'Тьютор',
 'Учитель',
 'Учитель-дефектолог',
 'Учитель-логопед']

In [25]:
isp = df[df['Работники непосредственно осуществляющие и обеспечивающие основной учебно-вспомогательный процесс во взаимодействии с детьми'] == 1]['Должность'].tolist()
isp

['Преподаватель',
 'Воспитатель',
 'Инструктор по физической культуре',
 'Концертмейстер',
 'Мастер производственного обучения',
 'Музыкальный руководитель',
 'Педагог дополнительного образования',
 'Педагог-организатор',
 'Педагог-психолог ',
 'Преподаватель ',
 'Социальный педагог',
 'Тьютор',
 'Учитель',
 'Учитель-дефектолог',
 'Учитель-логопед',
 'Помощник воспитателя',
 'Младший воспитатель']

In [51]:
def szp_ped(row, months):
    sum_szp = 0
    cnt = 0
    for month in months:
        if row['job_' + month] in ped:
            cnt += 1
            sum_szp += row['sum_' + month]
    if cnt == 0 or pd.isna(row['job_' + months[-1]]):
        return np.nan
    return sum_szp / cnt

In [224]:
def szp_teach(row, months):
    sum_szp = 0
    cnt = 0
    for month in months:
        if row['job_' + month] in ['Учитель']:
            cnt += 1
            sum_szp += row['sum_' + month]
    if cnt == 0 or row['job_' + months[-1]] != 'Учитель':
        return np.nan
    return sum_szp / cnt

In [319]:
res['szp_ped'] = res.apply(lambda row: szp_ped(row, months), axis=1)

In [320]:
res['szp_teach'] = res.apply(lambda row: szp_teach(row, months), axis=1)

In [321]:
res

,inn,snils,sum_feb,stv_feb,job_feb,sum_jan,stv_jan,job_jan,sum_mar,stv_mar,job_mar,szp,szp_ped,szp_teach
0,5003021368,001-191-281 85,139753.92,1.0,Учитель,106626.88,1.0,Учитель,NaN,NaN,NaN,NaN,NaN,NaN
1,5003021368,001-244-107 65,109541.13,1.0,Учитель,109394.87,1.0,Учитель,109077.82,1.0,Учитель,109337.940000,109337.940000,109337.940000
2,5003021368,001-263-234 77,81178.00,1.0,Воспитатель,74520.00,1.0,Воспитатель,87744.00,1.0,Воспитатель,81147.333333,81147.333333,NaN
3,5003021368,001-322-594 80,75815.00,1.0,Специалист,83013.52,1.0,Специалист,81798.18,1.0,Специалист,80208.900000,NaN,NaN
4,5003021368,001-519-663 10,163810.32,1.0,Учитель,142589.38,1.0,Учитель,151892.97,1.0,Учитель,152764.223333,152764.223333,152764.223333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152657,9718071371,171-577-056 80,NaN,NaN,NaN,NaN,NaN,NaN,94223.00,1.0,Бухгалтер,94223.000000,NaN,NaN
152658,9718071371,174-487-457 12,NaN,NaN,NaN,NaN,NaN,NaN,527029.00,1.0,Начальник управления,527029.000000,NaN,NaN
152659,9718071371,181-370-565 64,NaN,NaN,NaN,NaN,NaN,NaN,197930.00,1.0,Ведущий специалист,197930.000000,NaN,NaN
152660,9718071371,183-851-618 98,NaN,NaN,NaN,NaN,NaN,NaN,120851.00,1.0,Экономист,120851.000000,NaN,NaN
152661,9718071371,193-038-735 80,NaN,NaN,NaN,NaN,NaN,NaN,115851.00,1.0,Бухгалтер,115851.000000,NaN,NaN

In [322]:
val_5 = res[['inn', 'szp_ped']].groupby('inn').mean()
val_5['value'] = val_5['szp_ped'] / depr_month_inc
val_5

                  szp_ped     value
inn
5003021368  102889.981904  1.223424
5003021495  111041.224471  1.320347
5003021640  111262.970998  1.322984
5003096290  100199.192770  1.191429
5030032182  108341.522539  1.288246
...                   ...       ...
7743940590  129138.584406  1.535536
9705101759            NaN       NaN
9715206976  106040.984879  1.260892
9715217689  101933.810959  1.212055
9718071371            NaN       NaN

[596 rows x 2 columns]

In [323]:
print_df(val_5, 'val_5')
print_df(res[res.szp_ped.isna() == False][['inn', 'snils', 'szp_ped']], 'val_5_ppl')

In [324]:
val_6 = res[['inn', 'szp_ped']].groupby('inn').quantile(0.5).rename(columns={'szp_ped': 'q'})
val_6 = pd.merge(val_6, res[['inn', 'snils', 'szp_ped']], how='right', on='inn')
val_6_out = val_6
val_6 = val_6[val_6.szp_ped <= val_6.q][['inn', 'szp_ped']].groupby('inn').mean()
val_6

                  szp_ped
inn
5003021368   76511.005960
5003021495   84280.916283
5003021640   80325.153030
5003096290   72094.784913
5030032182   75085.680529
...                   ...
7743937357   97618.398838
7743939315   75548.254524
7743940590  102726.402673
9715206976   79489.196947
9715217689   74524.209338

[584 rows x 1 columns]

In [325]:
print_df(val_6, 'val_6')
print_df(val_6_out, 'val_6_ppl')

In [227]:
res[(res.job_jan == 'Учитель') & (res.szp_teach == np.nan)]

Empty DataFrame
Columns: [inn, snils, sum_jan, job_jan, sum_feb, job_feb, szp, szp_ped, szp_teach]
Index: []

In [326]:
val_7 = pd.merge(res[['inn', 'szp_teach']].groupby('inn').count().rename(columns={'szp_teach': 'cnt1'}), 
res[res.szp_teach >= 84100][['inn', 'szp_teach']].groupby('inn').count().rename(columns={'szp_teach': 'cnt2'}), how='outer', on='inn')
val_7['val'] = val_7.cnt2 / val_7.cnt1
val_7[val_7.val < 1]

            cnt1   cnt2       val
inn
5003021368   301  298.0  0.990033
5003096290   159  158.0  0.993711
5030032182    66   65.0  0.984848
5074019220   103  102.0  0.990291
5074045703   180  174.0  0.966667
...          ...    ...       ...
7743026202    81   79.0  0.975309
7743868110    59   52.0  0.881356
7743928539    17   14.0  0.823529
7743935328    82   77.0  0.939024
9715206976   147  135.0  0.918367

[162 rows x 3 columns]

In [327]:
print_df(val_7, 'val_7')
print_df(res[res.szp_teach.isna() == False][['inn', 'snils', 'szp_teach']], 'val_7_ppl')

In [206]:
def q_cnt1(row):
    if pd.isna(row['szp']):
        return np.nan
    return row['szp'] if row['szp'] <= row['0.1'] else np.nan

In [207]:
def q_cnt2(row):
    if pd.isna(row['szp']):
        return np.nan
    return row['szp'] if row['szp'] >= row['0.9'] else np.nan

In [328]:
q01 = res[['inn','szp']].groupby('inn').quantile(0.1).rename(columns={'szp':'0.1'})
q09 = res[['inn','szp']].groupby('inn').quantile(0.9).rename(columns={'szp':'0.9'})
q = pd.merge(q01, q09, how='right', on='inn')
qm = pd.merge(res[['inn', 'szp']], q, how='left', on='inn')
qm['cnt1'] = qm.apply(lambda row: q_cnt1(row), axis=1)
qm['cnt2'] = qm.apply(lambda row: q_cnt2(row), axis=1)
qm_pers = pd.merge(qm[qm['szp'].isna() == False], res[['inn','szp', 'snils']], how='left', on=['inn', 'szp']).drop_duplicates(['inn', 'snils'])
qm = qm[['inn', 'cnt1', 'cnt2']].groupby('inn').mean()
qm['ans'] = qm.cnt2 / qm.cnt1
qm[qm.ans > 3.7]

                    cnt1           cnt2       ans
inn
7701293580  71844.047619  294970.708095  4.105708
7702061938  80552.333333  339784.222222  4.218180
7702833359  56040.328200  209469.727533  3.737839
7704040242  83877.770476  364994.284762  4.351502
7704118139  54532.141667  232165.081000  4.257399
...                  ...            ...       ...
7737066359  67278.787879  262367.497273  3.899706
7743018900  52571.226842  201066.760702  3.824654
7743021236  61614.641282  238306.869231  3.867699
7743940590  60378.455802  225532.855741  3.735320
9705101759  62950.376344  240293.541828  3.817190

[104 rows x 3 columns]

In [197]:
q01[q01['0.1'].isna()]

Empty DataFrame
Columns: [0.1]
Index: []

In [329]:
print_df(qm, 'dezil')
print_df(qm_pers, 'dezil_pers')

In [330]:
cut_off = res[['inn', 'szp']].groupby('inn').count().rename(columns={'szp': 'cnt'})
cut_off.cnt = np.ceil(cut_off.cnt / 10)
cut_off = cut_off.to_dict()['cnt']
cut_off

{5003021368: 78.0,
 5003021495: 84.0,
 5003021640: 47.0,
 5003096290: 44.0,
 5030032182: 22.0,
 5030032376: 44.0,
 5051005503: 28.0,
 5051005623: 13.0,
 5051005670: 79.0,
 5074019220: 25.0,
 5074019252: 33.0,
 5074045703: 47.0,
 7701032028: 3.0,
 7701050524: 14.0,
 7701113894: 5.0,
 7701293580: 7.0,
 7701375995: 6.0,
 7701377657: 18.0,
 7701384943: 3.0,
 7701406844: 6.0,
 7701905508: 24.0,
 7702058364: 14.0,
 7702061938: 3.0,
 7702764296: 15.0,
 7702797527: 25.0,
 7702833359: 25.0,
 7703021039: 6.0,
 7703112310: 8.0,
 7703261626: 12.0,
 7703363890: 22.0,
 7703379868: 3.0,
 7703611221: 16.0,
 7703738796: 18.0,
 7703742922: 33.0,
 7703776689: 9.0,
 7703808740: 11.0,
 7704040242: 7.0,
 7704118121: 5.0,
 7704118139: 10.0,
 7704178709: 14.0,
 7704191153: 7.0,
 7704222919: 15.0,
 7704222926: 35.0,
 7704231631: 28.0,
 7704234760: 22.0,
 7704271031: 1.0,
 7704853583: 17.0,
 7705020295: 12.0,
 7705041520: 3.0,
 7705052410: 6.0,
 7705399348: 25.0,
 7705480398: 25.0,
 7705513678: 23.0,
 7705513734: 39.0,
 7705552557: 12.0,
 7705694400: 23.0,
 7705871955: 13.0,
 7706807720: 15.0,
 7707090925: 14.0,
 7707094937: 21.0,
 7707290995: 33.0,
 7707329480: 5.0,
 7708044657: 7.0,
 7708057984: 4.0,
 7708071876: 21.0,
 7708155205: 7.0,
 7708235066: 18.0,
 7709157090: 28.0,
 7709330442: 7.0,
 7709344237: 8.0,
 7709366858: 2.0,
 7709387946: 15.0,
 7709438340: 7.0,
 7709439048: 5.0,
 7709833051: 3.0,
 7709944805: 40.0,
 7710640209: 31.0,
 7710929858: 4.0,
 7710961153: 26.0,
 7712013764: 21.0,
 7712019300: 8.0,
 7712022159: 5.0,
 7712022550: 17.0,
 7713039050: 47.0,
 7713070211: 9.0,
 7713229928: 33.0,
 7713283604: 28.0,
 7713283643: 2.0,
 7713286725: 10.0,
 7713288793: 19.0,
 7713288810: 12.0,
 7713338324: 15.0,
 7713385719: 20.0,
 7713385726: 11.0,
 7713401544: 19.0,
 7713757043: 36.0,
 7713780268: 30.0,
 7713781783: 22.0,
 7713781889: 17.0,
 7713782829: 31.0,
 7713784953: 16.0,
 7713785435: 14.0,
 7713794503: 17.0,
 7713795923: 22.0,
 7713799237: 12.0,
 7714031656: 11.0,
 7714048508: 14.0,
 7714079640: 10.0,
 7714081706: 10.0,
 7714093099: 9.0,
 7714196778: 11.0,
 7714199190: 7.0,
 7714204845: 12.0,
 7714239823: 20.0,
 7714283124: 18.0,
 7714805691: 10.0,
 7714890087: 36.0,
 7714909450: 30.0,
 7714923649: 7.0,
 7714926801: 14.0,
 7715018947: 13.0,
 7715037562: 8.0,
 7715106872: 7.0,
 7715107749: 55.0,
 7715152967: 16.0,
 7715303091: 36.0,
 7715303454: 26.0,
 7715303782: 44.0,
 7715303983: 42.0,
 7715304578: 28.0,
 7715310719: 19.0,
 7715398103: 9.0,
 7715422010: 25.0,
 7715441479: 10.0,
 7715446501: 26.0,
 7715446854: 15.0,
 7715446974: 30.0,
 7715468897: 19.0,
 7715616552: 24.0,
 7715731322: 37.0,
 7715789629: 21.0,
 7715894310: 39.0,
 7715969269: 38.0,
 7715969660: 34.0,
 7715975304: 15.0,
 7715979161: 31.0,
 7715982037: 11.0,
 7715992532: 20.0,
 7716079082: 14.0,
 7716081388: 16.0,
 7716199407: 26.0,
 7716199414: 23.0,
 7716199492: 15.0,
 7716199502: 28.0,
 7716199950: 25.0,
 7716200170: 19.0,
 7716201078: 6.0,
 7716202057: 16.0,
 7716209782: 16.0,
 7716237684: 71.0,
 7716237691: 19.0,
 7716530474: 45.0,
 7716585000: 4.0,
 7716696769: 23.0,
 7716771230: 24.0,
 7716783901: 12.0,
 7716789580: 24.0,
 7717023163: 10.0,
 7717024086: 19.0,
 7717025259: 9.0,
 7717043346: 174.0,
 7717053947: 18.0,
 7717082680: 16.0,
 7717082867: 11.0,
 7717666051: 12.0,
 7718083895: 20.0,
 7718084112: 16.0,
 7718084659: 32.0,
 7718106920: 11.0,
 7718191202: 7.0,
 7718193658: 45.0,
 7718197885: 25.0,
 7718198423: 13.0,
 7718200721: 14.0,
 7718220326: 27.0,
 7718228237: 15.0,
 7718232530: 12.0,
 7718259267: 43.0,
 7718261509: 23.0,
 7718261587: 31.0,
 7718309983: 26.0,
 7718792108: 13.0,
 7718901205: 12.0,
 7718924940: 15.0,
 7718987403: 24.0,
 7718997948: 34.0,
 7719025840: 29.0,
 7719031995: 7.0,
 7719033470: 27.0,
 7719035132: 17.0,
 7719106841: 9.0,
 7719210793: 27.0,
 7719217125: 30.0,
 7719247881: 13.0,
 7719259326: 10.0,
 7719260829: 5.0,
 7719285936: 7.0,
 7719286023: 12.0,
 7719286104: 22.0,
 7719418720: 30.0,
 7719825934: 37.0,
 7719866056: 28.0,
 7719867099: 26.0,
 7719872211: 27.0,
 7719882717: 15.0,
 7719894832: 49.0,
 7720008045: 44.0,
 7720016173: 36.0,
 7720029197: 28.0,
 7720086251: 19.0,
 7720257933: 18.0,
 7720258550: 1.0,
 7720258623: 48.0,
 7720260365: 10.0,
 7720260372: 14.0,
 7720261048: 27.0,
 7720291042: 30.0,
 7720307694: 15.0,
 7720325492: 34.0,
 7720573400: 9.0,
 7720584916: 25.0,
 7720596679: 38.0,
 7720602851: 32.0,
 7720675962: 24.0,
 7720792271: 20.0,
 7720807143: 16.0,
 7720824692: 8.0,
 7720830590: 19.0,
 7721146930: 12.0,
 7721151200: 31.0,
 7721179357: 14.0,
 7721219881: 48.0,
 7721222323: 9.0,
 7721223373: 38.0,
 7721227770: 57.0,
 7721237506: 30.0,
 7721267765: 33.0,
 7721692544: 31.0,
 7721749335: 16.0,
 7721804748: 25.0,
 7721805149: 42.0,
 7721805879: 12.0,
 7721809746: 36.0,
 7721816006: 39.0,
 7721816905: 30.0,
 7721817899: 13.0,
 7721854629: 29.0,
 7722006029: 31.0,
 7722069597: 18.0,
 7722266186: 28.0,
 7722306978: 10.0,
 7722307322: 1.0,
 7722820326: 17.0,
 7723103106: 23.0,
 7723138571: 28.0,
 7723162479: 22.0,
 7723163200: 16.0,
 7723169690: 48.0,
 7723186335: 5.0,
 7723187113: 50.0,
 7723196358: 23.0,
 7723305800: 14.0,
 7723320252: 34.0,
 7723324289: 16.0,
 7723327297: 35.0,
 7723329921: 18.0,
 7723356160: 66.0,
 7723374949: 20.0,
 7723398058: 29.0,
 7723864492: 27.0,
 7723881258: 23.0,
 7723881890: 35.0,
 7723882999: 32.0,
 7723918412: 18.0,
 7723920242: 25.0,
 7723927537: 47.0,
 7723929012: 18.0,
 7724030771: 4.0,
 7724035635: 11.0,
 7724184475: 32.0,
 7724189378: 27.0,
 7724189385: 33.0,
 7724191176: 19.0,
 7724191296: 22.0,
 7724204756: 31.0,
 7724224992: 15.0,
 7724240899: 19.0,
 7724294781: 44.0,
 7724295383: 15.0,
 7724304045: 27.0,
 7724731696: 36.0,
 7724731858: 41.0,
 7724732065: 9.0,
 7724733647: 41.0,
 7724848380: 33.0,
 7724851400: 40.0,
 7724857843: 44.0,
 7724859424: 20.0,
 7724886210: 31.0,
 7724912276: 32.0,
 7724914410: 16.0,
 7724916062: 2.0,
 7724917860: 10.0,
 7724942834: 23.0,
 7724947818: 21.0,
 7725031305: 16.0,
 7725034137: 5.0,
 7725056395: 23.0,
 7725143915: 14.0,
 7725144330: 40.0,
 7725200031: 6.0,
 7725247640: 10.0,
 7725247657: 54.0,
 7725247752: 11.0,
 7725259204: 35.0,
 7725281915: 13.0,
 7725539709: 46.0,
 7725618950: 36.0,
 7725663400: 4.0,
 7725684400: 23.0,
 7725687263: 33.0,
 7725766797: 18.0,
 7726008644: 40.0,
 7726032196: 17.0,
 7726073957: 19.0,
 7726076612: 31.0,
 7726180596: 23.0,
 7726269678: 37.0,
 7726287412: 13.0,
 7726308486: 26.0,
 7726316374: 11.0,
 7726317748: 69.0,
 7726510766: 6.0,
 7726548174: 25.0,
 7726643460: 31.0,
 7726643607: 6.0,
 7726643910: 11.0,
 7726644294: 10.0,
 7726705564: 44.0,
 7726711536: 23.0,
 7726726998: 14.0,
 7726737848: 29.0,
 7727028555: 17.0,
 7727047597: 14.0,
 7727063221: 8.0,
 7727123537: 32.0,
 7727177370: 34.0,
 7727190237: 17.0,
 7727190251: 30.0,
 7727190396: 21.0,
 7727190406: 5.0,
 7727190597: 7.0,
 7727190607: 11.0,
 7727190727: 15.0,
 7727191008: 22.0,
 7727203790: 15.0,
 7727209223: 29.0,
 7727213822: 39.0,
 7727233787: 7.0,
 7727236153: 31.0,
 7727270740: 30.0,
 7727506272: 8.0,
 7727506385: 46.0,
 7727633880: 19.0,
 7727670699: 7.0,
 7727763713: 9.0,
 7727801020: 31.0,
 7727801856: 30.0,
 7727809855: 22.0,
 7727824902: 14.0,
 7727824998: 27.0,
 7727840510: 53.0,
 7727842676: 22.0,
 7727844401: 16.0,
 7727844458: 19.0,
 7727844923: 50.0,
 7727846487: 24.0,
 7727847191: 11.0,
 7728006064: 22.0,
 7728007477: 28.0,
 7728007484: 24.0,
 7728013054: 20.0,
 7728021866: 8.0,
 7728122631: 27.0,
 7728173731: 21.0,
 7728229430: 32.0,
 7728229720: 21.0,
 7728231302: 23.0,
 7728231581: 8.0,
 7728232708: 29.0,
 7728237583: 30.0,
 7728246980: 18.0,
 7728261353: 21.0,
 7728261681: 11.0,
 7728291206: 14.0,
 7728849434: 19.0,
 7728858365: 24.0,
 7728860815: 14.0,
 7728873109: 13.0,
 7728887366: 27.0,
 7728900440: 21.0,
 7728900803: 24.0,
 7729173011: 20.0,
 7729400426: 21.0,
 7729402381: 7.0,
 7729402889: 7.0,
 7729409041: 15.0,
 7729410230: 27.0,
 7729410368: 31.0,
 7729413009: 17.0,
 7729415535: 10.0,
 7729417973: 20.0,
 7729421592: 19.0,
 7729423286: 4.0,
 7729423688: 13.0,
 7729433767: 12.0,
 7729434070: 17.0,
 7729530457: 22.0,
 7729531411: 41.0,
 7729759977: 11.0,
 7729775619: 34.0,
 7729776838: 22.0,
 7729780048: 29.0,
 7729783137: 37.0,
 7729784388: 35.0,
 7729784613: 17.0,
 7729788505: 11.0,
 7730026170: 12.0,
 7730027030: 20.0,
 7730029051: 14.0,
 7730160480: 39.0,
 7730712331: 20.0,
 7731099453: 43.0,
 7731108147: 3.0,
 7731173259: 21.0,
 7731173523: 19.0,
 7731173700: 29.0,
 7731173812: 38.0,
 7731173820: 23.0,
 7731174051: 44.0,
 7731180591: 6.0,
 7731185543: 28.0,
 7731243019: 32.0,
 7731263128: 3.0,
 7731270005: 4.0,
 7731281039: 36.0,
 7731281046: 21.0,
 7731435497: 16.0,
 7731462620: 19.0,
 7731479261: 20.0,
 7731482850: 26.0,
 7731484984: 1.0,
 7731582090: 20.0,
 7732004550: 53.0,
 7732111054: 33.0,
 7732111858: 16.0,
 7732111865: 20.0,
 7732112259: 29.0,
 7732117313: 33.0,
 7732120595: 5.0,
 7732507722: 35.0,
 7733020995: 17.0,
 7733023121: 35.0,
 7733088746: 32.0,
 7733109058: 14.0,
 7733113047: 17.0,
 7733114266: 9.0,
 7733121993: 8.0,
 7733123920: 13.0,
 7733126624: 32.0,
 7733127762: 13.0,
 7733131543: 14.0,
 7733132610: 19.0,
 7733146243: 11.0,
 7733147247: 29.0,
 7733148875: 46.0,
 7733168737: 14.0,
 7733181336: 12.0,
 7733181390: 23.0,
 7733536758: 9.0,
 7733558487: 24.0,
 7733672292: 22.0,
 7733813218: 32.0,
 7733814148: 29.0,
 7733820977: 23.0,
 7733826016: 24.0,
 7733834994: 38.0,
 7733853690: 18.0,
 7733857776: 28.0,
 7734039741: 15.0,
 7734052005: 13.0,
 7734077088: 9.0,
 7734132109: 49.0,
 7734229661: 11.0,
 7734230995: 8.0,
 7734232015: 15.0,
 7734233259: 24.0,
 7734233770: 18.0,
 7734236901: 5.0,
 7734241813: 30.0,
 7734247614: 9.0,
 7734248978: 21.0,
 7734249770: 39.0,
 7734408766: 11.0,
 7734570529: 7.0,
 7734626387: 8.0,
 7734686844: 25.0,
 7734687492: 41.0,
 7734689877: 21.0,
 7734690061: 15.0,
 7735002230: 44.0,
 7735030808: 15.0,
 7735043162: 13.0,
 7735062655: 33.0,
 7735062743: 50.0,
 7735062750: 37.0,
 7735071709: 7.0,
 7735083380: 16.0,
 7735093928: 21.0,
 7735096823: 14.0,
 7735096830: 25.0,
 7735099084: 20.0,
 7735103742: 5.0,
 7735128049: 11.0,
 7735589106: 36.0,
 7735601120: 24.0,
 7736000370: 6.0,
 7736004960: 6.0,
 7736050780: 17.0,
 7736076587: 56.0,
 7736110982: 91.0,
 7736132129: 7.0,
 7736133845: 9.0,
 7736210850: 4.0,
 7736210899: 11.0,
 7736212529: 6.0,
 7736221097: 24.0,
 7736228173: 13.0,
 7736614860: 37.0,
 7736668110: 18.0,
 7736682034: 20.0,
 7737014368: 3.0,
 7737027335: 47.0,
 7737057354: 24.0,
 7737066359: 11.0,
 7737078033: 17.0,
 7737078410: 26.0,
 7737106756: 17.0,
 7737119057: 39.0,
 7737119096: 19.0,
 7737124402: 38.0,
 7737132026: 10.0,
 7743018882: 11.0,
 7743018900: 19.0,
 7743020747: 11.0,
 7743021236: 13.0,
 7743021300: 16.0,
 7743022631: 14.0,
 7743023522: 52.0,
 7743024068: 25.0,
 7743024357: 16.0,
 7743024406: 21.0,
 7743024928: 28.0,
 7743026202: 21.0,
 7743027693: 3.0,
 7743043649: 10.0,
 7743084684: 9.0,
 7743085543: 3.0,
 7743085712: 15.0,
 7743085720: 17.0,
 7743085744: 24.0,
 7743619481: 10.0,
 7743868110: 16.0,
 7743904344: 17.0,
 7743905443: 41.0,
 7743911729: 18.0,
 7743917311: 20.0,
 7743928539: 8.0,
 7743935328: 19.0,
 7743937357: 21.0,
 7743939315: 5.0,
 7743940590: 27.0,
 9705101759: 31.0,
 9715206976: 38.0,
 9715217689: 20.0,
 9718071371: 76.0}

In [333]:
ppl = res[['inn', 'szp']].sort_values('szp').dropna().groupby('inn')
keys = ppl.groups.keys()
val_1_7 = pd.DataFrame({'inn': [], 'val': []})
val_1_7

Empty DataFrame
Columns: [inn, val]
Index: []

In [334]:
for key in keys:
    top = ppl.get_group(key).tail(int(cut_off[key]))['szp'].mean()
    bot = ppl.get_group(key).head(int(cut_off[key]))['szp'].mean()
    t_df = pd.DataFrame({'inn': [key], 'val': [top / bot]})
    val_1_7 = pd.concat([val_1_7, t_df])

In [335]:
print_df(val_1_7, 'val_1_7')

In [339]:
cnt1 = res[res.job_feb == 'Учитель'][['inn', 'szp']].groupby('inn').mean().rename(columns={'szp':'cnt1'})
cnt2 = res[res.job_feb == 'Учитель'][['inn', 'szp']].groupby('inn').quantile(0.5).rename(columns={'szp':'q'})
cnt2 = pd.merge(cnt2, res[res.job_mar == 'Учитель'][['inn', 'snils', 'szp']], how='right', on='inn')
teach_perc_out = cnt2
cnt2 = cnt2[cnt2.szp <= cnt2.q][['inn', 'szp']].groupby('inn').mean().rename(columns={'szp':'cnt2'})
val_15 = pd.merge(cnt2, cnt1, how='left', on='inn')
val_15['val'] = val_15.cnt1 / val_15.cnt2
val_15[val_15.val >= 1.4]

Empty DataFrame
Columns: [cnt2, cnt1, val]
Index: []

In [340]:
print_df(val_15, 'val_15')
print_df(teach_perc_out, 'val_15_ppl')

In [239]:
def summ_isp(row, months):
    sum = 0
    for month in months:
        if row['job_' + month] in isp:
            sum += row['sum_' + month]
    if pd.isna(row['job_' + months[-1]]):
        return np.nan
    return sum

In [250]:
def load_data(file):
    df = pd.read_excel(path_to_data + file + '.xlsx')
    df.stv = df.apply(lambda row: to_double(row, 'stv'), axis=1)
    sample = df[((df.type == 'Основное место работы') | (df.type == 'Внутреннее совместительство')) & (df.inn != 9718071371)]
    sums = sample.iloc[:, [0,1,2,3]].groupby(['inn', 'snils']).sum().reset_index()
    sums = pd.merge(sums, sample[sample.type == 'Основное место работы'], how='left', on='snils')
    sums = sums[['inn_x', 'snils', 'sum_x', 'stv', 'job']].drop_duplicates(['inn_x', 'snils', 'sum_x'])
    sums = sums.rename(columns = {'inn_x': 'inn', 'sum_x': 'sum_' + file, 'job':'job_' + file, 'stv': 'stv_' + file})
    return sums

In [341]:
prep = res.copy()
prep['summ'] = prep.apply(lambda row: summ_isp(row, months), axis=1)
val_1_3_ppl = prep[(prep.summ.isna() == False) & (prep.summ > 0)]
val_1_3 = prep[['inn'] + ['sum_' + month for month in months]].groupby('inn').sum().reset_index()
val_1_3['sum'] = val_1_3.sum_jan + val_1_3.sum_feb
prep = prep[['inn', 'summ']].groupby('inn').sum().reset_index()
val_1_3 = pd.merge(prep[['inn', 'summ']], val_1_3[['inn', 'sum']], how='left', on='inn')
val_1_3['ans'] = val_1_3['summ'] / val_1_3['sum']
val_1_3

            inn          summ           sum       ans
0    5003021368  1.575554e+08  1.273312e+08  1.237367
1    5003021495  1.757665e+08  1.434321e+08  1.225433
2    5003021640  9.751068e+07  1.146649e+08  0.850397
3    5003096290  8.557969e+07  7.899096e+07  1.083411
4    5030032182  4.290982e+07  3.618608e+07  1.185810
..          ...           ...           ...       ...
591  7743940590  6.302232e+07  5.183528e+07  1.215819
592  9705101759  0.000000e+00  7.857748e+07  0.000000
593  9715206976  6.764273e+07  6.658418e+07  1.015898
594  9715217689  3.874152e+07  3.426072e+07  1.130785
595  9718071371  0.000000e+00  2.248101e+08  0.000000

[596 rows x 4 columns]

In [342]:
print_df(val_1_3, 'val_1_3')
print_df(val_1_3_ppl, 'val_1_3_ppl')

In [344]:
len(val_1_3[val_1_3.ans < 0.75])

52

In [308]:
res[res.snils == '016-412-327 06']

,inn,snils,sum_jan,job_jan,sum_feb,job_feb,szp,szp_ped,szp_teach
13566,7712022159,016-412-327 06,129341.55,Учитель,139859.09,Учитель,134600.32,134600.32,134600.32

In [79]:
out = res[['inn', 'szp_ped']].groupby('inn').count().rename(columns={'szp_ped': 'Количество педов'})
out

            Количество педов
inn
5003021368               433
5003021495               447
5003021640               371
5003096290               285
5030032182               126
...                      ...
7743939315                42
7743940590               141
9705101759                 0
9715206976               182
9715217689               130

[595 rows x 1 columns]

In [92]:
out = df[df.job.isin(['Учитель'])].drop_duplicates(['inn', 'snils'])[['inn', 'snils']].groupby('inn').count().rename(columns={'snils':'Количество педов'})

In [94]:
out
wb = Workbook()
ws = wb.active
for  i in df_to_row(out, header=True):
    ws.append(i)
wb.save('teach.xlsx')

In [ ]:
school_sum = sample[['inn', 'sum']].groupby('inn').sum()

In [ ]:
school_sum

In [ ]:
s = sums.groupby(['snils']).count().reset_index()
wb = Workbook()
ws = wb.active
for  i in df_to_row(s, header=True):
    ws.append(i)
wb.save('test.xlsx')