In [256]:
from openpyxl import Workbook, load_workbook
import pandas as pd
from openpyxl.utils.dataframe import dataframe_to_rows as df_to_row
import numpy as np
from math import ceil

In [3]:
path_to_data = 'C:/Users/PetukhovMD/Desktop/szp/'
path_to_docs = 'C:/Users/PetukhovMD/Desktop/справочники/'
months = ['feb.xlsx', 'jan.xlsx']
sheet = 'Sheet'

In [4]:
def to_double(row, f_name):
    if type(row[f_name]) is float:
        return row[f_name] 
    t = str(row[f_name]).split(',')
    if t[0] == 'nan':
        return 0.0
    return float(t[0]+'.'+t[1])

In [282]:
df = pd.read_excel(path_to_data + 'jan.xlsx')
df.stv = df.apply(lambda row: to_double(row, 'stv'), axis=1)
sample = df[(df.stv >= 1.0) & (df.status == 'Работа') & (df.day == 1) & ((df.type == 'Основное место работы') | (df.type == 'Внутреннее совместительство'))]
sums = sample.iloc[:, [0,1,2,3]].groupby(['inn', 'snils']).sum().reset_index()
sums = pd.merge(sums, sample[sample.type == 'Основное место работы'], how='left', on='snils')
sums = sums[['inn_x', 'snils', 'sum_x', 'job']].drop_duplicates(['inn_x', 'snils', 'sum_x'])
sums = sums.rename(columns = {'inn_x': 'inn', 'sum_x': 'sum_jan', 'job':'job_jan'})
sums

               inn           snils    sum_jan           job_jan
0       5003021368  001-191-281 85  106626.88           Учитель
1       5003021368  001-244-107 65  109394.87           Учитель
2       5003021368  001-263-234 77   74520.00       Воспитатель
3       5003021368  001-322-594 80   83013.52        Специалист
4       5003021368  001-519-663 10  142589.38           Учитель
...            ...             ...        ...               ...
113367  9718071371  196-882-391 45   77596.00         Бухгалтер
113368  9718071371  198-036-430 93  110851.00         Бухгалтер
113369  9718071371  199-418-719 35  131067.00         Бухгалтер
113370  9718071371  205-412-630 13  189077.50  Начальник группы
113371  9718071371  207-424-489 53  110851.00         Бухгалтер

[113372 rows x 4 columns]

In [284]:
df = pd.read_excel(path_to_data + 'feb.xlsx')
df.stv = df.apply(lambda row: to_double(row, 'stv'), axis=1)
sample = df[(df.stv >= 1.0) & (df.status == 'Работа') & (df.day == 1) & ((df.type == 'Основное место работы') | (df.type == 'Внутреннее совместительство'))]
sums = sample.iloc[:, [0,1,2,3]].groupby(['inn', 'snils']).sum().reset_index()
sums = pd.merge(sums, sample[sample.type == 'Основное место работы'], how='left', on='snils')
sums = sums[['inn_x', 'snils', 'sum_x', 'job']].drop_duplicates(['inn_x', 'snils', 'sum_x'])
sums = sums.rename(columns = {'inn_x': 'inn', 'sum_x': 'sum_feb', 'job':'job_feb'})

In [283]:
res = sums

In [286]:
res

,inn,snils,sum_jan,job_jan,sum_feb,job_feb
0,5003021368,001-191-281 85,106626.88,Учитель,139753.92,Учитель
1,5003021368,001-244-107 65,109394.87,Учитель,109541.13,Учитель
2,5003021368,001-263-234 77,74520.00,Воспитатель,81178.00,Воспитатель
3,5003021368,001-322-594 80,83013.52,Специалист,75815.00,Специалист
4,5003021368,001-519-663 10,142589.38,Учитель,163810.32,Учитель
...,...,...,...,...,...,...
131871,9718071371,166-448-762 08,NaN,NaN,110851.00,Бухгалтер
131872,9718071371,173-386-417 88,NaN,NaN,101079.63,Бухгалтер
131873,9718071371,175-876-580 36,NaN,NaN,110851.00,Бухгалтер
131874,9718071371,176-772-921 22,NaN,NaN,110851.00,Инженер-сметчик
131875,9718071371,183-806-415 84,NaN,NaN,110885.11,Экономист

In [285]:
res = res.merge(sums, how= 'outer', on=['inn', 'snils'])

In [141]:
def print_df(df, name):
    wb = Workbook()
    ws = wb.active
    for  i in df_to_row(df, header=True):
        ws.append(i)
    wb.save(name + '.xlsx')

In [142]:
print_df(res[(res.inn == 5003021368) & (res.job_feb == 'Учитель')], 'teach_check')

In [287]:
res[(res.inn == 9718071371)]

,inn,snils,sum_jan,job_jan,sum_feb,job_feb
112515,9718071371,001-102-623 46,147930.0,ведущий Бухгалтер,157930.00,ведущий Бухгалтер
112516,9718071371,001-184-402 83,177930.0,ведущий Бухгалтер,177930.00,ведущий Бухгалтер
112517,9718071371,001-200-216 33,115851.0,Бухгалтер,142896.32,Бухгалтер
112518,9718071371,001-208-598 92,96078.0,Бухгалтер,117705.00,Бухгалтер
112519,9718071371,001-257-058 90,114851.0,Бухгалтер,110851.00,Бухгалтер
...,...,...,...,...,...,...
131871,9718071371,166-448-762 08,NaN,NaN,110851.00,Бухгалтер
131872,9718071371,173-386-417 88,NaN,NaN,101079.63,Бухгалтер
131873,9718071371,175-876-580 36,NaN,NaN,110851.00,Бухгалтер
131874,9718071371,176-772-921 22,NaN,NaN,110851.00,Инженер-сметчик
131875,9718071371,183-806-415 84,NaN,NaN,110885.11,Экономист

In [48]:
def szp(row, months):
    if pd.isna(row['job_' + months[-1]]):
        return np.nan
    cnt = 0
    sum_szp = 0
    for month in months:
        if pd.isna(row['sum_' + month]):
            continue
        cnt += 1
        sum_szp += row['sum_' + month]
    # if row['inn'] == 9715217689 and row['snils'] == '173-260-871 66':
    #     print(cnt, sum_szp)
    return sum_szp / cnt

In [288]:
res['szp'] = res.apply(lambda row: szp(row, ['jan', 'feb']), axis= 1)

In [55]:
depr_month_inc = 84100.0

In [20]:
df = pd.read_excel(path_to_docs + 'input.xlsx', sheet_name='УГД')

In [24]:
df

,Должность,УГД,Педагогический,Работники непосредственно осуществляющие и обеспечивающие основной учебно-вспомогательный процесс во взаимодействии с детьми
0,Главный бухгалтер,Административно-управленческий персонал,0,0
1,Директор,Административно-управленческий персонал,0,0
2,Директор филиала,Административно-управленческий персонал,0,0
3,Заведующий,Административно-управленческий персонал,0,0
4,Заместитель главного бухгалтера,Административно-управленческий персонал,0,0
...,...,...,...,...
291,Эксперт,Прочий персонал (включая иной административный...,0,0
292,Электромеханик,Прочий персонал (включая иной административный...,0,0
293,Старший юрисконсульт,Прочий персонал (включая иной административный...,0,0
294,Ведущий юрисконсульт,Прочий персонал (включая иной административный...,0,0
295,Юрисконсульт,Прочий персонал (включая иной административный...,0,0

In [23]:
ped = df[df['Педагогический'] == 1]['Должность'].tolist()
ped

['Ассистент',
 'Декан факультета',
 'Директор института',
 'Доцент',
 'Заведующий кафедрой',
 'Профессор',
 'Преподаватель',
 'Старший преподаватель',
 'Воспитатель',
 'Инструктор-методист',
 'Инструктор по труду',
 'Инструктор по физической культуре',
 'Концертмейстер',
 'Мастер производственного обучения',
 'Методист',
 'Музыкальный руководитель',
 'Педагог дополнительного образования',
 'Педагог-библиотекарь',
 'Педагог-организатор',
 'Педагог-психолог ',
 'Преподаватель ',
 'Преподаватель-организатор основ безопасности жизнедеятельности',
 'Руководитель физического воспитания',
 'Социальный педагог',
 'Старший вожатый',
 'Старший воспитатель',
 'Старший инструктор-методист',
 'Старший методист',
 'Старший педагог дополнительного образования',
 'Старший педагог-психолог',
 'Старший тренер-преподаватель',
 'Тренер-преподаватель',
 'Тьютор',
 'Учитель',
 'Учитель-дефектолог',
 'Учитель-логопед']

In [25]:
isp = df[df['Работники непосредственно осуществляющие и обеспечивающие основной учебно-вспомогательный процесс во взаимодействии с детьми'] == 1]['Должность'].tolist()
isp

['Преподаватель',
 'Воспитатель',
 'Инструктор по физической культуре',
 'Концертмейстер',
 'Мастер производственного обучения',
 'Музыкальный руководитель',
 'Педагог дополнительного образования',
 'Педагог-организатор',
 'Педагог-психолог ',
 'Преподаватель ',
 'Социальный педагог',
 'Тьютор',
 'Учитель',
 'Учитель-дефектолог',
 'Учитель-логопед',
 'Помощник воспитателя',
 'Младший воспитатель']

In [51]:
def szp_ped(row, months):
    sum_szp = 0
    cnt = 0
    for month in months:
        if row['job_' + month] in ped:
            cnt += 1
            sum_szp += row['sum_' + month]
    if cnt == 0 or pd.isna(row['job_' + months[-1]]):
        return np.nan
    return sum_szp / cnt

In [224]:
def szp_teach(row, months):
    sum_szp = 0
    cnt = 0
    for month in months:
        if row['job_' + month] in ['Учитель']:
            cnt += 1
            sum_szp += row['sum_' + month]
    if cnt == 0 or row['job_' + months[-1]] != 'Учитель':
        return np.nan
    return sum_szp / cnt

In [289]:
res['szp_ped'] = res.apply(lambda row: szp_ped(row, ['jan', 'feb']), axis=1)

In [290]:
res['szp_teach'] = res.apply(lambda row: szp_teach(row, ['jan', 'feb']), axis=1)

In [291]:
val_5 = res[['inn', 'szp_ped']].groupby('inn').mean()
val_5['value'] = val_5['szp_ped'] / depr_month_inc
val_5

                  szp_ped     value
inn
5003021368  102251.195455  1.215829
5003021495  109061.435581  1.296807
5003021640  117003.647170  1.391244
5003096290  100078.023906  1.189988
5030032182  105850.473651  1.258626
...                   ...       ...
7743940590  136533.929551  1.623471
9705101759            NaN       NaN
9715206976  106223.829945  1.263066
9715217689  101049.625154  1.201541
9718071371            NaN       NaN

[596 rows x 2 columns]

In [292]:
print_df(val_5, 'val_5')
print_df(res[res.szp_ped.isna() == False][['inn', 'snils', 'szp_ped']], 'val_5_ppl')

In [293]:
val_6 = res[['inn', 'szp_ped']].groupby('inn').quantile(0.5).rename(columns={'szp_ped': 'q'})
val_6 = pd.merge(val_6, res[['inn', 'snils', 'szp_ped']], how='right', on='inn')
val_6_out = val_6
val_6 = val_6[val_6.szp_ped <= val_6.q][['inn', 'szp_ped']].groupby('inn').mean()
val_6

                  szp_ped
inn
5003021368   75640.146839
5003021495   85421.727149
5003021640   86247.207554
5003096290   71240.875243
5030032182   76387.475952
...                   ...
7743937357   98423.758214
7743939315   80638.806429
7743940590  111136.985385
9715206976   80471.555989
9715217689   75568.116231

[584 rows x 1 columns]

In [294]:
print_df(val_6, 'val_6')
print_df(val_6_out, 'val_6_ppl')

In [227]:
res[(res.job_jan == 'Учитель') & (res.szp_teach == np.nan)]

Empty DataFrame
Columns: [inn, snils, sum_jan, job_jan, sum_feb, job_feb, szp, szp_ped, szp_teach]
Index: []

In [295]:
val_7 = pd.merge(res[['inn', 'szp_teach']].groupby('inn').count().rename(columns={'szp_teach': 'cnt1'}), 
res[res.szp_teach >= 84100][['inn', 'szp_teach']].groupby('inn').count().rename(columns={'szp_teach': 'cnt2'}), how='outer', on='inn')
val_7['val'] = val_7.cnt2 / val_7.cnt1
val_7[val_7.val < 1]

            cnt1   cnt2       val
inn
5003021368   209  208.0  0.995215
5030032182    47   46.0  0.978723
5051005623    41   40.0  0.975610
5074045703   135  132.0  0.977778
7701905508    59   58.0  0.983051
...          ...    ...       ...
7743868110    53   49.0  0.924528
7743917311    70   69.0  0.985714
7743928539    17   16.0  0.941176
7743935328    67   64.0  0.955224
9715206976    88   83.0  0.943182

[157 rows x 3 columns]

In [296]:
print_df(val_7, 'val_7')
print_df(res[res.szp_teach.isna() == False][['inn', 'snils', 'szp_teach']], 'val_7_ppl')

In [206]:
def q_cnt1(row):
    if pd.isna(row['szp']):
        return np.nan
    return row['szp'] if row['szp'] <= row['0.1'] else np.nan

In [207]:
def q_cnt2(row):
    if pd.isna(row['szp']):
        return np.nan
    return row['szp'] if row['szp'] >= row['0.9'] else np.nan

In [297]:
q01 = res[['inn','szp']].groupby('inn').quantile(0.1).rename(columns={'szp':'0.1'})
q09 = res[['inn','szp']].groupby('inn').quantile(0.9).rename(columns={'szp':'0.9'})
q = pd.merge(q01, q09, how='right', on='inn')
qm = pd.merge(res[['inn', 'szp']], q, how='left', on='inn')
qm['cnt1'] = qm.apply(lambda row: q_cnt1(row), axis=1)
qm['cnt2'] = qm.apply(lambda row: q_cnt2(row), axis=1)
qm_pers = pd.merge(qm[qm['szp'].isna() == False], res[['inn','szp', 'snils']], how='left', on=['inn', 'szp']).drop_duplicates(['inn', 'snils'])
qm = qm[['inn', 'cnt1', 'cnt2']].groupby('inn').mean()
qm['ans'] = qm.cnt2 / qm.cnt1
qm[qm.ans > 3.7]

                    cnt1           cnt2       ans
inn
7701293580  74268.750000  287666.510625  3.873318
7702061938  75662.750000  345546.666667  4.566932
7703738796  53931.551429  205599.179286  3.812224
7704040242  85182.432222  388053.534444  4.555558
7704118139  55315.714286  237911.405000  4.300973
...                  ...            ...       ...
7743023522  51797.185233  197739.932326  3.817581
7743024406  52700.617500  197218.967143  3.742252
7743085712  78738.851333  370557.365333  4.706157
7743905443  54337.024306  209534.010278  3.856192
9715206976  55535.566552  214926.705000  3.870073

[94 rows x 3 columns]

In [197]:
q01[q01['0.1'].isna()]

Empty DataFrame
Columns: [0.1]
Index: []

In [298]:
print_df(qm, 'dezil')
print_df(qm_pers, 'dezil_pers')

In [299]:
cut_off = res[['inn', 'szp']].groupby('inn').count().rename(columns={'szp': 'cnt'})
cut_off.cnt = np.ceil(cut_off.cnt / 10)
cut_off = cut_off.to_dict()['cnt']
cut_off

{5003021368: 61.0,
 5003021495: 58.0,
 5003021640: 51.0,
 5003096290: 38.0,
 5030032182: 17.0,
 5030032376: 35.0,
 5051005503: 22.0,
 5051005623: 15.0,
 5051005670: 68.0,
 5074019220: 20.0,
 5074019252: 33.0,
 5074045703: 38.0,
 7701032028: 3.0,
 7701050524: 12.0,
 7701113894: 5.0,
 7701293580: 8.0,
 7701375995: 5.0,
 7701377657: 15.0,
 7701384943: 3.0,
 7701406844: 5.0,
 7701905508: 20.0,
 7702058364: 12.0,
 7702061938: 3.0,
 7702764296: 11.0,
 7702797527: 20.0,
 7702833359: 20.0,
 7703021039: 6.0,
 7703112310: 6.0,
 7703261626: 10.0,
 7703363890: 18.0,
 7703379868: 3.0,
 7703611221: 13.0,
 7703738796: 14.0,
 7703742922: 27.0,
 7703776689: 8.0,
 7703808740: 8.0,
 7704040242: 9.0,
 7704118121: 5.0,
 7704118139: 7.0,
 7704178709: 12.0,
 7704191153: 7.0,
 7704222919: 13.0,
 7704222926: 28.0,
 7704231631: 23.0,
 7704234760: 19.0,
 7704271031: 1.0,
 7704853583: 14.0,
 7705020295: 13.0,
 7705041520: 3.0,
 7705052410: 6.0,
 7705399348: 23.0,
 7705480398: 22.0,
 7705513678: 21.0,
 7705513734: 35.0,
 7705552557: 12.0,
 7705694400: 17.0,
 7705871955: 10.0,
 7706807720: 15.0,
 7707090925: 12.0,
 7707094937: 19.0,
 7707290995: 29.0,
 7707329480: 4.0,
 7708044657: 5.0,
 7708057984: 5.0,
 7708071876: 13.0,
 7708155205: 7.0,
 7708235066: 16.0,
 7709157090: 20.0,
 7709330442: 5.0,
 7709344237: 8.0,
 7709366858: 2.0,
 7709387946: 13.0,
 7709438340: 7.0,
 7709439048: 4.0,
 7709833051: 3.0,
 7709944805: 33.0,
 7710640209: 27.0,
 7710929858: 4.0,
 7710961153: 22.0,
 7712013764: 18.0,
 7712019300: 7.0,
 7712022159: 4.0,
 7712022550: 17.0,
 7713039050: 37.0,
 7713070211: 8.0,
 7713229928: 27.0,
 7713283604: 21.0,
 7713283643: 2.0,
 7713286725: 9.0,
 7713288793: 16.0,
 7713288810: 11.0,
 7713338324: 12.0,
 7713385719: 17.0,
 7713385726: 10.0,
 7713401544: 15.0,
 7713757043: 28.0,
 7713780268: 24.0,
 7713781783: 19.0,
 7713781889: 14.0,
 7713782829: 29.0,
 7713784953: 14.0,
 7713785435: 13.0,
 7713794503: 14.0,
 7713795923: 18.0,
 7713799237: 11.0,
 7714031656: 8.0,
 7714048508: 11.0,
 7714079640: 8.0,
 7714081706: 8.0,
 7714093099: 8.0,
 7714196778: 9.0,
 7714199190: 6.0,
 7714204845: 11.0,
 7714239823: 20.0,
 7714283124: 17.0,
 7714805691: 11.0,
 7714890087: 30.0,
 7714909450: 26.0,
 7714923649: 5.0,
 7714926801: 12.0,
 7715018947: 12.0,
 7715037562: 7.0,
 7715106872: 6.0,
 7715107749: 45.0,
 7715152967: 12.0,
 7715303091: 32.0,
 7715303454: 24.0,
 7715303782: 36.0,
 7715303983: 32.0,
 7715304578: 20.0,
 7715310719: 17.0,
 7715398103: 8.0,
 7715422010: 19.0,
 7715441479: 8.0,
 7715446501: 22.0,
 7715446854: 10.0,
 7715446974: 25.0,
 7715468897: 18.0,
 7715616552: 18.0,
 7715731322: 32.0,
 7715789629: 18.0,
 7715894310: 29.0,
 7715969269: 31.0,
 7715969660: 24.0,
 7715975304: 12.0,
 7715979161: 22.0,
 7715982037: 9.0,
 7715992532: 17.0,
 7716079082: 11.0,
 7716081388: 16.0,
 7716199407: 21.0,
 7716199414: 18.0,
 7716199492: 14.0,
 7716199502: 23.0,
 7716199950: 20.0,
 7716200170: 17.0,
 7716201078: 4.0,
 7716202057: 11.0,
 7716209782: 11.0,
 7716237684: 58.0,
 7716237691: 18.0,
 7716530474: 47.0,
 7716585000: 4.0,
 7716696769: 19.0,
 7716771230: 19.0,
 7716783901: 11.0,
 7716789580: 19.0,
 7717023163: 7.0,
 7717024086: 14.0,
 7717025259: 8.0,
 7717043346: 146.0,
 7717053947: 14.0,
 7717082680: 15.0,
 7717082867: 11.0,
 7717666051: 10.0,
 7718083895: 18.0,
 7718084112: 12.0,
 7718084659: 25.0,
 7718106920: 9.0,
 7718191202: 5.0,
 7718193658: 39.0,
 7718197885: 22.0,
 7718198423: 9.0,
 7718200721: 11.0,
 7718220326: 19.0,
 7718228237: 13.0,
 7718232530: 9.0,
 7718259267: 37.0,
 7718261509: 20.0,
 7718261587: 26.0,
 7718309983: 20.0,
 7718792108: 11.0,
 7718901205: 10.0,
 7718924940: 14.0,
 7718987403: 19.0,
 7718997948: 29.0,
 7719025840: 26.0,
 7719031995: 7.0,
 7719033470: 20.0,
 7719035132: 16.0,
 7719106841: 6.0,
 7719210793: 26.0,
 7719217125: 23.0,
 7719247881: 10.0,
 7719259326: 7.0,
 7719260829: 4.0,
 7719285936: 6.0,
 7719286023: 9.0,
 7719286104: 19.0,
 7719418720: 22.0,
 7719825934: 38.0,
 7719866056: 25.0,
 7719867099: 25.0,
 7719872211: 20.0,
 7719882717: 13.0,
 7719894832: 39.0,
 7720008045: 35.0,
 7720016173: 31.0,
 7720029197: 23.0,
 7720086251: 15.0,
 7720257933: 16.0,
 7720258550: 1.0,
 7720258623: 39.0,
 7720260365: 8.0,
 7720260372: 10.0,
 7720261048: 20.0,
 7720291042: 25.0,
 7720307694: 13.0,
 7720325492: 27.0,
 7720573400: 7.0,
 7720584916: 22.0,
 7720596679: 28.0,
 7720602851: 30.0,
 7720675962: 19.0,
 7720792271: 19.0,
 7720807143: 11.0,
 7720824692: 8.0,
 7720830590: 13.0,
 7721146930: 11.0,
 7721151200: 39.0,
 7721179357: 10.0,
 7721219881: 37.0,
 7721222323: 9.0,
 7721223373: 30.0,
 7721227770: 47.0,
 7721237506: 29.0,
 7721267765: 29.0,
 7721692544: 26.0,
 7721749335: 13.0,
 7721804748: 20.0,
 7721805149: 34.0,
 7721805879: 9.0,
 7721809746: 30.0,
 7721816006: 33.0,
 7721816905: 23.0,
 7721817899: 12.0,
 7721854629: 24.0,
 7722006029: 27.0,
 7722069597: 14.0,
 7722266186: 24.0,
 7722306978: 7.0,
 7722307322: 1.0,
 7722820326: 16.0,
 7723103106: 23.0,
 7723138571: 20.0,
 7723162479: 21.0,
 7723163200: 18.0,
 7723169690: 43.0,
 7723186335: 3.0,
 7723187113: 42.0,
 7723196358: 17.0,
 7723305800: 16.0,
 7723320252: 29.0,
 7723324289: 14.0,
 7723327297: 32.0,
 7723329921: 14.0,
 7723356160: 66.0,
 7723374949: 18.0,
 7723398058: 26.0,
 7723864492: 22.0,
 7723881258: 18.0,
 7723881890: 38.0,
 7723882999: 32.0,
 7723918412: 22.0,
 7723920242: 24.0,
 7723927537: 37.0,
 7723929012: 19.0,
 7724030771: 3.0,
 7724035635: 9.0,
 7724184475: 26.0,
 7724189378: 20.0,
 7724189385: 25.0,
 7724191176: 17.0,
 7724191296: 17.0,
 7724204756: 25.0,
 7724224992: 14.0,
 7724240899: 16.0,
 7724294781: 36.0,
 7724295383: 13.0,
 7724304045: 21.0,
 7724731696: 28.0,
 7724731858: 33.0,
 7724732065: 8.0,
 7724733647: 36.0,
 7724848380: 27.0,
 7724851400: 33.0,
 7724857843: 36.0,
 7724859424: 16.0,
 7724886210: 24.0,
 7724912276: 25.0,
 7724914410: 14.0,
 7724916062: 1.0,
 7724917860: 8.0,
 7724942834: 20.0,
 7724947818: 25.0,
 7725031305: 15.0,
 7725034137: 5.0,
 7725056395: 19.0,
 7725143915: 13.0,
 7725144330: 34.0,
 7725200031: 5.0,
 7725247640: 9.0,
 7725247657: 47.0,
 7725247752: 11.0,
 7725259204: 28.0,
 7725281915: 12.0,
 7725539709: 41.0,
 7725618950: 36.0,
 7725663400: 4.0,
 7725684400: 21.0,
 7725687263: 26.0,
 7725766797: 14.0,
 7726008644: 34.0,
 7726032196: 21.0,
 7726073957: 15.0,
 7726076612: 26.0,
 7726180596: 19.0,
 7726269678: 25.0,
 7726287412: 12.0,
 7726308486: 19.0,
 7726316374: 9.0,
 7726317748: 55.0,
 7726510766: 5.0,
 7726548174: 20.0,
 7726643460: 26.0,
 7726643607: 6.0,
 7726643910: 10.0,
 7726644294: 8.0,
 7726705564: 38.0,
 7726711536: 18.0,
 7726726998: 13.0,
 7726737848: 25.0,
 7727028555: 12.0,
 7727047597: 12.0,
 7727063221: 7.0,
 7727123537: 27.0,
 7727177370: 30.0,
 7727190237: 18.0,
 7727190251: 27.0,
 7727190396: 20.0,
 7727190406: 4.0,
 7727190597: 6.0,
 7727190607: 5.0,
 7727190727: 13.0,
 7727191008: 17.0,
 7727203790: 15.0,
 7727209223: 24.0,
 7727213822: 31.0,
 7727233787: 5.0,
 7727236153: 25.0,
 7727270740: 25.0,
 7727506272: 8.0,
 7727506385: 35.0,
 7727633880: 15.0,
 7727670699: 6.0,
 7727763713: 7.0,
 7727801020: 22.0,
 7727801856: 22.0,
 7727809855: 17.0,
 7727824902: 11.0,
 7727824998: 22.0,
 7727840510: 48.0,
 7727842676: 17.0,
 7727844401: 14.0,
 7727844458: 14.0,
 7727844923: 41.0,
 7727846487: 22.0,
 7727847191: 10.0,
 7728006064: 19.0,
 7728007477: 21.0,
 7728007484: 19.0,
 7728013054: 16.0,
 7728021866: 7.0,
 7728122631: 22.0,
 7728173731: 17.0,
 7728229430: 27.0,
 7728229720: 14.0,
 7728231302: 18.0,
 7728231581: 7.0,
 7728232708: 18.0,
 7728237583: 22.0,
 7728246980: 13.0,
 7728261353: 17.0,
 7728261681: 10.0,
 7728291206: 13.0,
 7728849434: 16.0,
 7728858365: 19.0,
 7728860815: 12.0,
 7728873109: 12.0,
 7728887366: 24.0,
 7728900440: 16.0,
 7728900803: 21.0,
 7729173011: 18.0,
 7729400426: 16.0,
 7729402381: 5.0,
 7729402889: 6.0,
 7729409041: 12.0,
 7729410230: 21.0,
 7729410368: 31.0,
 7729413009: 14.0,
 7729415535: 8.0,
 7729417973: 14.0,
 7729421592: 15.0,
 7729423286: 4.0,
 7729423688: 13.0,
 7729433767: 8.0,
 7729434070: 17.0,
 7729530457: 18.0,
 7729531411: 35.0,
 7729759977: 9.0,
 7729775619: 28.0,
 7729776838: 17.0,
 7729780048: 21.0,
 7729783137: 31.0,
 7729784388: 31.0,
 7729784613: 13.0,
 7729788505: 10.0,
 7730026170: 13.0,
 7730027030: 19.0,
 7730029051: 11.0,
 7730160480: 34.0,
 7730712331: 18.0,
 7731099453: 36.0,
 7731108147: 2.0,
 7731173259: 15.0,
 7731173523: 15.0,
 7731173700: 21.0,
 7731173812: 31.0,
 7731173820: 20.0,
 7731174051: 37.0,
 7731180591: 5.0,
 7731185543: 22.0,
 7731243019: 14.0,
 7731263128: 2.0,
 7731270005: 3.0,
 7731281039: 29.0,
 7731281046: 19.0,
 7731435497: 16.0,
 7731462620: 15.0,
 7731479261: 12.0,
 7731482850: 23.0,
 7731484984: 2.0,
 7731582090: 17.0,
 7732004550: 46.0,
 7732111054: 28.0,
 7732111858: 13.0,
 7732111865: 25.0,
 7732112259: 27.0,
 7732117313: 26.0,
 7732120595: 5.0,
 7732507722: 29.0,
 7733020995: 14.0,
 7733023121: 29.0,
 7733088746: 27.0,
 7733109058: 12.0,
 7733113047: 11.0,
 7733114266: 7.0,
 7733121993: 9.0,
 7733123920: 11.0,
 7733126624: 27.0,
 7733127762: 12.0,
 7733131543: 16.0,
 7733132610: 15.0,
 7733146243: 10.0,
 7733147247: 23.0,
 7733148875: 35.0,
 7733168737: 12.0,
 7733181336: 10.0,
 7733181390: 18.0,
 7733536758: 7.0,
 7733558487: 20.0,
 7733672292: 20.0,
 7733813218: 26.0,
 7733814148: 24.0,
 7733820977: 18.0,
 7733826016: 19.0,
 7733834994: 29.0,
 7733853690: 15.0,
 7733857776: 24.0,
 7734039741: 14.0,
 7734052005: 11.0,
 7734077088: 7.0,
 7734132109: 39.0,
 7734229661: 9.0,
 7734230995: 7.0,
 7734232015: 13.0,
 7734233259: 21.0,
 7734233770: 16.0,
 7734236901: 4.0,
 7734241813: 25.0,
 7734247614: 8.0,
 7734248978: 20.0,
 7734249770: 29.0,
 7734408766: 10.0,
 7734570529: 7.0,
 7734626387: 6.0,
 7734686844: 25.0,
 7734687492: 33.0,
 7734689877: 19.0,
 7734690061: 13.0,
 7735002230: 31.0,
 7735030808: 11.0,
 7735043162: 10.0,
 7735062655: 22.0,
 7735062743: 35.0,
 7735062750: 28.0,
 7735071709: 7.0,
 7735083380: 11.0,
 7735093928: 13.0,
 7735096823: 10.0,
 7735096830: 23.0,
 7735099084: 16.0,
 7735103742: 4.0,
 7735128049: 9.0,
 7735589106: 27.0,
 7735601120: 22.0,
 7736000370: 6.0,
 7736004960: 5.0,
 7736050780: 15.0,
 7736076587: 47.0,
 7736110982: 83.0,
 7736132129: 6.0,
 7736133845: 9.0,
 7736210850: 4.0,
 7736210899: 8.0,
 7736212529: 7.0,
 7736221097: 20.0,
 7736228173: 11.0,
 7736614860: 33.0,
 7736668110: 16.0,
 7736682034: 17.0,
 7737014368: 3.0,
 7737027335: 45.0,
 7737057354: 21.0,
 7737066359: 10.0,
 7737078033: 14.0,
 7737078410: 16.0,
 7737106756: 16.0,
 7737119057: 27.0,
 7737119096: 16.0,
 7737124402: 32.0,
 7737132026: 9.0,
 7743018882: 9.0,
 7743018900: 16.0,
 7743020747: 9.0,
 7743021236: 12.0,
 7743021300: 12.0,
 7743022631: 13.0,
 7743023522: 43.0,
 7743024068: 21.0,
 7743024357: 12.0,
 7743024406: 14.0,
 7743024928: 22.0,
 7743026202: 18.0,
 7743027693: 3.0,
 7743043649: 8.0,
 7743084684: 8.0,
 7743085543: 3.0,
 7743085712: 15.0,
 7743085720: 15.0,
 7743085744: 22.0,
 7743619481: 8.0,
 7743868110: 13.0,
 7743904344: 14.0,
 7743905443: 36.0,
 7743911729: 14.0,
 7743917311: 17.0,
 7743928539: 7.0,
 7743935328: 16.0,
 7743937357: 18.0,
 7743939315: 6.0,
 7743940590: 21.0,
 9705101759: 29.0,
 9715206976: 29.0,
 9715217689: 18.0,
 9718071371: 81.0}

In [300]:
ppl = res[['inn', 'szp']].sort_values('szp').dropna().groupby('inn')
keys = ppl.groups.keys()
val_1_7 = pd.DataFrame({'inn': [], 'val': []})
val_1_7

Empty DataFrame
Columns: [inn, val]
Index: []

In [301]:
for key in keys:
    top = ppl.get_group(key).tail(int(cut_off[key]))['szp'].mean()
    bot = ppl.get_group(key).head(int(cut_off[key]))['szp'].mean()
    t_df = pd.DataFrame({'inn': [key], 'val': [top / bot]})
    val_1_7 = pd.concat([val_1_7, t_df])

In [302]:
print_df(val_1_7, 'val_1_7')

In [303]:
cnt1 = res[res.job_feb == 'Учитель'][['inn', 'szp']].groupby('inn').mean().rename(columns={'szp':'cnt1'})
cnt2 = res[res.job_feb == 'Учитель'][['inn', 'szp']].groupby('inn').quantile(0.5).rename(columns={'szp':'q'})
cnt2 = pd.merge(cnt2, res[res.job_feb == 'Учитель'][['inn', 'snils', 'szp']], how='right', on='inn')
teach_perc_out = cnt2
cnt2 = cnt2[cnt2.szp <= cnt2.q][['inn', 'szp']].groupby('inn').mean().rename(columns={'szp':'cnt2'})
val_15 = pd.merge(cnt2, cnt1, how='left', on='inn')
val_15['val'] = val_15.cnt1 / val_15.cnt2
val_15[val_15.val >= 1.4]

Empty DataFrame
Columns: [cnt2, cnt1, val]
Index: []

In [304]:
print_df(val_15, 'val_15')
print_df(teach_perc_out, 'val_15_ppl')

In [239]:
def summ_isp(row, months):
    sum = 0
    for month in months:
        if row['job_' + month] in isp:
            sum += row['sum_' + month]
    if pd.isna(row['job_' + months[-1]]):
        return np.nan
    return sum

In [249]:
res

,inn,snils,sum_jan,job_jan,sum_feb,job_feb,szp,szp_ped,szp_teach,summ
0,5003021368,001-191-281 85,106626.88,Учитель,139753.92,Учитель,123190.40,123190.40,123190.40,246380.80
1,5003021368,001-244-107 65,109394.87,Учитель,109541.13,Учитель,109468.00,109468.00,109468.00,218936.00
2,5003021368,001-263-234 77,74520.00,Воспитатель,81178.00,Воспитатель,77849.00,77849.00,NaN,155698.00
3,5003021368,001-322-594 80,83013.52,Специалист,75815.00,Специалист,79414.26,NaN,NaN,0.00
4,5003021368,001-519-663 10,142589.38,Учитель,163810.32,Учитель,153199.85,153199.85,153199.85,306399.70
...,...,...,...,...,...,...,...,...,...,...
130956,9715217689,173-260-871 66,NaN,NaN,67358.00,Воспитатель,67358.00,67358.00,NaN,67358.00
130957,9715217689,184-638-768 23,NaN,NaN,142971.65,Педагог-организатор,142971.65,142971.65,NaN,142971.65
130958,9715217689,184-820-648 92,NaN,NaN,79250.00,Специалист по закупкам,79250.00,NaN,NaN,0.00
130959,9715217689,187-933-260 19,NaN,NaN,125727.05,Учитель,125727.05,125727.05,125727.05,125727.05
130960,9715217689,195-450-909 00,NaN,NaN,95099.10,Педагог-организатор,95099.10,95099.10,NaN,95099.10

In [250]:
def load_data(file):
    df = pd.read_excel(path_to_data + file + '.xlsx')
    df.stv = df.apply(lambda row: to_double(row, 'stv'), axis=1)
    sample = df[((df.type == 'Основное место работы') | (df.type == 'Внутреннее совместительство')) & (df.inn != 9718071371)]
    sums = sample.iloc[:, [0,1,2,3]].groupby(['inn', 'snils']).sum().reset_index()
    sums = pd.merge(sums, sample[sample.type == 'Основное место работы'], how='left', on='snils')
    sums = sums[['inn_x', 'snils', 'sum_x', 'stv', 'job']].drop_duplicates(['inn_x', 'snils', 'sum_x'])
    sums = sums.rename(columns = {'inn_x': 'inn', 'sum_x': 'sum_' + file, 'job':'job_' + file, 'stv': 'stv_' + file})
    return sums

In [305]:
prep = pd.merge(load_data('jan'), load_data('feb'), how='outer', on=['inn', 'snils'])
prep['summ'] = prep.apply(lambda row: summ_isp(row, ['jan', 'feb']), axis=1)
val_1_3_ppl = prep[(prep.summ.isna() == False) & (prep.summ > 0)]
val_1_3 = prep[['inn', 'sum_jan', 'sum_feb']].groupby('inn').sum().reset_index()
val_1_3['sum'] = val_1_3.sum_jan + val_1_3.sum_feb
prep = prep[['inn', 'summ']].groupby('inn').sum().reset_index()
val_1_3 = pd.merge(prep[['inn', 'summ']], val_1_3[['inn', 'sum']], how='left', on='inn')
val_1_3['ans'] = val_1_3['summ'] / val_1_3['sum']
val_1_3

            inn          summ           sum       ans
0    5003021368  1.554936e+08  1.811097e+08  0.858560
1    5003021495  1.885417e+08  2.205783e+08  0.854761
2    5003021640  1.383257e+08  1.614748e+08  0.856640
3    5003096290  8.109695e+07  1.030989e+08  0.786594
4    5030032182  4.509598e+07  5.465168e+07  0.825153
..          ...           ...           ...       ...
591  7743939315  1.446462e+07  1.809005e+07  0.799590
592  7743940590  5.645479e+07  7.001209e+07  0.806358
593  9705101759  0.000000e+00  9.733310e+07  0.000000
594  9715206976  7.509696e+07  9.860489e+07  0.761595
595  9715217689  3.618680e+07  4.469816e+07  0.809582

[596 rows x 4 columns]

In [306]:
print_df(val_1_3, 'val_1_3')
print_df(val_1_3_ppl, 'val_1_3_ppl')

In [307]:
val_1_3[val_1_3.ans < 0.75]

            inn         summ          sum       ans
12   7701032028   6862144.44   9803410.62  0.699975
13   7701050524  21026481.30  32631479.83  0.644362
14   7701113894   6076397.07   9258446.06  0.656309
16   7701375995   7877915.88  10951698.87  0.719333
19   7701406844   8955616.69  13207441.28  0.678074
..          ...          ...          ...       ...
579  7743085712  48772703.92  70623290.12  0.690604
580  7743085720  30113264.41  47020093.95  0.640434
581  7743085744  44283794.54  67107189.60  0.659896
590  7743937357  32665009.34  54765527.19  0.596452
593  9705101759         0.00  97333098.44  0.000000

[124 rows x 4 columns]

In [79]:
out = res[['inn', 'szp_ped']].groupby('inn').count().rename(columns={'szp_ped': 'Количество педов'})
out

            Количество педов
inn
5003021368               433
5003021495               447
5003021640               371
5003096290               285
5030032182               126
...                      ...
7743939315                42
7743940590               141
9705101759                 0
9715206976               182
9715217689               130

[595 rows x 1 columns]

In [92]:
out = df[df.job.isin(['Учитель'])].drop_duplicates(['inn', 'snils'])[['inn', 'snils']].groupby('inn').count().rename(columns={'snils':'Количество педов'})

In [94]:
out
wb = Workbook()
ws = wb.active
for  i in df_to_row(out, header=True):
    ws.append(i)
wb.save('teach.xlsx')

In [ ]:
school_sum = sample[['inn', 'sum']].groupby('inn').sum()

In [ ]:
school_sum

In [ ]:
s = sums.groupby(['snils']).count().reset_index()
wb = Workbook()
ws = wb.active
for  i in df_to_row(s, header=True):
    ws.append(i)
wb.save('test.xlsx')