In [2]:
from openpyxl import Workbook, load_workbook
import pandas as pd
from openpyxl.utils.dataframe import dataframe_to_rows as df_to_row

In [3]:
path_to_data = 'C:/Users/PetukhovMD/Desktop/szp/'
months = ['feb.xlsx', 'jan.xlsx']
sheet = 'Sheet'

In [4]:
def to_double(row, f_name):
    if type(row[f_name]) is float:
        return row[f_name] 
    t = str(row[f_name]).split(',')
    if t[0] == 'nan':
        return 0.0
    return float(t[0]+'.'+t[1])

In [9]:
df = pd.read_excel(path_to_data + 'feb.xlsx')

In [11]:
df.stv = df.apply(lambda row: to_double(row, 'stv'), axis=1)

In [56]:
df

,inn,snils,sum,job,day,type,stv,status
0,7734408766,001-879-913 57,119742.67,Преподаватель,0,Основное место работы,1.0,Работа
1,7734408766,001-896-420 39,142964.10,Преподаватель,0,Основное место работы,1.0,Работа
2,7734408766,002-050-383 67,68007.79,Преподаватель,1,Основное место работы,1.0,Работа
3,7734408766,002-065-271 85,91097.30,Преподаватель,0,Основное место работы,1.0,Работа
4,7734408766,002-845-525 25,114596.10,Преподаватель,0,Основное место работы,1.0,Работа
...,...,...,...,...,...,...,...,...
199468,7722069597,186-373-917 14,67494.74,Специалист по интернет-маркетингу,0,Основное место работы,1.0,Работа
199469,7722069597,187-703-552 01,62968.42,Воспитатель,0,Основное место работы,1.0,Болезнь
199470,7722069597,198-391-256 24,91973.89,Воспитатель,1,Основное место работы,1.0,Работа
199471,7722069597,202-693-820 52,73130.37,Учитель,0,Основное место работы,1.0,Болезнь
199472,7722069597,212-582-793 59,25815.79,Помощник воспитателя,0,Основное место работы,1.0,Работа

In [80]:
sample = df[(df.stv >= 1.0) & (df.status == 'Работа') & (df.day == 1) & ((df.type == 'Основное место работы') | (df.type == 'Внутреннее совместительство')) & (df.inn != 9718071371)]

In [89]:
sample

,inn,snils,sum,job,day,type,stv,status
2,7734408766,002-050-383 67,68007.79,Преподаватель,1,Основное место работы,1.0,Работа
5,7734408766,004-046-550 97,135508.53,Преподаватель,1,Основное место работы,1.0,Работа
6,7734408766,004-627-223 14,94723.14,Преподаватель,1,Основное место работы,1.0,Работа
9,7734408766,008-148-905 45,104534.51,Преподаватель,1,Основное место работы,1.0,Работа
10,7734408766,009-385-388 73,84833.29,Специалист,1,Основное место работы,1.0,Работа
...,...,...,...,...,...,...,...,...
199462,7722069597,176-492-809 15,84256.56,Учитель,1,Основное место работы,1.0,Работа
199465,7722069597,181-805-092 67,79315.79,Помощник воспитателя,1,Основное место работы,1.0,Работа
199466,7722069597,182-270-811 60,93601.98,Учитель,1,Основное место работы,1.0,Работа
199467,7722069597,185-526-241 86,89486.84,Помощник воспитателя,1,Основное место работы,1.0,Работа
199470,7722069597,198-391-256 24,91973.89,Воспитатель,1,Основное место работы,1.0,Работа

In [99]:
sums = sample.iloc[:, [0,1,2,3]].groupby(['inn', 'snils']).sum().reset_index()

In [102]:
sums

,inn_x,snils,sum_x,inn_y,sum_y,job,day,type,stv,status
0,5003021368,001-191-281 85,139753.92,5.003021e+09,139753.92,Учитель,1.0,Основное место работы,1.0,Работа
1,5003021368,001-244-107 65,109541.13,5.003021e+09,109541.13,Учитель,1.0,Основное место работы,1.0,Работа
2,5003021368,001-263-234 77,81178.00,5.003021e+09,81178.00,Воспитатель,1.0,Основное место работы,1.0,Работа
3,5003021368,001-322-594 80,75815.00,5.003021e+09,75815.00,Специалист,1.0,Основное место работы,1.0,Работа
4,5003021368,001-519-663 10,163810.32,5.003021e+09,163810.32,Учитель,1.0,Основное место работы,1.0,Работа
...,...,...,...,...,...,...,...,...,...,...
103295,9715217689,185-436-935 07,109297.85,9.715218e+09,109297.85,Учитель,1.0,Основное место работы,1.0,Работа
103296,9715217689,187-933-260 19,125727.05,9.715218e+09,125727.05,Учитель,1.0,Основное место работы,1.0,Работа
103297,9715217689,191-336-708 73,152459.25,9.715218e+09,152459.25,Учитель,1.0,Основное место работы,1.0,Работа
103298,9715217689,195-450-909 00,95099.10,9.715218e+09,95099.10,Педагог-организатор,1.0,Основное место работы,1.0,Работа
103299,9715217689,202-859-541 64,111550.00,9.715218e+09,111550.00,Старший воспитатель,1.0,Основное место работы,1.0,Работа

In [101]:
sums = pd.merge(sums, sample[sample.type == 'Основное место работы'], how='left', on='snils')

In [104]:
sums = sums[['inn_x', 'snils', 'sum_x', 'job']].drop_duplicates(['inn_x', 'snils', 'sum_x'])
sums

             inn_x           snils      sum_x                  job
0       5003021368  001-191-281 85  139753.92              Учитель
1       5003021368  001-244-107 65  109541.13              Учитель
2       5003021368  001-263-234 77   81178.00          Воспитатель
3       5003021368  001-322-594 80   75815.00           Специалист
4       5003021368  001-519-663 10  163810.32              Учитель
...            ...             ...        ...                  ...
103295  9715217689  185-436-935 07  109297.85              Учитель
103296  9715217689  187-933-260 19  125727.05              Учитель
103297  9715217689  191-336-708 73  152459.25              Учитель
103298  9715217689  195-450-909 00   95099.10  Педагог-организатор
103299  9715217689  202-859-541 64  111550.00  Старший воспитатель

[103299 rows x 4 columns]

In [94]:
sums[sums.snils == '003-847-537 44']

            inn_x           snils      sum_x      job
43142  7721809746  003-847-537 44  149871.05  Учитель
43143  7721809746  003-847-537 44  149871.05  Учитель

In [96]:
school_sum = sample[['inn', 'sum']].groupby('inn').sum()

In [98]:
len(school_sum)

595

In [78]:
s = sums.groupby(['snils']).count().reset_index()
wb = Workbook()
ws = wb.active
for  i in df_to_row(s, header=True):
    ws.append(i)
wb.save('test.xlsx')